PLAUSIBLE_IMAGE=plausible/analytics:v1.5.1
PLAUSIBLE_POSTGRES_IMAGE=postgres:14-alpine
PLAUSIBLE_SMTP_IMAGE=bytemark/smtp

PLAUSIBLE_TRAEFIK_HOST=plausible.example.com
PLAUSIBLE_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
PLAUSIBLE_INSTANCE_PROTECTION=false

PLAUSIBLE_SECRET_KEY_BASE=
PLAUSIBLE_POSTGRES_PASSWORD=

PLAUSIBLE_IP_SOURCERANGE=0.0.0.0/0

## PLAUSIBLE_DISABLE_REGISTRATION has three possible states:
### false => registration is allowed as normal, for both normal users and invited users
### invite_only => registration is allowed for those with an invite link, but prevented for normal users
### true => registration is entirely disabled, regardless of invite status
PLAUSIBLE_DISABLE_REGISTRATION=invite_only

# META:
# PREFIX=PLAUSIBLE
