PLAUSIBLE_TRAEFIK_HOST=plausible.example.com
PLAUSIBLE_INSTANCE=

PLAUSIBLE_SECRET_KEY_BASE=
PLAUSIBLE_POSTGRES_PASSWORD=

PLAUSIBLE_IP_SOURCERANGE=0.0.0.0/0

## PLAUSIBLE_DISABLE_REGISTRATION has three possible states:
### false => registration is allowed as normal, for both normal users and invited users
### invite_only => registration is allowed for those with an invite link, but prevented for normal users
### true => registration is entirely disabled, regardless of invite status
PLAUSIBLE_DISABLE_REGISTRATION=invite_only
