# The domain name for the iperf service:
IPERF_TRAEFIK_HOST=iperf.example.com

# The name of this instance. If there is only one instance, use 'default'.
IPERF_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
IPERF_IP_SOURCERANGE=0.0.0.0/0

# META:
# PREFIX=IPERF
