#! This is a ytt template file for docker-compose.override.yaml
#! References:
#!   https://carvel.dev/ytt
#!   https://docs.docker.com/compose/extends/#adding-and-overriding-configuration
#!   https://github.com/enigmacurry/d.rymcg.tech#overriding-docker-composeyaml-per-instance

#! ### Standard project vars:
#@ load("@ytt:data", "data")
#@ project = data.values.project
#@ instance = data.values.instance
#@ context = data.values.context
#@ traefik_host = data.values.traefik_host
#@ ip_sourcerange = data.values.ip_sourcerange
#@ enable_http_auth = len(data.values.http_auth.strip()) > 0
#@ http_auth = data.values.http_auth_var
#@ enable_oauth2 = data.values.oauth2 == "true"
#@ authorized_group = data.values.authorized_group
#@ enable_mtls_auth = data.values.enable_mtls_auth == "true"
#@ mtls_authorized_certs = data.values.mtls_authorized_certs
#@ enabled_middlewares = []

#! ### Project-specific vars:
#@ models_host_path = data.values.models_host_path
#@ compose_profile = data.values.compose_profile
#@ api_token = data.values.api_token
#@ model = data.values.model
#@ max_model_len = data.values.max_model_len
#@ hf_token = data.values.hf_token
#@ trust_remote_code = data.values.trust_remote_code
#@ enable_auto_tool_choice = data.values.enable_auto_tool_choice
#@ tool_call_parser = data.values.tool_call_parser

#@ def vllm_service(profile):
#@   service = "vllm-" + profile
#@   env = []
#@   if hf_token.strip():
#@     env.append("HF_TOKEN=${VLLM_HF_TOKEN}")
#@   end
#@   cmd = ["--model", model]
#@   if max_model_len.strip():
#@     cmd.extend(["--max-model-len", max_model_len])
#@   end
#@   if trust_remote_code == "true":
#@     cmd.append("--trust-remote-code")
#@   end
#@   if tool_call_parser.strip():
#@     if enable_auto_tool_choice == "true":
#@       cmd.append("--enable-auto-tool-choice")
#@     end
#@     cmd.extend(["--tool-call-parser", tool_call_parser])
#@   end
#@   router = "{}-{}-{}".format(project, instance, service)
#@   labels = []
#@   middlewares = []
#@   labels.append("traefik.enable=true")
#@   labels.append("traefik.http.services.{}.loadbalancer.server.port=8000".format(router))
#@   base_rule = "Host(`{}`)".format(traefik_host)
#@   if len(api_token.strip()):
#@     rule = base_rule + " && Header(`Authorization`, `Bearer ${VLLM_API_TOKEN}`)"
#@   else:
#@     rule = base_rule
#@   end
#@   labels.append("traefik.http.routers.{}.rule={}".format(router, rule))
#@   labels.append("traefik.http.routers.{}.entrypoints=websecure".format(router))
#@   middlewares.append("{}-ipallowlist".format(router))
#@   labels.append("traefik.http.middlewares.{}-ipallowlist.ipallowlist.sourcerange={}".format(router, ip_sourcerange))
#@   labels.append("traefik.http.routers.{}.middlewares={}".format(router, ",".join(middlewares)))
#@   volumes = []
#@   if models_host_path != "":
#@     volumes = ["{}:/root/.cache/huggingface".format(models_host_path)]
#@   end
#@   return {
#@     service: {
#@       "command": cmd,
#@       "volumes": volumes,
#@       "labels": labels,
#@       "environment": env
#@     }
#@   }
#@ end

#@yaml/text-templated-strings
services:
  #@ service_def = vllm_service(compose_profile)
  #@ for name, config in service_def.items():
  (@= name @):
    #@ for key, val in config.items():
    #@ if val != []:
    (@= key @):
      #@ for item in val:
      - (@= item @)
      #@ end
    #@ end
    #@ end
  #@ end
