MOPIDY_TRAEFIK_HOST=mopidy.example.com

## Limit the client IP addresses that can connect to mopidy (MPD):
## You can specify IPv4 or IPv6 address ranges, in CIDR format, comma separated:
## For example: MOPIDY_MPD_IP_SOURCERANGE=192.168.1.1/24,10.10.10.10/32
## The default 0.0.0.0/0 allows ALL connections:
MOPIDY_MPD_IP_SOURCERANGE=0.0.0.0/0

## Limit the client IP addresses that can connect to mopidy (MPD):
## You can specify IPv4 or IPv6 address ranges, in CIDR format, comma separated:
## For example: MOPIDY_SNAPCAST_IP_SOURCERANGE=192.168.1.1/24,10.10.10.10/32
## The default 0.0.0.0/0 allows ALL connections:
MOPIDY_SNAPCAST_IP_SOURCERANGE=0.0.0.0/0


## Set the MPD client password (can be blank):
MOPIDY_MPD_PASSWORD=

MOPIDY_SOUNDCLOUD_ENABLED=false
MOPIDY_SOUNDCLOUD_AUTH_TOKEN=