MOPIDY_TRAEFIK_HOST=mopidy.example.com

# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
MOPIDY_INSTANCE_PROTECTION=false

## Limit the client IP addresses that can connect to mopidy (MPD):
## You can specify IPv4 or IPv6 address ranges, in CIDR format, comma separated:
## For example: MOPIDY_MPD_IP_SOURCERANGE=192.168.1.1/24,10.10.10.10/32
## The default 0.0.0.0/0 allows ALL connections:
MOPIDY_MPD_IP_SOURCERANGE=0.0.0.0/0

## Limit the client IP addresses that can connect to snapcast for audio streaming:
## You can specify IPv4 or IPv6 address ranges, in CIDR format, comma separated:
## For example: MOPIDY_SNAPCAST_IP_SOURCERANGE=192.168.1.1/24,10.10.10.10/32
## The default 0.0.0.0/0 allows ALL connections:
MOPIDY_SNAPCAST_IP_SOURCERANGE=0.0.0.0/0

## Limit the client IP addresses that can connect to snapcast for controlling the mixer:
## You can specify IPv4 or IPv6 address ranges, in CIDR format, comma separated:
## For example: MOPIDY_SNAPCAST_CONTROL_IP_SOURCERANGE=192.168.1.1/24,10.10.10.10/32
## The default 0.0.0.0/0 allows ALL connections:
MOPIDY_SNAPCAST_CONTROL_IP_SOURCERANGE=0.0.0.0/0

## Set the MPD client password (can be blank):
MOPIDY_MPD_PASSWORD=

MOPIDY_SOUNDCLOUD_ENABLED=false
MOPIDY_SOUNDCLOUD_AUTH_TOKEN=

# META:
# PREFIX=MOPIDY
