# The docker image to use (https://hub.docker.com/r/leantime/leantime/tags)
LEANTIME_IMAGE=leantime/leantime:3.3.2
# The docker image to use for MySQL (https://hub.docker.com/_/mysql)
LEANTIME_MYSQL_IMAGE=mysql:9.1

# The domain name for the leantime service:
LEANTIME_TRAEFIK_HOST=leantime.example.com

# The name of this instance. If there is only one instance, use 'default'.
LEANTIME_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
LEANTIME_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
LEANTIME_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Gitea server can log into your app and
# have full access.
LEANTIME_OAUTH2=
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
LEANTIME_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
LEANTIME_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
LEANTIME_MTLS_AUTHORIZED_CERTS=*.clients.leantime.example.com

# Database passwords
LEANTIME_MYSQL_ROOT_PASSWORD=
LEANTIME_MYSQL_PASSWORD=

## Session Management - Salting sessions, use a strong password
LEANTIME_SESSION_PASSWORD=

# Use SMTP? If set to false, the default php mail() function will be used
LEANTIME_EMAIL_USE_SMTP=false
LEANTIME_EMAIL_SMTP_HOSTS=
LEANTIME_EMAIL_SMTP_AUTH=true
LEANTIME_EMAIL_SMTP_USERNAME=
LEANTIME_EMAIL_SMTP_PASSWORD=
# Enable TLS encryption automatically if a server supports it
LEANTIME_EMAIL_SMTP_AUTO_TLS=true
# Security protocol (usually one of: TLS, SSL, STARTTLS)
LEANTIME_EMAIL_SMTP_SECURE=TLS
# Allow insecure SSL? Set to true to not verify certificate, accept self-signed, etc.
LEANTIME_EMAIL_SMTP_SSLNOVERIFY=false
# Port (usually one of 25, 465, 587, 2526)
LEANTIME_EMAIL_SMTP_PORT=465
# Return email address
LEANTIME_EMAIL_RETURN=

# Set to 1 to turn on Leantime's internal debugging mode (visible in HTTP
# when you use the app). Set to 0 to disable debugging mode.
LEANTIME_DEBUG=0


## ==================================
## We're not currently using these configurations but I left them here,
## commented, for possible future expansion
## ==================================
# ## Fileuploads
# # Local relative path to store uploaded files (if not using S3)
# LEANTIME_USER_FILE_PATH='userfiles/'
# # Local relative path to store backup files, need permission to write
# LEANTIME_DB_BACKUP_PATH='backupdb/'
# 
# # S3 File Uploads
# LEANTIME_USE_S3=false
# LEANTIME_S3_KEY=''
# LEANTIME_S3_SECRET=''
# LEANTIME_S3_BUCKET=''
# # Sets the endpoint style: false => https://[bucket].[endpoint] ; true => https://[endpoint]/[bucket]
# LEANTIME_S3_USE_PATH_STYLE_ENDPOINT=false
# LEANTIME_S3_REGION=''
# # Foldername within S3 (can be empty)
# LEANTIME_S3_FOLDER_NAME=''
# # S3 EndPoint S3 Compatible (https://sfo2.digitaloceanspaces.com)
# LEANTIME_S3_END_POINT=null
# 
# ## LDAP
# # Default Leantime Role on creation. (set to editor)
# LEANTIME_LDAP_DEFAULT_ROLE_KEY=20;
# # Default role assignments upon first login.
# # optional - Can be updated later in user settings for each user
# LEANTIME_LDAP_GROUP_ASSIGNMENT="{
#                \"5\": {
#                  \"ltRole\":\"readonly\",
#                  \"ldapRole\":\"readonly\"
#                },
#                \"10\": {
#                  \"ltRole\":\"commenter\",
#                   \"ldapRole\":\"commenter\"
#                },
#                \"20\": {
#                  \"ltRole\":\"editor\",
#                   \"ldapRole\":\"editor\"
#                },
#                \"30\": {
#                  \"ltRole\":\"manager\",
#                   \"ldapRole\":\"manager\"
#                },
#                \"40\": {
#                  \"ltRole\":\"admin\",
#                   \"ldapRole\":\"administrators\"
#                },
#                \"50\": {
#                  \"ltRole\":\"owner\",
#                  \"ldapRole\":\"administrators\"
#                }
# }"
# 
# ## OpenID Connect
# # required
# LEANTIME_OIDC_ENABLE=false
# LEANTIME_OIDC_CLIENT_ID =
# LEANTIME_OIDC_CLIENT_SECRET =
# 
# # required - the URL for your provider (examples down below)
# #LEANTIME_OIDC_PROVIDER_URL =
# 
# #Create User if it doesn't exist in Leantime db, otherwise fail login
# LEANTIME_OIDC_CREATE_USER=false
# 
# # Default role for users created via OIDC (20 is editor)
# LEANTIME_OIDC_DEFAULT_ROLE=20
# 
# # optional - these will be read from the well-known configuration if possible
# #LEANTIME_OIDC_AUTH_URL_OVERRIDE =
# #LEANTIME_OIDC_TOKEN_URL_OVERRIDE =
# #LEANTIME_OIDC_JWKS_URL_OVERRIDE =
# #LEANTIME_OIDC_USERINFO_URL_OVERRIDE =
# 
# # optional - override the public key for RSA validation
# #LEANTIME_OIDC_CERTIFICATE_STRING =
# #LEANTIME_OIDC_CERTIFICATE_FILE =
# 
# # optional - override the requested scopes
# #LEANTIME_OIDC_SCOPES =
# 
# # optional - override the keys used for these fields
# #LEANTIME_OIDC_FIELD_EMAIL =
# #LEANTIME_OIDC_FIELD_FIRSTNAME =
# #LEANTIME_OIDC_FIELD_LASTNAME =
# #LEANTIME_OIDC_FIELD_PHONE =
# #LEANTIME_OIDC_FIELD_JOBTITLE =
# #LEANTIME_OIDC_FIELD_JOBLEVEL=
# #LEANTIME_OIDC_FIELD_DEPARTMENT =
# 
# ## OpenID Connect setting for GitHub
# #LEANTIME_OIDC_PROVIDER_URL=https://token.actions.githubusercontent.com/
# #LEANTIME_OIDC_AUTH_URL_OVERRIDE=https://github.com/login/oauth/authorize
# #LEANTIME_OIDC_TOKEN_URL_OVERRIDE=https://github.com/login/oauth/access_token
# #LEANTIME_OIDC_USERINFO_URL_OVERRIDE=https://api.github.com/user,https://api.github.com/user/emails
# #LEANTIME_OIDC_SCOPES=user:email,read:user
# #LEANTIME_OIDC_FIELD_EMAIL=0.email
# #LEANTIME_OIDC_FIELD_FIRSTNAME=name
# 
# ## Redis (for session storage and cache)
# # Set to true to use redis as session cache
# LEANTIME_USE_REDIS=false                             
# # Add URL path such as tcp://1.2.3.4:6379. If you are using a password, add ?auth=yourverycomplexpasswordhere to your URL
# LEANTIME_REDIS_URL=''
# LEANTIME_REDIS_HOST=''
# LEANTIME_REDIS_PORT=6379
# LEANTIME_REDIS_PASSWORD=''
# LEANTIME_REDIS_SCHEME=''
# 
# ## Rate limiting
# LEANTIME_RATELIMIT_GENERAL=1000
# LEANTIME_RATELIMIT_API=10
# LEANTIME_RATELIMIT_AUTH=20
## ==================================
