QBITTORRENT_TRAEFIK_HOST=transmission.example.com
QBITTORRENT_INSTANCE=
TIMEZONE=Etc/UTC

## Where to store downloads and torrent files?
## This can be a named docker volume OR a host mounted absolute path:
## Make sure to create this directory before install:
QBITTORRENT_DOWNLOAD_VOLUME=/tmp/downloads

## Open the peer port in your VPN provider interface.
## The VPN provider will give you a random public port number.
## Update the port number they give you into QBITTORRENT_PEER_PORT
QBITTORRENT_PEER_PORT=51413

## Traefik htpasswd encoded authentication
## (automatically set via `make config`):
QBITTORRENT_HTTP_AUTH=
## Traefik IP whitelist filter to block access to the client interface:
## (does not affect peer connections)
QBITTORRENT_IP_SOURCERANGE=0.0.0.0/0

## Options copied from your VPN provider's wireguard config file:
QBITTORRENT_VPN_CLIENT_INTERFACE_IPV4=
QBITTORRENT_VPN_CLIENT_INTERFACE_IPV6=
QBITTORRENT_VPN_CLIENT_INTERFACE_PRIVATE_KEY=
QBITTORRENT_VPN_CLIENT_INTERFACE_LISTEN_PORT=51820
QBITTORRENT_VPN_CLIENT_INTERFACE_PEER_DNS=
QBITTORRENT_VPN_CLIENT_PEER_PUBLIC_KEY=
QBITTORRENT_VPN_CLIENT_PEER_PRESHARED_KEY=
QBITTORRENT_VPN_CLIENT_PEER_ENDPOINT=
QBITTORRENT_VPN_CLIENT_PEER_ALLOWED_IPS=0.0.0.0/0,::0/0

QBITTORRENT_RPC_BIND_ADDRESS=0.0.0.0

# Default blocklist from https://github.com/Naunter/BT_BlockLists/
QBITTORRENT_BLOCKLIST_URL=https://github.com/Naunter/BT_BlockLists/raw/master/bt_blocklists.gz
