QBITTORRENT_TRAEFIK_HOST=transmission.example.com
QBITTORRENT_INSTANCE=
TIMEZONE=Etc/UTC

## Where to store downloads and torrent files?
## This can be a named docker volume OR a host mounted absolute path:
## Make sure to create this directory before install:
QBITTORRENT_DOWNLOAD_VOLUME=/tmp/downloads

## Open the peer port in your VPN provider interface.
## The VPN provider will give you a random public port number.
## Update the port number they give you into QBITTORRENT_PEER_PORT
QBITTORRENT_PEER_PORT=51413

## Traefik htpasswd encoded authentication
## (automatically set via `make config`):
QBITTORRENT_HTTP_AUTH=
## Traefik IP whitelist filter to block access to the client interface:
## (does not affect peer connections)
QBITTORRENT_IP_SOURCERANGE=0.0.0.0/0

## Options copied from your VPN provider's wireguard config file:
QBITTORRENT_VPN_CLIENT_INTERFACE_IPV4=
QBITTORRENT_VPN_CLIENT_INTERFACE_IPV6=
QBITTORRENT_VPN_CLIENT_INTERFACE_PRIVATE_KEY=
QBITTORRENT_VPN_CLIENT_INTERFACE_LISTEN_PORT=51820
QBITTORRENT_VPN_CLIENT_INTERFACE_PEER_DNS=
QBITTORRENT_VPN_CLIENT_PEER_PUBLIC_KEY=
QBITTORRENT_VPN_CLIENT_PEER_PRESHARED_KEY=
QBITTORRENT_VPN_CLIENT_PEER_ENDPOINT=
#QBITTORRENT_VPN_CLIENT_PEER_ALLOWED_IPS=0.0.0.0/0,::0/0 # <-- this was problematic: https://github.com/linuxserver/docker-wireguard/issues/106
QBITTORRENT_VPN_CLIENT_PEER_ALLOWED_IPS=

QBITTORRENT_RPC_BIND_ADDRESS=0.0.0.0

# Default blocklist from https://github.com/Naunter/BT_BlockLists/
QBITTORRENT_BLOCKLIST_URL=https://github.com/Naunter/BT_BlockLists/raw/master/bt_blocklists.gz


## qBittorrent config options
## Once up and running, you can configure qBittorrent in its web UI, but
## qBittorrent's configs are reset on each startup of the Docker container.
## So we set them in environment variables on each startup. 
## 
## The qBittorrent configurations are not include in `make config` - you'll
## need to manually edit your `.env` file to adjust them.
## 
## You might need to install qBittorrent and set the variable in the its web
## UI, then copy the value from
## `/var/lib/docker/volumes/<container's volume name>/qBittorrent/_data/qBittorrent/qBittorrent.conf`
## (on the host) and paste it your `.env` file. 
## 
## You can set other qBittorrent configurations not already in your `.env` file
## by adding the configuration's name from qBittorrent.conf. E.g., to set the
## qBittorrent config "Connection\UPnP", add "QBITTORRENT_ConnectionUPnP=" to
## your `.env` file, followed by whatever value you want to set. Notice that you
## should preceed the qBittorrent config name with "QBITTORRENT_" and remove
## all "\" from the config name.
## 
## In your `.env` file, the lines in \[brackets\] are simply qBittorrent
## configuration categories, for your reference.
## 
## If you change any qBittorrent config values, run `make install`.

# [AutoRun]
QBITTORRENT_OnTorrentAddedEnabled=false
QBITTORRENT_OnTorrentAddedProgram=
QBITTORRENT_enabled=false
QBITTORRENT_program=

# [BitTorrent]
QBITTORRENT_SessionAddExtensionToIncompleteFiles=true
QBITTORRENT_SessionAlternativeGlobalDLSpeedLimit=500
QBITTORRENT_SessionAlternativeGlobalUPSpeedLimit=250
QBITTORRENT_SessionDefaultSavePath=/downloads/
QBITTORRENT_SessionDisableAutoTMMByDefault=false
QBITTORRENT_SessionDisableAutoTMMTriggersCategorySavePathChanged=false
QBITTORRENT_SessionDisableAutoTMMTriggersDefaultSavePathChanged=false
QBITTORRENT_SessionExcludedFileNames=
QBITTORRENT_SessionIgnoreSlowTorrentsForQueueing=true
QBITTORRENT_SessionMaxActiveDownloads=3
QBITTORRENT_SessionMaxActiveTorrents=3
QBITTORRENT_SessionMaxActiveUploads=3
QBITTORRENT_SessionTempPath=/downloads/incomplete/
QBITTORRENT_SessionTempPathEnabled=true
QBITTORRENT_SessionTorrentExportDirectory=/downloads/torrents

# [Core]
QBITTORRENT_AutoDeleteAddedTorrentFile=Never

# [Preferences]
QBITTORRENT_DownloadsSavePath=/downloads/
QBITTORRENT_DownloadsTempPath=/downloads/incomplete/
QBITTORRENT_GeneralLocale=en
QBITTORRENT_MailNotificationemail=
QBITTORRENT_MailNotificationenabled=false
QBITTORRENT_MailNotificationpassword=
QBITTORRENT_MailNotificationreq_auth=true
QBITTORRENT_MailNotificationreq_ssl=false
QBITTORRENT_MailNotificationsender=qBittorrent_notification@example.com
QBITTORRENT_MailNotificationsmtp_server=smtp.changeme.com
QBITTORRENT_MailNotificationusername=
QBITTORRENT_WebUICustomHTTPHeaders=
QBITTORRENT_WebUICustomHTTPHeadersEnabled=false
QBITTORRENT_WebUIHostHeaderValidation=true
QBITTORRENT_WebUIReverseProxySupportEnabled=false
QBITTORRENT_WebUITrustedReverseProxiesList=
