# The domain name for the whoami service:
WHOAMI_TRAEFIK_HOST=whoami.example.com
# The whoami instance name (shown in all responses)
WHOAMI_NAME=
# Filter access by IP address source range (CIDR):
##Disallow all access:
#WHOAMI_IP_SOURCERANGE="0.0.0.0/32"
##Allow all access:
WHOAMI_IP_SOURCERANGE="0.0.0.0/0"

WHOAMI_UID=54321
WHOAMI_GID=54321
