# The domain name for the whoami service:
WHOAMI_TRAEFIK_HOST=whoami.example.com

# Filter access by IP address source range (CIDR):
##Disallow all access:
#IP_SOURCERANGE="0.0.0.0/32"
##Allow all access:
IP_SOURCERANGE="0.0.0.0/0"

# The traefik certificate resolver:
# Can be production, staging, or acme-dns.
ACME_CERT_RESOLVER=production

# The root domain is used for creating a wildcard certificate for *.example.com
# (only used when using ACME DNS-01 challenge type)
ROOT_DOMAIN=example.com
