# The docker image to use:
WHOAMI_IMAGE=traefik/whoami

# The domain name for the whoami service:
WHOAMI_TRAEFIK_HOST=whoami.example.com

# The name of this instance. If there is only one instance, use 'default'.
WHOAMI_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
WHOAMI_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
WHOAMI_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
WHOAMI_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
WHOAMI_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
WHOAMI_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
WHOAMI_MTLS_AUTHORIZED_CERTS=*.clients.whoami.example.com

## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
WHOAMI_HOMEPAGE_LABELS_ENABLE=true
WHOAMI_HOMEPAGE_GROUP_WHOAMI=Network
WHOAMI_HOMEPAGE_NAME_WHOAMI=Whoami
WHOAMI_HOMEPAGE_ICON_WHOAMI=mdi-cloud-question
WHOAMI_HOMEPAGE_DESCRIPTION_WHOAMI=An HTTP test service
WHOAMI_HOMEPAGE_SHOW_STATS_WHOAMI=true
## Homepage doesn't have a widget for whoami, but this is an example for other apps to follow:
WHOAMI_HOMEPAGE_WIDGET_ENABLE=false
WHOAMI_HOMEPAGE_WIDGET_API_KEY=

# META:
# PREFIX=WHOAMI
