TIDDLYWIKI_NODEJS_TRAEFIK_HOST=wiki.example.com
TIDDLYWIKI_NODEJS_INSTANCE=

# https://tiddlywiki.com/#Editions
TIDDLYWIKI_NODEJS_IMPORT_URL=https://tiddlywiki.com/empty.html

TIDDLYWIKI_NODEJS_HTTP_AUTH=

## The NodeJS server is protected by HTTP Basic Authentication
## And its available from any IP address by default:
TIDDLYWIKI_NODEJS_IP_SOURCERANGE=0.0.0.0/0
## The public static site is disabled to all by default:
TIDDLYWIKI_PUBLIC_IP_SOURCERANGE=0.0.0.0/32

TIDDLYWIKI_NODEJS_NGINX_SERVER_NAME=tidlywiki
TIDDLYWIKI_NODEJS_NGINX_UID=54321
TIDDLYWIKI_NODEJS_NGINX_GID=54321

