AWS_INSTANCE_NAME=docker-dev
AWS_ROOT_DOMAIN=example.com
AWS_KEY_PAIR_NAME=
AWS_INSTANCE_TYPE=t2.small
AWS_ROOT_VOLUME_SIZE=10
AWS_DOCKER_VOLUME_SIZE=50
AWS_SSH_CIDR=0.0.0.0/0
AWS_REGION=us-east-1
AWS_OPEN_PORTS=

# META:
# PREFIX=AWS
