# The docker image to use:
YOURLS_IMAGE=yourls:1.9.2
YOURLS_MYSQL_IMAGE=mysql:8.4

# The domain name for the yourls service:
YOURLS_TRAEFIK_HOST=yourls.example.com

# The name of this instance. If there is only one instance, use 'default'.
YOURLS_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
YOURLS_INSTANCE_PROTECTION=false

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
YOURLS_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
YOURLS_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
YOURLS_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
YOURLS_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
YOURLS_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
YOURLS_MTLS_AUTHORIZED_CERTS=*.clients.yourls.example.com

# Create a username and password for your YOURLS instance
YOURLS_USER=
YOURLS_PASS=

# Database password
MYSQL_ROOT_PASSWORD=

# A random secret hash used to encrypt cookies. You don't have to remember it.
YOURLS_COOKIEKEY=

# Set to true to allow only one short URL per long URL (default YOURLS behavior), or
# to false to allow creation of multiple short URLs pointing to the same
# long URL (as bit.ly does)
YOURLS_UNIQUE_URLS=true

# URLs to download plugins to include by default
YOURLS_PLUGIN_CHANGE_PASSWORD_PACKAGE_DIST=https://raw.githubusercontent.com/ozh/yourls-change-password/refs/heads/master/plugin.php
YOURLS_PLUGIN_FORCE_LOWERCASE_PACKAGE_DIST=https://raw.githubusercontent.com/YOURLS/force-lowercase/refs/heads/master/plugin.php
YOURLS_PLUGIN_DOWNLOAD_PLUGIN_PACKAGE_DIST=https://raw.githubusercontent.com/krissss/yourls-download-plugin/refs/heads/master/plugin.php


# META:
# PREFIX=YOURLS
