QBITTORRENT_TRAEFIK_HOST=qbittorrent.example.com

# The image to use:
# https://hub.docker.com/r/linuxserver/qbittorrent/tags
QBITTORRENT_IMAGE=linuxserver/qbittorrent:5.1.2

QBITTORRENT_INSTANCE=
TIMEZONE=Etc/UTC

## Where to store downloads and torrent files?
## This can be a named docker volume OR a host mounted absolute path:
## Make sure to create this directory before install:
QBITTORRENT_DOWNLOAD_VOLUME=

## Open the peer port in your VPN provider interface.
## The VPN provider will give you a random public port number.
## Update the port number they give you into QBITTORRENT_PEER_PORT
QBITTORRENT_PEER_PORT=51413

## Traefik htpasswd encoded authentication
## (automatically set via `make config`):
QBITTORRENT_HTTP_AUTH=
# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
QBITTORRENT_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
QBITTORRENT_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
QBITTORRENT_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
QBITTORRENT_MTLS_AUTHORIZED_CERTS=*.clients.qbittorrent.example.com

## Traefik IP whitelist filter to block access to the client interface:
## (does not affect peer connections)
QBITTORRENT_IP_SOURCERANGE=0.0.0.0/0


QBITTORRENT_UID=1000
QBITTORRENT_GID=1000

# Choose network mode:
## default == normal container networking
## container:wireguard-wireguard-1 == use other container as router
QBITTORRENT_NETWORK_MODE=default

QBITTORRENT_RPC_BIND_ADDRESS=0.0.0.0

# Default blocklist from https://github.com/Naunter/BT_BlockLists/
QBITTORRENT_BLOCKLIST_URL=https://github.com/Naunter/BT_BlockLists/raw/master/bt_blocklists.gz


## qBittorrent config options
## Once up and running, you can configure qBittorrent in its web UI, but
## qBittorrent's configs are reset on each startup of the Docker container.
## So we set them in environment variables on each startup.
##
## The qBittorrent configurations are not included in `make config` - you'll
## need to manually edit your `.env` file to adjust them.
##
## You might need to install qBittorrent and set the variable in its web
## UI, then copy the value from
## `/var/lib/docker/volumes/<container's volume name>/qBittorrent/_data/qBittorrent/qBittorrent.conf`
## (on the host) and paste it your `.env` file.
##
## In your `.env` file, the lines in \[brackets\] are simply qBittorrent
## configuration categories, for your reference.
##
## If you change any qBittorrent config values, run `make install`.

# [AutoRun]
QBITTORRENT_OnTorrentAddedEnabled=false
QBITTORRENT_OnTorrentAddedProgram=
QBITTORRENT_enabled=false
QBITTORRENT_program=

# [BitTorrent]
QBITTORRENT_SessionAddExtensionToIncompleteFiles=true
QBITTORRENT_SessionAlternativeGlobalDLSpeedLimit=500
QBITTORRENT_SessionAlternativeGlobalUPSpeedLimit=250
QBITTORRENT_SessionDefaultSavePath=/downloads/
QBITTORRENT_SessionDisableAutoTMMByDefault=false
QBITTORRENT_SessionDisableAutoTMMTriggersCategorySavePathChanged=false
QBITTORRENT_SessionDisableAutoTMMTriggersDefaultSavePathChanged=false
QBITTORRENT_SessionExcludedFileNames=
QBITTORRENT_SessionQueueingSystemEnabled=true
QBITTORRENT_SessionIgnoreSlowTorrentsForQueueing=true
QBITTORRENT_SessionMaxActiveDownloads=3
QBITTORRENT_SessionMaxActiveTorrents=3
QBITTORRENT_SessionMaxActiveUploads=3
QBITTORRENT_SessionTempPath=/downloads/incomplete/
QBITTORRENT_SessionTorrentExportDirectory=/downloads/torrents
QBITTORRENT_SessionTempPathEnabled=true
QBITTORRENT_SessionTorrentContentLayout=Subfolder
QBITTORRENT_SessionUseAlternativeGlobalSpeedLimit=false
QBITTORRENT_SessionBandwidthSchedulerEnabled=false
QBITTORRENT_SessionInterface=
QBITTORRENT_SessionInterfaceName=
QBITTORRENT_MergeTrackersEnabled=true
QBITTORRENT_SessionSubcategoriesEnabled=false
QBITTORRENT_SessionUseCategoryPathsInManualMode=false
QBITTORRENT_SessionAnonymousModeEnabled=true
QBITTORRENT_SessionTorrentStopCondition=None

# [Core]
QBITTORRENT_AutoDeleteAddedTorrentFile=Never

# [Preferences]
QBITTORRENT_DownloadsSavePath=/downloads/
QBITTORRENT_DownloadsTempPath=/downloads/incomplete/
QBITTORRENT_GeneralLocale=en
QBITTORRENT_MailNotificationemail=
QBITTORRENT_MailNotificationenabled=false
QBITTORRENT_MailNotificationpassword=
QBITTORRENT_MailNotificationreq_auth=true
QBITTORRENT_MailNotificationreq_ssl=false
QBITTORRENT_MailNotificationsender=qBittorrent_notification@example.com
QBITTORRENT_MailNotificationsmtp_server=smtp.changeme.com
QBITTORRENT_MailNotificationusername=
QBITTORRENT_Schedulerdays=
QBITTORRENT_Schedulerend_time=
QBITTORRENT_Schedulerstart_time=
QBITTORRENT_WebUIUsername=admin
QBITTORRENT_WebUIPassword=admin
QBITTORRENT_WebUILocalHostAuth=true
QBITTORRENT_WebUIAuthSubnetWhitelistEnabled=false
QBITTORRENT_WebUIAuthSubnetWhitelist=0.0.0.0/0
QBITTORRENT_WebUIClickjackingProtection=false
QBITTORRENT_WebUICSRFProtection=false
QBITTORRENT_GeneralStatusbarExternalIPDisplayed=true

## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
QBITTORRENT_HOMEPAGE_LABELS_ENABLE=true
QBITTORRENT_HOMEPAGE_GROUP_QBITTORRENT=Network
QBITTORRENT_HOMEPAGE_NAME_QBITTORRENT=qBittorrent-Wireguard
# Choose a service icon from any of these services:
## https://dashboardicons.com/                 :: no prefix needed
## https://pictogrammers.com/library/mdi/      :: prefix with mdi-*
## https://simpleicons.org/                    :: prefix with si-*
## https://selfh.st/icons/                     :: prefix with sh-*
QBITTORRENT_HOMEPAGE_ICON_QBITTORRENT=qbittorrent
## If description is blank, it will default to the the traefik_host:
QBITTORRENT_HOMEPAGE_DESCRIPTION_QBITTORRENT=
## Display container stats widget:
QBITTORRENT_HOMEPAGE_SHOW_STATS_QBITTORRENT=false

# META:
# PREFIX=QBITTORRENT
