# sample DarkIce configuration file, edit for your needs before using
# see the darkice.cfg man page for details

# this section describes general aspects of the live streaming session
[general]
duration        = 0        # duration of encoding, in seconds. 0 means forever
bufferSecs      = 5         # size of internal slip buffer, in seconds
reconnect       = yes       # reconnect to the server(s) if disconnected
realtime        = yes       # run the encoder with POSIX realtime priority
rtprio          = 3         # scheduling priority for the realtime threads

# this section describes the audio input that will be streamed
[input]
device          = pulseaudio # Use Pulseaudio sink
sampleRate      = 44100      # sample rate in Hz. try 11025, 22050 or 44100
bitsPerSample   = 16         # bits per sample. try 16
channel         = 2          # channels. 1 = mono, 2 = stereo
paSourceName    = icecast.monitor

# this section describes a streaming connection to an IceCast2 server
# there may be up to 8 of these sections, named [icecast2-0] ... [icecast2-7]
# these can be mixed with [icecast-x] and [shoutcast-x] sections
[icecast2-0]
bitrateMode     = abr       # average bit rate
format          = vorbis    # format of the stream: ogg vorbis
bitrate         = 256       # bitrate of the stream sent to the server
server          = localhost
                            # host name of the server
port            = 8001      # port of the IceCast2 server, usually 8000
password        = hackme
mountPoint      = darkice   # mount point of this stream on the IceCast2 server
name            = DarkIce
                            # name of the stream
description     = DarkIce
                            # description of the stream
url             = http://www.yourserver.com
                            # URL related to the stream
genre           = my own    # genre of the stream
public          = yes       # advertise this stream?
localDumpFile	= dump.ogg  # local dump file
