# The docker image to use:
REGISTRY_IMAGE=registry:2

# The domain name for the registry service:
REGISTRY_TRAEFIK_HOST=registry.example.com

# The name of this instance. If there is only one instance, use 'default'.
REGISTRY_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
REGISTRY_INSTANCE_PROTECTION=false

# Each instance should have a unique http secret
REGISTRY_HTTP_SECRET=

## Storage backend: "docker" or "s3"
REGISTRY_STORAGE_BACKEND=docker

## S3 Bucket settings (ignored if REGISTRY_STORAGE_BACKEND=docker)
REGISTRY_STORAGE_S3_ENDPOINT=https://s3.example.com
REGISTRY_STORAGE_S3_REGION=
REGISTRY_STORAGE_S3_BUCKET=
REGISTRY_STORAGE_S3_ACCESS_KEY=
REGISTRY_STORAGE_S3_SECRET_KEY=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
REGISTRY_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
REGISTRY_HTTP_AUTH=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
REGISTRY_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
REGISTRY_MTLS_AUTHORIZED_CERTS=*.clients.registry.example.com

## Allow public (unauthenticated) read-only access (docker pull without docker login):
REGISTRY_PUBLIC=false

# META:
# PREFIX=REGISTRY
