#The domain name for the main service:
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_TRAEFIK_HOST=${CREATE_TEMPLATE_PROJECT_NAME}.example.com

#The custom name shown in all HTTP responses
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_NAME=

#Filter access by IP address source range (CIDR):
##Disallow all access:
#${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_IP_SOURCERANGE="0.0.0.0/32"
##Allow all access:
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_IP_SOURCERANGE="0.0.0.0/0"

##You can customize the UID and GID that the container runs as, this
##is passed to the Dockerfile as a build ARG.
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_UID=54321
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_GID=54321

##If deploying multiple instances, this is the identifier for each:
##`make config` will set this to `default` if not specified
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_INSTANCE=
