## POSTGRES_HOST can be any domain that resolves to your Docker server:
## This name is used in the server certificate as part of the sslmode=verify-full option
POSTGRES_HOST=postgres.example.com
POSTGRES_INSTANCE=

## The docker tag for the postgres image:
POSTGRES_VERSION=16
POSTGRES_PGRATIONAL_VERSION=v0.0.2

## The postgres image creates the POSTGRES_USER as a Super User and with POSTGRES_PASSWORD.
## We will rename these here as POSTGRES_ADMIN_USER and POSTGRES_ADMIN_PASSWORD
## The POSTGRES_ADMIN_USER can ONLY log in from the root terminal console, not via the network.
POSTGRES_ADMIN_USER=root

## Note: This password is required to be set by the postgres image, but its not
## being used in any of the authentication schemes currently defined in our
## customized pg_hba.conf, so this password doesn't really matter.
POSTGRES_ADMIN_PASSWORD=

## The name of the database to create on first startup:
## (as well as the username to connect to it):
POSTGRES_DB=tweedle

## The external TCP port mapped on the docker host (public access!)
## Each instance running on the same host must have a unique port.
POSTGRES_EXTERNAL_TCP_PORT=5432

## Allowed IP address source range (CIDR with /netmask) for postgres clients to connect:
## eg. To allow any host to conenct (still needs valid certificate), use: 0.0.0.0/0
## eg. To allow only a single ip to connect (example 192.168.1.1), use: 192.168.1.1/32
POSTGRES_ALLOWED_IP_SOURCERANGE=0.0.0.0/0

## Set this to true to turn on backups via pgbackrest:
POSTGRES_PGBACKREST=false
## pgbackrest backup storage repositories to enable:
### Set each one to true you wish to enable (Setting them all false will disable backups)
POSTGRES_PGBACKREST_LOCAL=false
POSTGRES_PGBACKREST_LOCAL_RETENTION_FULL=2
POSTGRES_PGBACKREST_LOCAL_RETENTION_DIFF=4
POSTGRES_PGBACKREST_S3=false
POSTGRES_PGBACKREST_S3_RETENTION_FULL=4
POSTGRES_PGBACKREST_S3_RETENTION_DIFF=8
POSTGRES_PGBACKREST_S3_ENDPOINT=s3.example.com
POSTGRES_PGBACKREST_S3_REGION=
POSTGRES_PGBACKREST_S3_BUCKET=my-bucket
POSTGRES_PGBACKREST_S3_KEY_ID=my-access-key-id
POSTGRES_PGBACKREST_S3_KEY_SECRET=my-secret-key

## Optional encryption passphrase for backups (leave it blank to disable encryption):
## (Keep this safe, obviously, you will need this later in order to perform restoration!)
POSTGRES_PGBACKREST_ENCRYPTION_PASSPHRASE=
