POSTGRES_TRAEFIK_HOST=postgres.example.com
ACME_CERT_RESOLVER=production

POSTGRES_VERSION=14

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

EXTERNAL_TCP_PORT=5432

## Allowed IP address source range (CIDR with netmask) for postgres clients to connect:
## eg. To allow any host to conenct, use: 0.0.0.0/0
## eg. To allow only a single ip to connect: 192.168.1.1/32
ALLOWED_IP_SOURCERANGE=0.0.0.0/0
