# The (default) root domain for all projects:
ROOT_DOMAIN=d.example.com

# The default answer for the question as to whether or not to store cleartext credentials in passwords.json
# This does not automatically choose one or the other, you must still choose during `make config`,
# but this will affect the questions default answer: Y/n vs y/N
# only setting this "true" will cause the default answer to be Y/n, otherwise it will be y/N.
DEFAULT_SAVE_CLEARTEXT_PASSWORDS_JSON=false
