# The (default) root domain for all projects:
ROOT_DOMAIN=d.example.com

# The default answer for the question as to whether or not to store cleartext credentials in passwords.json
# This does not automatically choose one or the other, you must still choose during `make config`,
# but this will affect the questions default answer: Y/n vs y/N
# only setting this "true" will cause the default answer to be Y/n, otherwise it will be y/N.
DEFAULT_SAVE_CLEARTEXT_PASSWORDS_JSON=false

## These PUBLIC ports should never influence which ports a service actually uses.
## Instead, they are only used when generating a URL, like with `make open`.
## If set to their default (80 and 443), `make open` will generate a url like `https://service`,
## whereas if PUBLIC_HTTP_PORT=8443, it will make the URL like `https://service:8443`.
## This can be useful even when Traefik is configured to use the default port,
## for example, when a NAT gateway in front of Traefik is translating the port,
## like in the case of user-space KVM, which cannot bind to ports
## <1024, forcing the end user to use a non-standard port.
PUBLIC_HTTP_PORT=80
PUBLIC_HTTPS_PORT=443
