.env
.env_*
/*.tgz
/*.tgz.gpg
passwords.json
/filestash/state/
.gitmodules
/mikeapp/
docker-compose.override*.yaml
dump.*
tasks.org
node_modules
_scripts/script-wizard
/gradio/gradio/chatbot/__pycache__/
app-router-bootstrap.sh
