JUPYTERLAB_TRAEFIK_HOST=jupyterlab.example.com
JUPYTERLAB_INSTANCE=

## Two base images to choose from:
#JUPYTERLAB_IMAGE=jupyter/minimal-notebook
JUPYTERLAB_IMAGE=jupyter/scipy-notebook

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
JUPYTERLAB_IP_SOURCERANGE=0.0.0.0/0

JUPYTERLAB_JUPYTER_TOKEN=
