CADDY_IMAGE=caddy:2
CADDY_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
CADDY_INSTANCE_PROTECTION=false

CADDY_TRAEFIK_HOST=caddy.example.com

# The Traefik entrypoint to use:
CADDY_TRAEFIK_ENTRYPOINT=websecure
CADDY_IP_SOURCERANGE=0.0.0.0/0
CADDY_ACME_CA=acme-v02.api.letsencrypt.org

# META:
# PREFIX=CADDY
