ARIA2_TRAEFIK_HOST=aria2.example.com

ARIA2_GIT_REPO=https://github.com/EnigmaCurry/webui-aria2.git
ARIA2_GIT_BRANCH=master

ARIA2_INSTANCE=

## Where to store downloaded files?
## This can be a named docker volume OR a host mounted absolute path:
## Make sure to create this directory before install:
ARIA2_DOWNLOAD_VOLUME=

## Traefik htpasswd encoded authentication
## (automatically set via `make config`):
ARIA2_HTTP_AUTH=
# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
ARIA2_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.

ARIA2_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
ARIA2_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
ARIA2_MTLS_AUTHORIZED_CERTS=*.clients.aria2.example.com

## Traefik IP whitelist filter to block access to the client interface:
## (does not affect peer connections)
ARIA2_IP_SOURCERANGE=0.0.0.0/0

ARIA2_UID=1000
ARIA2_GID=1000

# Choose network mode:
## default == normal container networking
## container:wireguard-wireguard-1 == use other container as router
ARIA2_NETWORK_MODE=default

## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
ARIA2_HOMEPAGE_LABELS_ENABLE=true
ARIA2_HOMEPAGE_GROUP_ARIA2=Network
ARIA2_HOMEPAGE_NAME_ARIA2=aria2
# Choose a service icon from any of these services:
## https://dashboardicons.com/                 :: no prefix needed
## https://pictogrammers.com/library/mdi/      :: prefix with mdi-*
## https://simpleicons.org/                    :: prefix with si-*
## https://selfh.st/icons/                     :: prefix with sh-*
ARIA2_HOMEPAGE_ICON_ARIA2=sh-aria2
## If description is blank, it will default to the the traefik_host:
ARIA2_HOMEPAGE_DESCRIPTION_ARIA2=
## Display container stats widget:
ARIA2_HOMEPAGE_SHOW_STATS_ARIA2=false

## Configure a secret token to prevent unauthorized access to aria2 JSONRPC API:
ARIA2_RPC_SECRET=

ARIA2_WEB_PORT=8089
ARIA2_RPC_PORT=6801


# META:
# PREFIX=ARIA2
