# The docker image to use:
WEBTOP_IMAGE=lscr.io/linuxserver/webtop:latest
WEBTOP_DOCKERFILE=Dockerfile-alpine

# The domain name for the webtop service:
WEBTOP_TRAEFIK_HOST=webtop.example.com

# The Traefik entrypoint to use:
WEBTOP_TRAEFIK_ENTRYPOINT=websecure

# The name of this instance. If there is only one instance, use 'default'.
WEBTOP_INSTANCE=

## Enable WireGuard gateway router for egress:
## To user your normal default network, leave WEBTOP_WIREGUARD_INSTANCE blank.
## Otherwise, you man deploy an instance of ../wireguard to create a VPN gateway,
## and set the wireguard instance here (e.g., my-vpn, mullvad-deer-goose, etc.):
WEBTOP_WIREGUARD_INSTANCE=
## Set the static IPv4 address of the wireguard instance:
WEBTOP_WIREGUARD_ROUTER_IPV4=
## Set the static IPv6 address of the wireguard instance:
WEBTOP_WIREGUARD_ROUTER_IPV6=
## Set comma separated list of ports that are still allowed from the default docker net:
## Webtop listens on port 3001, and Traefik needs access to it:
WEBTOP_DOCKER_GATEWAY_PORTS=3001

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
WEBTOP_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
WEBTOP_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
WEBTOP_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
WEBTOP_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
WEBTOP_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
WEBTOP_MTLS_AUTHORIZED_CERTS=*.clients.webtop.example.com

## Change the UID and GID to match the permissions on the volumes that you want to use for downloads
WEBTOP_UID=10123
WEBTOP_GID=10123

## Set volume to attach to ~/Downloads
WEBTOP_DOWNLOAD_VOLUME=

## Set timezone:
## https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
WEBTOP_TZ=America/Denver

## https://github.com/linuxserver/docker-webtop?tab=readme-ov-file#native-apps-non-persistent
WEBTOP_DOCKER_MODS=linuxserver/mods:universal-package-install

## Specify list of packages to install, separated by | character
## WEBTOP_INSTALL_PACKAGES=emacs|rclone
WEBTOP_INSTALL_PACKAGES=

## Selkie GUI container vars:
## See https://github.com/linuxserver/docker-webtop?tab=readme-ov-file#options-in-all-selkies-based-gui-containers
WEBTOP_DRI_NODE=
WEBTOP_DRINODE=
WEBTOP_SUBFOLDER=
WEBTOP_TITLE=Webtop
WEBTOP_DASHBOARD=
WEBTOP_FILE_MANAGER_PATH=/config/Downloads
WEBTOP_START_DOCKER=false
WEBTOP_DISABLE_IPV6=false
WEBTOP_LC_ALL=
WEBTOP_NO_DECOR=false
WEBTOP_NO_FULL=false
WEBTOP_NO_GAMEPAD=false
WEBTOP_DISABLE_ZINK=false
WEBTOP_DISABLE_DRI3=false
WEBTOP_MAX_RES=
WEBTOP_WATERMARK_PNG=
WEBTOP_WATERMARK_LOCATION=

## Hardening vars:
## See https://github.com/linuxserver/docker-webtop?tab=readme-ov-file#hardening
WEBTOP_HARDEN_DESKTOP=
WEBTOP_HARDEN_OPENBOX=
WEBTOP_DISABLE_OPEN_TOOLS=
WEBTOP_DISABLE_SUDO=
WEBTOP_DISABLE_TERMINALS=
WEBTOP_DISABLE_CLOSE_BUTTON=
WEBTOP_DISABLE_MOUSE_BUTTONS=
WEBTOP_HARDEN_KEYBINDS=
WEBTOP_RESTART_APP=

## Selkie app vars:
## See https://github.com/linuxserver/docker-webtop?tab=readme-ov-file#selkies-application-settings
WEBTOP_SELKIES_USE_CPU=
WEBTOP_SELKIES_ENCODER=
WEBTOP_SELKIES_FRAMERATE=
WEBTOP_SELKIES_UI_TITLE=
WEBTOP_SELKIES_UI_SHOW_LOGO=
WEBTOP_SELKIES_UI_SHOW_SIDEBAR=
WEBTOP_SELKIES_UI_SHOW_CORE_BUTTONS=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_VIDEO_SETTINGS=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_SCREEN_SETTINGS=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_AUDIO_SETTINGS=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_STATS=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_CLIPBOARD=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_FILES=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_APPS=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_SHARING=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_GAMEPADS=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_FULLSCREEN=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_GAMING_MODE=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_TRACKPAD=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_KEYBOARD_BUTTON=
WEBTOP_SELKIES_UI_SIDEBAR_SHOW_SOFT_BUTTONS=
WEBTOP_SELKIES_AUDIO_ENABLED=
WEBTOP_SELKIES_MICROPHONE_ENABLED=
WEBTOP_SELKIES_GAMEPAD_ENABLED=
WEBTOP_SELKIES_CLIPBOARD_ENABLED=
WEBTOP_SELKIES_COMMAND_ENABLED=
WEBTOP_SELKIES_FILE_TRANSFERS=
WEBTOP_SELKIES_ENCODER=
WEBTOP_SELKIES_FRAMERATE=
WEBTOP_SELKIES_H264_CRF=
WEBTOP_SELKIES_JPEG_QUALITY=
WEBTOP_SELKIES_H264_FULLCOLOR=
WEBTOP_SELKIES_H264_STREAMING_MODE=
WEBTOP_SELKIES_USE_CPU=
WEBTOP_SELKIES_USE_PAINT_OVER_QUALITY=
WEBTOP_SELKIES_PAINT_OVER_JPEG_QUALITY=
WEBTOP_SELKIES_H264_PAINTOVER_CRF=
WEBTOP_SELKIES_H264_PAINTOVER_BURST_FRAMES=
WEBTOP_SELKIES_SECOND_SCREEN=
WEBTOP_SELKIES_AUDIO_BITRATE=
WEBTOP_SELKIES_IS_MANUAL_RESOLUTION_MODE=
WEBTOP_SELKIES_MANUAL_WIDTH=
WEBTOP_SELKIES_MANUAL_HEIGHT=
WEBTOP_SELKIES_SCALING_DPI=
WEBTOP_SELKIES_ENABLE_BINARY_CLIPBOARD=
WEBTOP_SELKIES_USE_BROWSER_CURSORS=
WEBTOP_SELKIES_USE_CSS_SCALING=
WEBTOP_SELKIES_PORT=
WEBTOP_SELKIES_DRI_NODE=
WEBTOP_SELKIES_AUDIO_DEVICE_NAME=
WEBTOP_SELKIES_WATERMARK_PATH=
WEBTOP_SELKIES_WATERMARK_LOCATION=
WEBTOP_SELKIES_DEBUG=
WEBTOP_SELKIES_ENABLE_SHARING=
WEBTOP_SELKIES_ENABLE_COLLA=
WEBTOP_SELKIES_ENABLE_SHARED=
WEBTOP_SELKIES_ENABLE_PLAYER2=
WEBTOP_SELKIES_ENABLE_PLAYER3=
WEBTOP_SELKIES_ENABLE_PLAYER4=


## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
WEBTOP_HOMEPAGE_LABELS_ENABLE=true
WEBTOP_HOMEPAGE_GROUP_WEBTOP=Network
WEBTOP_HOMEPAGE_NAME_WEBTOP=Webtop
# Choose a service icon from any of these services:
## https://dashboardicons.com/                 :: no prefix needed
## https://pictogrammers.com/library/mdi/      :: prefix with mdi-*
## https://simpleicons.org/                    :: prefix with si-*
## https://selfh.st/icons/                     :: prefix with sh-*
WEBTOP_HOMEPAGE_ICON_WEBTOP=webtop
## If description is blank, it will default to the the traefik_host:
WEBTOP_HOMEPAGE_DESCRIPTION_WEBTOP=
## Display container stats widget:
WEBTOP_HOMEPAGE_SHOW_STATS_WEBTOP=true

# META:
# PREFIX=WEBTOP
