volumes:
  config:

services:
  webtop:
    build:
      context: webtop
      args:
        IMAGE: ${WEBTOP_IMAGE}
    cap_add:
      - NET_ADMIN ## Dropped ASAP in app-router-bootstrap.sh entrypoint.
    security_opt:
      - no-new-privileges:true
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=1024
    restart: unless-stopped
    environment:
      - PUID=${WEBTOP_UID}
      - PGID=${WEBTOP_GID}
      - WIREGUARD_INSTANCE=${WEBTOP_WIREGUARD_INSTANCE}
      - WIREGUARD_ROUTER_IPV4=${WEBTOP_WIREGUARD_ROUTER_IPV4}
      - WIREGUARD_ROUTER_IPV6=${WEBTOP_WIREGUARD_ROUTER_IPV6}
      - DOCKER_GATEWAY_PORTS=${WEBTOP_DOCKER_GATEWAY_PORTS}
      - DRI_NODE=${WEBTOP_DRI_NODE}
      - DRINODE=${WEBTOP_DRINODE}
      - SUBFOLDER=/${WEBTOP_SUBFOLDER}
      - TITLE=Webtop${WEBTOP_TITLE}
      - DASHBOARD=selkies-dashboard${WEBTOP_DASHBOARD}
      - FILE_MANAGER_PATH=/config/Downloads${WEBTOP_FILE_MANAGER_PATH}
      - START_DOCKER=false${WEBTOP_START_DOCKER}
      - DISABLE_IPV6=false${WEBTOP_DISABLE_IPV6}
      - LC_ALL=en_US.UTF-8${WEBTOP_LC_ALL}
      - NO_DECOR=false${WEBTOP_NO_DECOR}
      - NO_FULL=false${WEBTOP_NO_FULL}
      - NO_GAMEPAD=false${WEBTOP_NO_GAMEPAD}
      - DISABLE_ZINK=false${WEBTOP_DISABLE_ZINK}
      - DISABLE_DRI3=false${WEBTOP_DISABLE_DRI3}
      - MAX_RES=${WEBTOP_MAX_RES}
      - WATERMARK_PNG=${WEBTOP_WATERMARK_PNG}
      - WATERMARK_LOCATION=${WEBTOP_WATERMARK_LOCATION}
      - HARDEN_DESKTOP=${WEBTOP_HARDEN_DESKTOP}
      - HARDEN_OPENBOX=${WEBTOP_HARDEN_OPENBOX}
      - DISABLE_OPEN_TOOLS=${WEBTOP_DISABLE_OPEN_TOOLS}
      - DISABLE_SUDO=${WEBTOP_DISABLE_SUDO}
      - DISABLE_TERMINALS=${WEBTOP_DISABLE_TERMINALS}
      - DISABLE_CLOSE_BUTTON=${WEBTOP_DISABLE_CLOSE_BUTTON}
      - DISABLE_MOUSE_BUTTONS=${WEBTOP_DISABLE_MOUSE_BUTTONS}
      - HARDEN_KEYBINDS=${WEBTOP_HARDEN_KEYBINDS}
      - RESTART_APP=${WEBTOP_RESTART_APP}
      - SELKIES_USE_CPU=${WEBTOP_SELKIES_USE_CPU}
      - SELKIES_ENCODER=${WEBTOP_SELKIES_ENCODER}
      - SELKIES_FRAMERATE=${WEBTOP_SELKIES_FRAMERATE}
      - SELKIES_UI_TITLE=${WEBTOP_SELKIES_UI_TITLE}
      - SELKIES_UI_SHOW_LOGO=${WEBTOP_SELKIES_UI_SHOW_LOGO}
      - SELKIES_UI_SHOW_SIDEBAR=${WEBTOP_SELKIES_UI_SHOW_SIDEBAR}
      - SELKIES_UI_SHOW_CORE_BUTTONS=${WEBTOP_SELKIES_UI_SHOW_CORE_BUTTONS}
      - SELKIES_UI_SIDEBAR_SHOW_VIDEO_SETTINGS=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_VIDEO_SETTINGS}
      - SELKIES_UI_SIDEBAR_SHOW_SCREEN_SETTINGS=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_SCREEN_SETTINGS}
      - SELKIES_UI_SIDEBAR_SHOW_AUDIO_SETTINGS=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_AUDIO_SETTINGS}
      - SELKIES_UI_SIDEBAR_SHOW_STATS=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_STATS}
      - SELKIES_UI_SIDEBAR_SHOW_CLIPBOARD=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_CLIPBOARD}
      - SELKIES_UI_SIDEBAR_SHOW_FILES=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_FILES}
      - SELKIES_UI_SIDEBAR_SHOW_APPS=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_APPS}
      - SELKIES_UI_SIDEBAR_SHOW_SHARING=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_SHARING}
      - SELKIES_UI_SIDEBAR_SHOW_GAMEPADS=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_GAMEPADS}
      - SELKIES_UI_SIDEBAR_SHOW_FULLSCREEN=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_FULLSCREEN}
      - SELKIES_UI_SIDEBAR_SHOW_GAMING_MODE=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_GAMING_MODE}
      - SELKIES_UI_SIDEBAR_SHOW_TRACKPAD=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_TRACKPAD}
      - SELKIES_UI_SIDEBAR_SHOW_KEYBOARD_BUTTON=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_KEYBOARD_BUTTON}
      - SELKIES_UI_SIDEBAR_SHOW_SOFT_BUTTONS=${WEBTOP_SELKIES_UI_SIDEBAR_SHOW_SOFT_BUTTONS}
      - SELKIES_AUDIO_ENABLED=${WEBTOP_SELKIES_AUDIO_ENABLED}
      - SELKIES_MICROPHONE_ENABLED=${WEBTOP_SELKIES_MICROPHONE_ENABLED}
      - SELKIES_GAMEPAD_ENABLED=${WEBTOP_SELKIES_GAMEPAD_ENABLED}
      - SELKIES_CLIPBOARD_ENABLED=${WEBTOP_SELKIES_CLIPBOARD_ENABLED}
      - SELKIES_COMMAND_ENABLED=${WEBTOP_SELKIES_COMMAND_ENABLED}
      - SELKIES_FILE_TRANSFERS=${WEBTOP_SELKIES_FILE_TRANSFERS}
      - SELKIES_ENCODER=${WEBTOP_SELKIES_ENCODER}
      - SELKIES_FRAMERATE=${WEBTOP_SELKIES_FRAMERATE}
      - SELKIES_H264_CRF=${WEBTOP_SELKIES_H264_CRF}
      - SELKIES_JPEG_QUALITY=${WEBTOP_SELKIES_JPEG_QUALITY}
      - SELKIES_H264_FULLCOLOR=${WEBTOP_SELKIES_H264_FULLCOLOR}
      - SELKIES_H264_STREAMING_MODE=${WEBTOP_SELKIES_H264_STREAMING_MODE}
      - SELKIES_USE_CPU=${WEBTOP_SELKIES_USE_CPU}
      - SELKIES_USE_PAINT_OVER_QUALITY=${WEBTOP_SELKIES_USE_PAINT_OVER_QUALITY}
      - SELKIES_PAINT_OVER_JPEG_QUALITY=${WEBTOP_SELKIES_PAINT_OVER_JPEG_QUALITY}
      - SELKIES_H264_PAINTOVER_CRF=${WEBTOP_SELKIES_H264_PAINTOVER_CRF}
      - SELKIES_H264_PAINTOVER_BURST_FRAMES=${WEBTOP_SELKIES_H264_PAINTOVER_BURST_FRAMES}
      - SELKIES_SECOND_SCREEN=${WEBTOP_SELKIES_SECOND_SCREEN}
      - SELKIES_AUDIO_BITRATE=${WEBTOP_SELKIES_AUDIO_BITRATE}
      - SELKIES_IS_MANUAL_RESOLUTION_MODE=${WEBTOP_SELKIES_IS_MANUAL_RESOLUTION_MODE}
      - SELKIES_MANUAL_WIDTH=${WEBTOP_SELKIES_MANUAL_WIDTH}
      - SELKIES_MANUAL_HEIGHT=${WEBTOP_SELKIES_MANUAL_HEIGHT}
      - SELKIES_SCALING_DPI=${WEBTOP_SELKIES_SCALING_DPI}
      - SELKIES_ENABLE_BINARY_CLIPBOARD=${WEBTOP_SELKIES_ENABLE_BINARY_CLIPBOARD}
      - SELKIES_USE_BROWSER_CURSORS=${WEBTOP_SELKIES_USE_BROWSER_CURSORS}
      - SELKIES_USE_CSS_SCALING=${WEBTOP_SELKIES_USE_CSS_SCALING}
      - SELKIES_PORT=${WEBTOP_SELKIES_PORT}
      - SELKIES_DRI_NODE=${WEBTOP_SELKIES_DRI_NODE}
      - SELKIES_AUDIO_DEVICE_NAME=${WEBTOP_SELKIES_AUDIO_DEVICE_NAME}
      - SELKIES_WATERMARK_PATH=${WEBTOP_SELKIES_WATERMARK_PATH}
      - SELKIES_WATERMARK_LOCATION=${WEBTOP_SELKIES_WATERMARK_LOCATION}
      - SELKIES_DEBUG=${WEBTOP_SELKIES_DEBUG}
      - SELKIES_ENABLE_SHARING=${WEBTOP_SELKIES_ENABLE_SHARING}
      - SELKIES_ENABLE_COLLA=${WEBTOP_SELKIES_ENABLE_COLLA}
      - SELKIES_ENABLE_SHARED=${WEBTOP_SELKIES_ENABLE_SHARED}
      - SELKIES_ENABLE_PLAYER2=${WEBTOP_SELKIES_ENABLE_PLAYER2}
      - SELKIES_ENABLE_PLAYER3=${WEBTOP_SELKIES_ENABLE_PLAYER3}
      - SELKIES_ENABLE_PLAYER4=${WEBTOP_SELKIES_ENABLE_PLAYER4}
    volumes:
      - config:/config
      - ${WEBTOP_DOWNLOAD_VOLUME}:/config/Downloads:z
    labels: []
