
volumes:
  data:

services:
  privatebin:
    restart: unless-stopped
    image: ${PRIVATEBIN_IMAGE}
    read_only: true
    volumes:
      - data:/srv/data
    # Labels are defined in docker-compose.instance.yaml
    labels: []
