# https://hub.docker.com/r/ckulka/baikal/tags
BAIKAL_VERSION=0.10.1-nginx

BAIKAL_TRAEFIK_HOST=cal.example.com
BAIKAL_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
BAIKAL_IP_SOURCERANGE=0.0.0.0/0

BAIKAL_HTTP_AUTH=
BAIKAL_IP_SOURCERANGE=0.0.0.0/0
BAIKAL_OAUTH2=
BAIKAL_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
BAIKAL_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
BAIKAL_MTLS_AUTHORIZED_CERTS=*.clients.baikal.example.com
