# https://hub.docker.com/r/ckulka/baikal/tags
BAIKAL_VERSION=0.9.3-nginx

BAIKAL_TRAEFIK_HOST=cal.example.com
BAIKAL_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
BAIKAL_IP_SOURCERANGE=0.0.0.0/0
