# https://hub.docker.com/r/ckulka/baikal/tags
BAIKAL_VERSION=0.10.1-nginx

BAIKAL_TRAEFIK_HOST=cal.example.com

# The Traefik entrypoint to use:
BAIKAL_TRAEFIK_ENTRYPOINT=websecure
BAIKAL_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
BAIKAL_INSTANCE_PROTECTION=false

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
BAIKAL_IP_SOURCERANGE=0.0.0.0/0

BAIKAL_HTTP_AUTH=
BAIKAL_IP_SOURCERANGE=0.0.0.0/0
BAIKAL_OAUTH2=false
BAIKAL_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
BAIKAL_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
BAIKAL_MTLS_AUTHORIZED_CERTS=*.clients.baikal.example.com

# META:
# PREFIX=BAIKAL
