S3PROXY_TRAEFIK_HOST=s3-proxy.example.com
S3PROXY_INSTANCE=

## generate htpasswd hash: see traefik-htpasswd README in this same project:
S3PROXY_HTTP_AUTH=
S3PROXY_REALM=s3-proxy
## S3 credentials (defaults are for self-hosted minio):
S3PROXY_S3_ENDPOINT=s3.example.com
S3PROXY_S3_BUCKET=
S3PROXY_S3_ACCESS_KEY_ID=
S3PROXY_S3_SECRET_ACCESS_KEY=

## IP address filtering - use CIDR notation, can specify multiple separated by commas
## Default (0.0.0.0/0) allows all IPs.
## Example to limit to single IP address 192.168.1.1:  SOURCERANGE="192.168.1.1/32"
## https://doc.traefik.io/traefik/middlewares/tcp/ipwhitelist/
S3PROXY_IP_SOURCERANGE="0.0.0.0/0"

S3PROXY_PRINT_CONFIG=true
