S3PROXY_TRAEFIK_HOST=s3-proxy.example.com

## generate htpasswd hash: see traefik-htpasswd README in this same project:
S3PROXY_HTTP_AUTH='videos:xxxxxxxxxxxx'
S3PROXY_REALM=s3server
## S3 credentials (defaults are for self-hosted minio):
S3_ENDPOINT=s3.example.com
S3_BUCKET=videos
S3_ACCESS_KEY_ID=videos
S3_SECRET_ACCESS_KEY=change_me_now_this_key_is_incorrect

## IP address filtering - use CIDR notation, can specify multiple separated by commas
## Default (0.0.0.0/0) allows all IPs.
## Example to limit to single IP address 192.168.1.1:  SOURCERANGE="192.168.1.1/32"
## https://doc.traefik.io/traefik/middlewares/tcp/ipwhitelist/
SOURCERANGE="0.0.0.0/0"

PRINT_CONFIG=true
