volumes:
  registry-cache:

services:
  registry:
    image: ${REGISTRY_CACHE_IMAGE}
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=1024
    restart: unless-stopped
    environment:
      - REGISTRY_HTTP_SECRET=${REGISTRY_CACHE_HTTP_SECRET}
      - REGISTRY_PROXY_REMOTEURL=${REGISTRY_CACHE_PROXY_REMOTEURL}
      - REGISTRY_PROXY_USERNAME=${REGISTRY_CACHE_PROXY_USERNAME}
      - REGISTRY_PROXY_PASSWORD=${REGISTRY_CACHE_PROXY_PASSWORD}
      - REGISTRY_STORAGE_DELETE_ENABLED=true
    labels: []
    volumes:
      - registry-cache:/var/lib/registry
