volumes:
  registry-cache:
  registry-cache-ca:

services:
  proxy:
    image: ${REGISTRY_CACHE_IMAGE}
    restart: unless-stopped
    ports:
      - "${REGISTRY_CACHE_PORT}:3128"
    environment:
      - REGISTRIES=${REGISTRY_CACHE_REGISTRIES}
      - AUTH_REGISTRIES=${REGISTRY_CACHE_AUTH_REGISTRIES}
      - ENABLE_MANIFEST_CACHE=${REGISTRY_CACHE_ENABLE_MANIFEST_CACHE}
      - CACHE_MAX_SIZE=${REGISTRY_CACHE_CACHE_MAX_SIZE}
    volumes:
      - registry-cache:/docker_mirror_cache
      - registry-cache-ca:/ca
