# The domain name for the icecast service:
ICECAST_TRAEFIK_HOST=icecast.example.com

# The instance name:
ICECAST_INSTANCE=

# Filter access by IP address source range (CIDR):
ICECAST_IP_SOURCERANGE=0.0.0.0/0
## Container user and group id:
ICECAST_UID=54321
ICECAST_GID=54321

## Icecast configuration:
ICECAST_LOCATION=Earth
ICECAST_ADMIN=icemaster@localhost
ICECAST_LIMIT_CLIENTS=100
ICECAST_LIMIT_SOURCES=2
ICECAST_LIMIT_QUEUE_SIZE=524288
ICECAST_LIMIT_CLIENT_TIMEOUT=30
ICECAST_LIMIT_HEADER_TIMEOUT=15
ICECAST_LIMIT_SOURCE_TIMEOUT=10
ICECAST_LIMIT_BURST_ON_CONNECT=1
ICECAST_LIMIT_BURST_SIZE=65535

ICECAST_AUTHENTICATION_SOURCE_PASSWORD=
ICECAST_AUTHENTICATION_RELAY_PASSWORD=
ICECAST_AUTHENTICATION_ADMIN_USER=admin
ICECAST_AUTHENTICATION_ADMIN_PASSWORD=

ICECAST_FILESERVE=1

## By default, icecast is fully proxied by Traefik on the websecure entrypoint.
## (This enforces TLS and the IP address filter)
## If you source client cannot handle TLS, you can bind the direct
## port instead, which will bypass Traefik completely. 
ICECAST_ALLOW_DIRECT_MAP_PORT=false
ICECAST_DIRECT_MAP_PORT=8001
