Port 22

Protocol 2
HostKey /etc/ssh/keys/ssh_host_ed25519_key
HostKey /etc/ssh/keys/ssh_host_rsa_key

UsePam yes
## motd is printed by pam, so don't print it twice:
PrintMotd no

UseDNS no

# Limited access
PermitRootLogin yes
X11Forwarding no
AllowTcpForwarding no
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no

# LogLevel VERBOSE
