# The domain name for this instance of AUDIOBOOKSHELF:
AUDIOBOOKSHELF_TRAEFIK_HOST=audiobookshelf.example.com

# The version of audiobookshelf to install:
# https://github.com/advplyr/audiobookshelf/releases
# (audiobookshelf docker image tags don't have the 'v' prepended)
AUDIOBOOKSHELF_VERSION=2.28.0

## Create a unique name for this instance of AUDIOBOOKSHELF:
##`make config` will set this to `default` if you do not specify it.
AUDIOBOOKSHELF_INSTANCE=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
AUDIOBOOKSHELF_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
AUDIOBOOKSHELF_OAUTH2_AUTHORIZED_GROUP=

# Filter access by IP address source range (CIDR):
# See: https://doc.traefik.io/traefik/middlewares/http/ipallowlist/
## Disallow all access:
#AUDIOBOOKSHELF_IP_SOURCERANGE="0.0.0.0/32"
## Allow all access:
#AUDIOBOOKSHELF_IP_SOURCERANGE="0.0.0.0/0"
AUDIOBOOKSHELF_IP_SOURCERANGE="0.0.0.0/0"

AUDIOBOOKSHELF_HTTP_AUTH=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
AUDIOBOOKSHELF_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
AUDIOBOOKSHELF_MTLS_AUTHORIZED_CERTS=*.clients.audiobookshelf.example.com

# META:
# PREFIX=AUDIOBOOKSHELF

