# The domain name for this instance of AUDIOBOOKSHELF:
AUDIOBOOKSHELF_TRAEFIK_HOST=audiobookshelf.example.com

# The version of audiobookshelf to install:
# https://github.com/advplyr/audiobookshelf/releases
# (audioshelf docker image tags don't have the 'v' prepended)
AUDIOBOOKSHELF_VERSION=2.2.18

## Create a unique name for this instance of AUDIOBOOKSHELF:
##`make config` will set this to `default` if you do not specify it.
AUDIOBOOKSHELF_INSTANCE=

# Filter access by IP address source range (CIDR):
# See: https://doc.traefik.io/traefik/middlewares/http/ipwhitelist/
## Disallow all access:
#AUDIOBOOKSHELF_IP_SOURCERANGE="0.0.0.0/32"
## Allow all access:
#AUDIOBOOKSHELF_IP_SOURCERANGE="0.0.0.0/0"
AUDIOBOOKSHELF_IP_SOURCERANGE="0.0.0.0/0"

## Optional:
## After you `make open`, log into Audiobookshelf as the
## admin go to config -> users, click on your account, copy the API Key and
## paste it into `HOMEPAGE_AUDIOBOOKSHELF_API_KEY`, then run `make install`
## again. This will allow Audiobookshelf to be automatically discovered
## by Homepage, if you use that service.
AUDIOBOOKSHELF_API_KEY=