# The domain name for this instance of AUDIOBOOKSHELF:
AUDIOBOOKSHELF_TRAEFIK_HOST=audiobookshelf.example.com

## Create a unique name for this instance of AUDIOBOOKSHELF:
##`make config` will set this to `default` if you do not specify it.
AUDIOBOOKSHELF_INSTANCE=

# Filter access by IP address source range (CIDR):
# See: https://doc.traefik.io/traefik/middlewares/http/ipwhitelist/
## Disallow all access:
#AUDIOBOOKSHELF_IP_SOURCERANGE="0.0.0.0/32"
## Allow all access:
#AUDIOBOOKSHELF_IP_SOURCERANGE="0.0.0.0/0"
AUDIOBOOKSHELF_IP_SOURCERANGE="0.0.0.0/0"

# HTTP Basic Authentication
# Use `make config` to generate and configure this setting interactively.
# Set multiple htpasswd encoded username/passwords comma separated; blank to disable
# See: https://doc.traefik.io/traefik/middlewares/http/basicauth/
AUDIOBOOKSHELF_HTTP_AUTH=

# Development mode
## By default, this flag does nothing. But you can use it in docker-compose.instance.yaml however you want.
## For example you may wish to detect development mode and optionally turn on a live-reload mode of your service.
AUDIOBOOKSHELF_DEVELOPMENT_MODE=false
