
volumes:
  audiobooks:
  podcasts:
  config:
  metadata:

services:
  audiobookshelf:
    image: ${AUDIOBOOKSHELF_IMAGE}
    restart: unless-stopped
    volumes:
      - audiobooks:/audiobooks
      - podcasts:/podcasts
      - config:/config
      - metadata:/metadata
    labels: []
