XBS_TRAEFIK_HOST=xbs.example.com
DB_NAME=xbrowsersync
DB_PASSWORD=xbsdbpass
DB_USERNAME=xbsdb
COMPOSE_CONVERT_WINDOWS_PATHS=1
# Choose Let's Encrypt 'staging' or 'production' environment:
ACME_CERT_RESOLVER=staging
