# System userame of the podman user account to run the container
PODMAN_USER=

# Name of the container image to build:
PODMAN_WORKSTATION_IMAGE=d.rymcg.tech-workstation
# Name of the instance:
PODMAN_WORKSTATION_INSTANCE=default

# To start the container on boot, set PODMAN_WORKSTATION_SYSTEMD_WANTED_BY=default.target
# If blank, you will need to manually start the service when desired.
PODMAN_WORKSTATION_SYSTEMD_WANTED_BY=

PODMAN_WORKSTATION_HOSTNAME=

PODMAN_SSH_PORT=2227
PODMAN_SSH_IP_ADDRESS=127.0.0.1
