# The git repository to build from:
NOSTR_RS_RELAY_GIT_REPO=https://git.sr.ht/~gheartsfield/nostr-rs-relay.git
NOSTR_RS_RELAY_GIT_BRANCH=master

# The domain name for the nostr_rs_relay service:
NOSTR_RS_RELAY_TRAEFIK_HOST=nostr.example.com

# The name of this instance. If there is only one instance, use 'default'.
NOSTR_RS_RELAY_INSTANCE=

# Enter a logical one-word name for this instance:
NOSTR_RS_RELAY_NAME=nostr-rs-relay

# Enter a description for this nostr instance.
# You must enter all newlines with literal '\n'.
NOSTR_RS_RELAY_DESCRIPTION=A newly created nostr-rs-relay.\n\nCustomize this with your own info.

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
NOSTR_RS_RELAY_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
NOSTR_RS_RELAY_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Gitea server can log into your app and
# have full access.
NOSTR_RS_RELAY_OAUTH2=
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
NOSTR_RS_RELAY_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
NOSTR_RS_RELAY_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
NOSTR_RS_RELAY_MTLS_AUTHORIZED_CERTS=*.clients.nostr.example.com

