# The domain name for the pairdrop service:
PAIRDROP_TRAEFIK_HOST=pairdrop.example.com

# The name of this instance. If there is only one instance, use 'default'.
PAIRDROP_INSTANCE=

# https://github.com/linuxserver/docker-pairdrop/releases
PAIRDROP_VERSION=latest

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
PAIRDROP_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
PAIRDROP_HTTP_AUTH=

## You can run the pairdrop service as any user/group:
PAIRDROP_UID=54321
PAIRDROP_GID=54321

