EJABBERD_HOST=xmpp.example.com

# Which volume holds the TLS certificates? You need to supply this beforehand.
# Run certbot to generate certificates from Lets Encrypt, and have it write into this volume.
# Or, use the included `cert-manager.sh` to create self-signed certificates.
# Run:
### ../_terminal/certificate-ca/cert-manager.sh build
### ../_terminal/certificate-ca/cert-manager.sh create_ca
### ../_terminal/certificate-ca/cert-manager.sh create xmpp.example.com 9000 9000
## 
### This will create a volume containing (..usually mounted at /cert):
### /key.pem       ## The private key for ${EJABBERD_HOST}
### /cert.pem      ## The public certificate of ${EJABBERD_HOST}
### /ca.pem        ## The public CA cert used to sign the certificate
### /fullchain.pem ## Both cert.pem and ca.pem in one file
##
## Change this to the name of the volume you or cert-manager.sh created:
CERTIFICATE_VOLUME=local_certificate-ca_xmpp.example.com

# Print the config on startup?
PRINT_CONFIG=false

## IP address filtering - use CIDR notation, can specify multiple separated by commas
## Default (0.0.0.0/0) allows all IPs.
## C2S_SOURCERANGE is list of IP ranges for acceptable clients
## S2S_SOURCERANGE is list of IP ranges for acceptable servers
## https://doc.traefik.io/traefik/middlewares/tcp/ipallowlist/
C2S_SOURCERANGE="0.0.0.0/0"
S2S_SOURCERANGE="0.0.0.0/0"


# META:
# PREFIX=EJABBERD
# INSTANTIABLE=false
