EJABBERD_HOST=xmpp.example.com

# Use the included certificate-ca cert-manager.sh to manage certificates
# Run ../certificate-ca/cert-manager.sh first to create certs volume.
# local-certificate-ca is the default CA name, you shouldn't change it usually.
CERTIFICATE_CA=local-certificate-ca

# Print the config on startup?
PRINT_CONFIG=false

## IP address filtering - use CIDR notation, can specify multiple separated by commas
## Default (0.0.0.0/0) allows all IPs.
## C2S_SOURCERANGE is list of IP ranges for acceptable clients
## S2S_SOURCERANGE is list of IP ranges for acceptable servers
## https://doc.traefik.io/traefik/middlewares/tcp/ipwhitelist/
C2S_SOURCERANGE="0.0.0.0/0"
S2S_SOURCERANGE="0.0.0.0/0"


