PIWIGO_TRAEFIK_HOST=pics.d.example.com
PIWIGO_VERSION=13.6.0
PIWIGO_MARIADB_VERSION=10.9
PIWIGO_INSTANCE=

PIWIGO_MARIADB_DATABASE=piwigo
PIWIGO_MARIADB_ROOT_PASSWORD=
PIWIGO_MARIADB_USER=piwigo
PIWIGO_MARIADB_PASSWORD=

TIMEZONE=America/New_York

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
PIWIGO_IP_SOURCERANGE=0.0.0.0/0

PIWIGO_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Gitea server can log into your app and
# have full access.
PIWIGO_OAUTH2=
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
PIWIGO_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
PIWIGO_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
PIWIGO_MTLS_AUTHORIZED_CERTS=*.clients.piwigo.example.com


# META:
# PREFIX=PIWIGO