PIWIGO_TRAEFIK_HOST=pics.d.example.com
MARIADB_ROOT_PASSWORD=changeme
MARIADB_DATABASE=piwigo
MARIADB_USER=piwigo
MARIADB_PASSWORD=changeme
TIMEZONE=America/New_York
# Choose Let's Encrypt 'staging' or 'production' environment:
ACME_CERT_RESOLVER=production
