PIWIGO_TRAEFIK_HOST=pics.d.example.com
PIWIGO_VERSION=13.6.0
PIWIGO_MARIADB_VERSION=10.9
PIWIGO_INSTANCE=

PIWIGO_MARIADB_DATABASE=piwigo
PIWIGO_MARIADB_ROOT_PASSWORD=
PIWIGO_MARIADB_USER=piwigo
PIWIGO_MARIADB_PASSWORD=

TIMEZONE=America/New_York

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
PIWIGO_IP_SOURCERANGE=0.0.0.0/0

PIWIGO_HTTP_AUTH=