## the instance name (default is blank)
WORKSTATION_INSTANCE=

## Set the ssh port number to use (both public and/or container are the same):
WORKSTATION_SSH_PORT=2222

## Username to create inside the container workstation:
WORKSTATION_USER=user
## user and group id
### (if you use an external volume, match these up
###   with the file permissions of the host):
WORKSTATION_UID=54321
WORKSTATION_GID=54321

# The name of the docker context, used as part of the container name:
WORKSTATION_DOCKER_CONTEXT=

# By default the docker socket is mounted from the host /var/run/docker.sock
## To disable mounting the docker socket, set this to false
WORKSTATION_ENABLE_DOCKER_SOCKET=true

## Mount a secondary volume or host directory into the container's ~/git directory:
## The parent home directory ~/ is already stored in a (docker) named volume per instance.
## But, this may be useful if you want to edit source files using an external editor without needing sshfs or TRAMP mode.
## WARNING: .env and passwords.json files contain secrets like passwords and API tokens, and should be kept secure!
## WARNING: .env and passwords.json files are typically stored under ~/git/d.rymcg.tech/.*/(.env_* passwords.json)
## WARNING: If you mount ~/git to an external host directory, you risk exposing these secrets!
## Leave this blank to store files in the container named volume for the home directory instead.
WORKSTATION_GIT_VOLUME=

