## Set the PUBLIC host ssh port mapping:
## (Inside the container the ssh service always runs on port 2222)
WORKSTATION_PUBLIC_SSH_PORT=2222
WORKSTATION_USER=user
WORKSTATION_UID=54321
WORKSTATION_GID=54321
WORKSTATION_DOCKER_CONTEXT=

