# https://hub.docker.com/r/vaultwarden/server/tags
VAULTWARDEN_VERSION=1.27.0

VAULTWARDEN_TRAEFIK_HOST=vaultwarden.example.com

VAULTWARDEN_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
VAULTWARDEN_IP_SOURCERANGE=0.0.0.0/0

VAULTWARDEN_SIGNUPS_ALLOWED=true
VAULTWARDEN_SHOW_PASSWORD_HINT=false
VAULTWARDEN_INVITATIONS_ALLOWED=true

VAULTWARDEN_BASE_PATH=
