TRANSMISSION_TRAEFIK_HOST=transmission.example.com
TRANSMISSION_INSTANCE=
TIMEZONE=Etc/UTC

TRANSMISSION_DOWNLOAD_VOLUME=/tmp/downloads
TRANSMISSION_WATCH_VOLUME=/tmp/torrents

TRANSMISSION_HTTP_AUTH=
TRANSMISSION_IP_SOURCE_RANGE=

TRANSMISSION_VPN_CLIENT_INTERFACE_ADDRESS=
TRANSMISSION_VPN_CLIENT_INTERFACE_PRIVATE_KEY=
TRANSMISSION_VPN_CLIENT_INTERFACE_LISTEN_PORT=51820
TRANSMISSION_VPN_CLIENT_INTERFACE_PEER_DNS=
TRANSMISSION_VPN_CLIENT_PEER_PUBLIC_KEY=
TRANSMISSION_VPN_CLIENT_PEER_PRESHARED_KEY=
TRANSMISSION_VPN_CLIENT_PEER_ENDPOINT=
TRANSMISSION_VPN_CLIENT_PEER_ALLOWED_IPS=0.0.0.0/0,::0/0
