TRANSMISSION_TRAEFIK_HOST=transmission.example.com
TRANSMISSION_INSTANCE=
TIMEZONE=Etc/UTC

## Where to store downloads and torrent files?
## This can be a named docker volume OR a host mounted absolute path:
## Make sure to create these directories before install:
TRANSMISSION_DOWNLOAD_VOLUME=/tmp/downloads
TRANSMISSION_WATCH_VOLUME=/tmp/torrents

## Open the peer port in your VPN provider interface.
## The VPN provider will give you a random public port number.
## Update the port number they give you into TRANSMISSION_PEER_PORT
TRANSMISSION_PEER_PORT=51413

## Traefik htpasswd encoded authentication
## (automatically set via `make config`):
TRANSMISSION_HTTP_AUTH=
## Traefik IP whitelist filter to block access to the client interface:
## (does not affect peer connections)
TRANSMISSION_IP_SOURCE_RANGE=0.0.0.0/0

## Options copied from your VPN provider's wireguard config file:
TRANSMISSION_VPN_CLIENT_INTERFACE_IPV4=
TRANSMISSION_VPN_CLIENT_INTERFACE_IPV6=
TRANSMISSION_VPN_CLIENT_INTERFACE_PRIVATE_KEY=
TRANSMISSION_VPN_CLIENT_INTERFACE_LISTEN_PORT=51820
TRANSMISSION_VPN_CLIENT_INTERFACE_PEER_DNS=
TRANSMISSION_VPN_CLIENT_PEER_PUBLIC_KEY=
TRANSMISSION_VPN_CLIENT_PEER_PRESHARED_KEY=
TRANSMISSION_VPN_CLIENT_PEER_ENDPOINT=
TRANSMISSION_VPN_CLIENT_PEER_ALLOWED_IPS=0.0.0.0/0,::0/0

TRANSMISSION_RPC_BIND_ADDRESS=0.0.0.0

# Default blocklist from https://github.com/Naunter/BT_BlockLists/
TRANSMISSION_BLOCKLIST_URL=https://github.com/Naunter/BT_BlockLists/raw/master/bt_blocklists.gz

# Choose one of several available themes for the web UI:
## /combustion-release/
## /transmission-web-control/
## /kettu/
## /flood-for-transmission/
## /transmissionic/
TRANSMISSION_WEB_HOME=/transmissionic/


