# The domain name for this instance of GPODDER:
GPODDER_TRAEFIK_HOST=gpodder.example.com

## Create a unique name for this instance of GPODDER:
##`make config` will set this to `default` if you do not specify it.
GPODDER_INSTANCE=

# Filter access by IP address source range (CIDR):
# See: https://doc.traefik.io/traefik/middlewares/http/ipwhitelist/
## Disallow all access:
#GPODDER_IP_SOURCERANGE="0.0.0.0/32"
## Allow all access:
#GPODDER_IP_SOURCERANGE="0.0.0.0/0"
GPODDER_IP_SOURCERANGE="0.0.0.0/0"

# HTTP Basic Authentication
# Use `make config` to generate and configure this setting interactively.
# Set multiple htpasswd encoded username/passwords comma separated; blank to disable
# See: https://doc.traefik.io/traefik/middlewares/http/basicauth/
GPODDER_HTTP_AUTH=

## You may customize the UID and GID that the container runs as, this
## is passed into the Dockerfile as a build ARG.
GPODDER_UID=54321
GPODDER_GID=54321

# Development mode
## By default, this flag does nothing. But you can use it in docker-compose.instance.yaml however you want.
## For example you may wish to detect development mode and optionally turn on a live-reload mode of your service.
GPODDER_DEVELOPMENT_MODE=false

GPODDER_PW=password
GPODDER_TZ=America/New_York
GPODDER_PORT=3000