# time zone https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TIMEZONE=America/Los_Angeles

## IP address of Traefik on the traefik-wireguard network:
TRAEFIK_IP=

## copy details from the wireguard connfig you got from the server:
ADDRESS=
PRIVATE_KEY=
DNS=

PUBLIC_KEY=
ENDPOINT=
ALLOWED_IPS=
