# time zone https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TIMEZONE=Etc/UTC

TRAEFIK_VPN_SUBNET=172.21.0.0/16

WIREGUARD_CLIENT_INTERFACE_ADDRESS=10.13.16.2
WIREGUARD_CLIENT_INTERFACE_PRIVATE_KEY=
WIREGUARD_CLIENT_INTERFACE_LISTEN_PORT=51820
WIREGUARD_CLIENT_INTERFACE_PEER_DNS=10.13.16.1
WIREGUARD_CLIENT_PEER_PUBLIC_KEY=
WIREGUARD_CLIENT_PEER_PRESHARED_KEY=
WIREGUARD_CLIENT_PEER_ENDPOINT=vpn.example.com:51820
WIREGUARD_CLIENT_PEER_ALLOWED_IPS=10.13.16.1/32,172.15.0.0/16
