SHAARLI_TRAEFIK_HOST=shaarli.example.com

## Docker tag to use
## See https://shaarli.readthedocs.io/en/master/Docker/#get-and-run-a-shaarli-image
SHAARLI_DOCKER_TAG=latest

SHAARLI_IP_SOURCERANGE=0.0.0.0/0