## A unique name for this instance:
NIX_INSTANCE=

## This is the user to create in the image:
NIX_USER_NAME=nix-user
NIX_USER_UID=1000
NIX_USER_GID=1000

NIX_HOMEMANAGER_VERSION=22.11

## NIX_HOMEMANAGER_BASE is the configuration applied during the image build process:
## Set this to common.nix for a full build, or base.nix for the barebones.
NIX_HOMEMANAGER_BASE=common.nix

## NIX_HOMEMANAGER_HOME is the configuration for the user.
## This is applied at runtime in the entrypoint, which will symlink this file to home.nix:
NIX_HOMEMANAGER_HOME=nix-user.nix

## Git repository for d.rymcg.tech
NIX_GIT_CLONE=git/vendor/enigmacurry/d.rymcg.tech
NIX_GIT_REPO=https://github.com/EnigmaCurry/d.rymcg.tech.git
NIX_GIT_BRANCH=master

NIX_DOCKER_SSH_HOST=docker.example.com
NIX_DOCKER_SSH_USER=root
NIX_DOCKER_SSH_PORT=22
