## A unique name for this instance:
NIX_INSTANCE=

## This is the user to create in the image:
NIX_USER_NAME=nix-user
NIX_USER_UID=1000
NIX_USER_GID=1000

NIX_HOMEMANAGER_VERSION=22.11

## Your git username and email:
NIX_GIT_USERNAME=
NIX_GIT_EMAIL=

## Git repository for d.rymcg.tech
NIX_GIT_D_RYMCG_TECH_CLONE=git/vendor/enigmacurry/d.rymcg.tech
NIX_GIT_D_RYMCG_TECH_REPO=https://github.com/EnigmaCurry/d.rymcg.tech.git
NIX_GIT_D_RYMCG_TECH_BRANCH=master

NIX_DOCKER_SSH_HOST=docker.example.com
NIX_DOCKER_SSH_USER=root
NIX_DOCKER_SSH_PORT=22
