## A unique name for this instance:
NIX_INSTANCE=

## Create tags for each of the images to build:
## (These images are tagged to be built for the public d.rymcg.tech community images,
##  which you won't be able to push to, [unless your name is EnigmaCurry],
##  if you want to push these images, change the tag prefix accordingly):
NIX_BASE_IMAGE_TAG=registry.digitalocean.com/rymcg-tech/nix-base:v0.0.1
NIX_COMMON_IMAGE_TAG=registry.digitalocean.com/rymcg-tech/nix-common:v0.0.1
## The NIX_USER_IMAGE_TAG should never be pushed to a public registry (use localhost instead):
NIX_USER_IMAGE_TAG=localhost/nix-user:v1.0.0

## This is the user to create in the image:
NIX_USER_NAME=nix-user
NIX_USER_UID=1000
NIX_USER_GID=1000

NIX_HOMEMANAGER_VERSION=22.11

## Your git username and email:
NIX_GIT_USERNAME=
NIX_GIT_EMAIL=

## Git repository for d.rymcg.tech
NIX_GIT_D_RYMCG_TECH_CLONE=git/vendor/enigmacurry/d.rymcg.tech
NIX_GIT_D_RYMCG_TECH_REPO=https://github.com/EnigmaCurry/d.rymcg.tech.git
NIX_GIT_D_RYMCG_TECH_REF=master

NIX_DOCKER_SSH_HOST=
NIX_DOCKER_SSH_USER=root
NIX_DOCKER_SSH_PORT=22
