# The domain name for the grafana dashboard:
PROMETHEUS_METRICS_TRAEFIK_HOST=metrics.example.com

PROMETHEUS_INSTANCE=

PROMETHEUS_NODE_EXPORTER_ENABLED=true
PROMETHEUS_CADVISOR_ENABLED=true
PROMETHEUS_ALERTMANAGER_ENABLED=false
DOCKER_COMPOSE_PROFILES=default,node-exporter,cadvisor

# Filter access by IP address source range (CIDR):
##Disallow all access:
#PROMETHEUS_METRICS_IP_SOURCERANGE="0.0.0.0/32"
##Allow all access:
PROMETHEUS_METRICS_IP_SOURCERANGE="0.0.0.0/0"

## https://hub.docker.com/r/prom/prometheus/tags
PROMETHEUS_VERSION=v2.42.0
## https://hub.docker.com/r/grafana/grafana/tags
PROMETHEUS_GRAFANA_VERSION=9.3.6
## https://hub.docker.com/r/prom/node-exporter/tags
PROMETHEUS_NODE_EXPORTER_VERSION=v1.5.0
## https://github.com/google/cadvisor/releases
PROMETHEUS_CADVISOR_VERSION=v0.47.0
## https://hub.docker.com/r/prom/alertmanager/tags
PROMETHEUS_ALERTMANAGER_VERSION=v0.25.0
## https://github.com/vmware-tanzu/carvel-ytt/releases
PROMETHEUS_CONFIG_YTT_VERSION=v0.43.0

PROMETHEUS_ALERTMANAGER_SMTP_ENABLED=false
PROMETHEUS_ALERTMANAGER_SMTP_SMARTHOST=smtp.example.com:465
PROMETHEUS_ALERTMANAGER_SMTP_AUTH_USERNAME=username@example.com
PROMETHEUS_ALERTMANAGER_SMTP_AUTH_PASSWORD=
PROMETHEUS_ALERTMANAGER_SMTP_FROM=postmaster@example.com
