# The domain name for the grafana dashboard:
PROMETHEUS_METRICS_TRAEFIK_HOST=metrics.example.com
TZ=UTC

## https://hub.docker.com/r/prom/prometheus/tags
PROMETHEUS_VERSION=v2.52.0
## https://hub.docker.com/r/grafana/grafana/tags
PROMETHEUS_GRAFANA_VERSION=11.0.0
## https://hub.docker.com/r/prom/node-exporter/tags
PROMETHEUS_NODE_EXPORTER_VERSION=v1.8.1
## https://github.com/google/cadvisor/releases
PROMETHEUS_CADVISOR_VERSION=v0.49.1
## https://hub.docker.com/r/prom/alertmanager/tags
PROMETHEUS_ALERTMANAGER_VERSION=v0.27.0
## https://github.com/vmware-tanzu/carvel-ytt/releases
PROMETHEUS_CONFIG_YTT_VERSION=v0.49.0

PROMETHEUS_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
PROMETHEUS_INSTANCE_PROTECTION=false

PROMETHEUS_NODE_EXPORTER_ENABLED=true
PROMETHEUS_CADVISOR_ENABLED=true
PROMETHEUS_ALERTMANAGER_ENABLED=false
DOCKER_COMPOSE_PROFILES=default,node-exporter,cadvisor

# Filter access by IP address source range (CIDR):
##Disallow all access:
#PROMETHEUS_METRICS_IP_SOURCERANGE="0.0.0.0/32"
##Allow all access:
PROMETHEUS_METRICS_IP_SOURCERANGE="0.0.0.0/0"

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
PROMETHEUS_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
PROMETHEUS_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
PROMETHEUS_OAUTH2_AUTHORIZED_GROUP=

PROMETHEUS_ALERTMANAGER_SMTP_ENABLED=false
PROMETHEUS_ALERTMANAGER_SMTP_SMARTHOST=smtp.example.com:465
PROMETHEUS_ALERTMANAGER_SMTP_AUTH_USERNAME=username@example.com
PROMETHEUS_ALERTMANAGER_SMTP_AUTH_PASSWORD=
PROMETHEUS_ALERTMANAGER_SMTP_FROM=postmaster@example.com
PROMETHEUS_ALERTMANAGER_SMTP_TO=notifications@example.com

PROMETHEUS_MEMORY_LIMIT=500M
PROMETHEUS_GRAFANA_MEMORY_LIMIT=500M
PROMETHEUS_CADVISOR_MEMORY_LIMIT=500M
PROMETHEUS_ALERTMANAGER_MEMORY_LIMIT=500M

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
PROMETHEUS_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
PROMETHEUS_MTLS_AUTHORIZED_CERTS=*.clients.whoami.example.com


# META:
# PREFIX=PROMETHEUS
