# The domain name for the grafana dashboard:
PROMETHEUS_METRICS_TRAEFIK_HOST=metrics.example.com

# The domain name for the cadvisor dashboard:
PROMETHEUS_METRICS_TRAEFIK_HOST=cadvisor.example.com

PROMETHEUS_INSTANCE=

PROMETHEUS_NODE_EXPORTER_ENABLED=true
PROMETHEUS_CADVISOR_ENABLED=true
DOCKER_COMPOSE_PROFILES=default,node-exporter

# Filter access by IP address source range (CIDR):
##Disallow all access:
#PROMETHEUS_IP_SOURCERANGE="0.0.0.0/32"
##Allow all access:
PROMETHEUS_IP_SOURCERANGE="0.0.0.0/0"

PROMETHEUS_VERSION=v2.42.0
PROMETHEUS_GRAFANA_VERSION=9.3.6
PROMETHEUS_NODE_EXPORTER_VERSION=v1.5.0
PROMETHEUS_CADVISOR_VERSION=v0.47.0

