# The docker image to use
# https://hub.docker.com/r/actualbudget/actual-server/tags
ACTUAL_IMAGE=docker.io/actualbudget/actual-server:26.2.1

# The domain name for the actual service:
ACTUAL_TRAEFIK_HOST=actual.example.com

# The name of this instance. If there is only one instance, use 'default'.
ACTUAL_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
ACTUAL_INSTANCE_PROTECTION=false

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
ACTUAL_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
ACTUAL_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
ACTUAL_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
ACTUAL_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
ACTUAL_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
ACTUAL_MTLS_AUTHORIZED_CERTS=*.clients.actual.example.com

# The default authentication method for Actual (valid values are "password"
# (standard password authentication), "header" (use the HTTP header
# x-actual-password), or "openid" (OpenId auth - this is an experimental feature
# in Actual: https://actualbudget.org/docs/experimental/oauth-auth/).
ACTUAL_LOGIN_METHOD=password

# Comma-separated list of login methods that are permitted for auth (possible
# values are "password", "header", or "openid").
ACTUAL_ALLOWED_LOGIN_METHODS=password

# Comma-separated list of proxy servers.
ACTUAL_TRUSTED_PROXIES=0.0.0.0/0

# Comma-separated list of clients that are allowed to authenticate with HTTP headers.
ACTUAL_TRUSTED_AUTH_PROXIES=0.0.0.0/0

ACTUAL_UPLOAD_FILE_SYNC_SIZE_LIMIT_MB=50
ACTUAL_UPLOAD_SYNC_ENCRYPTED_FILE_SYNC_SIZE_LIMIT_MB=100
ACTUAL_UPLOAD_FILE_SIZE_LIMIT_MB=50

# META:
# PREFIX=ACTUAL
