GITEA_TRAEFIK_HOST=git.example.com
GITEA_SSH_PORT=2222

## Gitea environment config overrides::
## See https://github.com/go-gitea/gitea/tree/main/contrib/environment-to-ini
## See https://docs.gitea.io/en-us/config-cheat-sheet/
## Note that all variable names need to be copied to docker-compose.yaml as well.
## These env vars help build /etc/gitea/app.ini on every startup.
## Note: The *final* configuration for gitea is always the ini file: /etc/gitea/app.ini
## docker exec -it gitea cat /etc/gitea/app.ini
APP_NAME="git thing"
GITEA__server__DISABLE_SSH=false
GITEA__service__DISABLE_REGISTRATION=true
GITEA__service__REQUIRE_SIGNIN_VIEW=true
GITEA__service__REGISTER_EMAIL_CONFIRM=false
GITEA__service__ENABLE_NOTIFY_MAIL=true
GITEA__service__ALLOW_ONLY_EXTERNAL_REGISTRATION=false
GITEA__service__ENABLE_CAPTCHA=false
GITEA__service__DEFAULT_KEEP_EMAIL_PRIVATE=true
GITEA__service__DEFAULT_ALLOW_CREATE_ORGANIZATION=false
GITEA__service__DEFAULT_ENABLE_TIMETRACKING=false
GITEA__service__NO_REPLY_ADDRESS=
