# The docker image to use (linuxserver's registry only supports the "latest" tag
# (https://fleet.linuxserver.io/image?name=linuxserver/speedtest-tracker):
SPEEDTEST_TRACKER_IMAGE=lscr.io/linuxserver/speedtest-tracker:latest

# The domain name for the speedtest-tracker service:
SPEEDTEST_TRACKER_TRAEFIK_HOST=speedtest-tracker.example.com

# The name of this instance. If there is only one instance, use 'default'.
SPEEDTEST_TRACKER_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
SPEEDTEST_TRACKER_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
SPEEDTEST_TRACKER_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
SPEEDTEST_TRACKER_OAUTH2=
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
SPEEDTEST_TRACKER_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
SPEEDTEST_TRACKER_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
SPEEDTEST_TRACKER_MTLS_AUTHORIZED_CERTS=*.clients.speedtest-tracker.example.com

SPEEDTEST_TRACKER_APP_KEY=
SPEEDTEST_TRACKER_APP_DEBUG=false

# Set the application's name as it will appear on the dashboard and in notifications.
SPEEDTEST_TRACKER_APP_NAME=

# Enter the initial password for the admin account.
SPEEDTEST_TRACKER_INITIAL_ADMIN_PASSWORD=

# Server is configured to store timestamps in UTC. Set this to display
# timestamps in a specific timezone.
SPEEDTEST_TRACKER_DISPLAY_TIMEZONE=UTC

# Set to "true" to enable the public dashboard for guest (unauthenticated)
# users.
SPEEDTEST_TRACKER_PUBLIC_DASHBOARD=false

# Cron expression used to run speedtests on a scheduled basis.
SPEEDTEST_TRACKER_SCHEDULE=6 */2 * * *

# Set the value to greater than zero to prune stored results. This value should
# be represented in days, e.g. 7 will purge all results over 7 days old.
SPEEDTEST_TRACKER_PRUNE_RESULTS_OLDER_THAN=7
