## VM_ADMIN: the Host account that owns the VMs
VM_ADMIN=libvirt-admin

## VM_USER: the VM account that is created
VM_USER=root
## SSH_KEY: the public key string (not a path)
SSH_KEY=

## VM Config:
NAME=debian-dev
MEMORY=1024
CPUS=1
DISK_SIZE=50
OS_VARIANT=debian12
CLOUD_IMAGE=https://cloud.debian.org/images/cloud/bookworm/latest/debian-12-generic-amd64.qcow2
IP_ADDRESS=192.168.122.2
MAC_ADDRESS=00:60:2f:86:96:00
