## Invidious doesn't have releases with version numbers, so the only tag is latest :/
INVIDIOUS_VERSION=latest
INVIDIOUS_TRAEFIK_HOST=yt.example.com
INVIDIOUS_INSTANCE=

INVIDIOUS_POSTGRES_PASSWORD=
INVIDIOUS_HTTP_AUTH=
INVIDIOUS_REALM=Invidious

INVIDIOUS_IP_SOURCERANGE=0.0.0.0/0

INVIDIOUS_HMAC_KEY=