volumes:
  database:
  companioncache:

services:
  postgres:
    build:
      context: postgres
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - database:/var/lib/postgresql/data   
      #- ./config/sql:/config/sql
      #- ./docker/init-invidious-db.sh:/docker-entrypoint-initdb.d/init-invidious-db.sh
    environment:
      - POSTGRES_DB=invidious
      - POSTGRES_USER=invidious
      - POSTGRES_PASSWORD=${INVIDIOUS_POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
    labels:
      - "backup-volume.stop-during-backup=true"
      
  invidious:
    image: ${INVIDIOUS_IMAGE}
    # build:
    #   context: https://github.com/iv-org/invidious.git
    #   dockerfile: docker/Dockerfile
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    environment:
      # Please read the following file for a comprehensive list of all available
      # configuration options and their associated syntax:
      # https://github.com/iv-org/invidious/blob/master/config/config.example.yml
      INVIDIOUS_CONFIG: |
        db:
          user: invidious
          password: ${INVIDIOUS_POSTGRES_PASSWORD}
          host: postgres
          port: 5432
          dbname: invidious
        check_tables: true
        channel_threads: 1
        feed_threads: 1
        full_refresh: false
        domain: ${INVIDIOUS_TRAEFIK_HOST}
        visitor_data: ${INVIDIOUS_VISITOR_DATA}
        po_token: ${INVIDIOUS_PO_TOKEN}
        use_innertube_for_captions: false
        use_pubsub_feeds: false
        invidious_companion:
        # private_url is the URL used for the internal communication between invidious and invidious companion.
        # There is no need to change this unless Invidious companion is not installed from the same docker compose file.
        - private_url: "http://companion:8282/companion"
        # IT is NOT recommended to use the same key as HMAC KEY. Generate a new key!
        invidious_companion_key: ${INVIDIOUS_COMPANION_KEY}
        https_only: false
        statistics_enabled: ${INVIDIOUS_STATISTICS_ENABLED}
        # Use the key generated in the 2nd step
        hmac_key: ${INVIDIOUS_HMAC_KEY}
    healthcheck:
      test: wget -nv --tries=1 --spider http://127.0.0.1:3000/api/v1/comments/jNQXAC9IVRw || exit 1
      interval: 30s
      timeout: 5s
      retries: 2
    logging:
      options:
        max-size: "1G"
        max-file: "4"
    depends_on:
      - postgres
    labels: []

  companion:
    image: ${INVIDIOUS_COMPANION_IMAGE}
    environment:
      - SERVER_SECRET_KEY=${INVIDIOUS_COMPANION_KEY} 
    restart: unless-stopped
    # Uncomment only if you have configured "public_url" for Invidious companion
    # Or if you want to use Invidious companion as an API in your program.
    # Remove "127.0.0.1:" if used from an external IP
    #ports:
    #  - "127.0.0.1:8282:8282"
    logging:
      options:
        max-size: "1G"
        max-file: "4"
    cap_drop:
      - ALL
    read_only: true
    # cache for youtube library
    volumes:
      - companioncache:/var/tmp/youtubei.js:rw
    security_opt:
      - no-new-privileges:true
