SFTP_PORT=2223

## Users must already have published SSH keys.
## Keys are automatically downloaded from a key provider, eg: GitHub,
## Launchpad, or from a custom KEYFILE_URL:

# SFTP_USERS format: ssh-username:key-provider:provider-username:UID:GID:dir1,dir2,... [ssh-username2:key-provider:provider-username2:UID:GID:dir1,dir2,...]
# ssh-import-id will be used to pull SSH pubkeys directly from GitHub or another URL.
# Here is an example to create two users separated by a space: ryan and gary.
# Ryan's key is pulled from github, and creates three directories: photos, logs, junk
# Gary's key is pulled from the customized KEYFILE_URL and creates one directory: stuff
# SFTP_USERS=ryan:github:enigmacurry:1001:1001:photos,logs,junk gary:url:gary12345:1002:1002:stuff
SFTP_USERS=ryan:github:enigmacurry:1001:1001:photos,logs,junk gary:url:gary12345:1002:1002:stuff

## If per-user key-provider is set as 'url', fetch SSH key from the
## following URL: (The '%s' is a required placeholder for the github/other username)
## Note: All SFTP_USERS that have the 'url' key-provider will share this URL.
#SFTP_KEYFILE_URL="https://example.com/%s.keys"
## If no username is specified in the URL, you must append '#%s' at the end,
## otherwise ssh-import-id will complain (this part is not sent to the server):
#SFTP_KEYFILE_URL="https://example.com/static.txt#%s"
SFTP_KEYFILE_URL="https://github.com/%s.keys"
