SFTP_TRAEFIK_HOST=sftp.example.com
# config_root should be a mount point on the host pointing to persistent storage for keys, etc.
CONFIG_ROOT=/mnt/config/sftp
SFTP_PORT=2222
# Choose Let's Encrypt 'staging' or 'production' environment:
ACME_CERT_RESOLVER=staging
