SFTP_PORT=2223

## Users must already have published SSH keys. \
## Keys are automatically downloaded from a key provider, eg: GitHub,
## Launchpad, or from a custom KEYFILE_URL:

# SFTP_USERS format: ssh-username:key-provider:provider-username:UID:GID:dir1,dir2,... [ssh-username2:key-provider:provider-username2:UID:GID:dir1,dir2,...]
# ssh-import-id will be used to pull SSH pubkeys directly from GitHub or another URL.
# Here is an example for two users separated by a space: ryan and gary. Ryan's key is pulled from github, and gary's key is pulled from the customized KEYFILE_URL:
SFTP_USERS=ryan:url:enigmacurry:1001:1001:photos,logs,junk

## If per-user provider is set as 'url', fetch SSH key from the
## following URL: (The provider-username '%s' is required and replaced
## inside the string)
## Note: the same base URL must be shared for all 'url' key sources.
#KEYFILE_URL="https://example.com/%s.keys"
## If no username is specified in the URL, append '#%s' at the end to ignore sending it:
#KEYFILE_URL="https://example.com/example.txt#%s"
KEYFILE_URL="https://github.com/%s.keys"
