# The domain name for the calcpad service:
CALCPAD_TRAEFIK_HOST=calcpad.example.com

## Using EnigmaCurry forked repository for CalcPad:
## https://github.com/enigmacurry/CalcPad/releases
CALCPAD_VERSION=6a07035cc98ae5cf033d02ba7012024fba0b01e5

# The name of this instance. If there is only one instance, use 'default'.
CALCPAD_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
CALCPAD_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
CALCPAD_HTTP_AUTH=

## You can run the calcpad service as any user/group:
CALCPAD_UID=54321
CALCPAD_GID=54321

## Redbean server version:
## https://redbean.dev/#download
CALCPAD_REDBEAN_VERSION=2.2

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
CALCPAD_OAUTH2=
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
CALCPAD_OAUTH2_AUTHORIZED_GROUP=


# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
CALCPAD_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
CALCPAD_MTLS_AUTHORIZED_CERTS=*.clients.calcpad.example.com
