# The domain name for the calcpad service:
CALCPAD_TRAEFIK_HOST=calcpad.example.com

## Using EnigmaCurry forked repository for CalcPad:
## https://github.com/enigmacurry/CalcPad/releases
CALCPAD_VERSION=6a07035cc98ae5cf033d02ba7012024fba0b01e5

# The name of this instance. If there is only one instance, use 'default'.
CALCPAD_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
CALCPAD_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
CALCPAD_HTTP_AUTH=

## You can run the calcpad service as any user/group:
CALCPAD_UID=54321
CALCPAD_GID=54321

## Redbean server version:
## https://redbean.dev/#download
CALCPAD_REDBEAN_VERSION=2.2
