# The domain name for this instance of ${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}:
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_TRAEFIK_HOST=${CREATE_TEMPLATE_PROJECT_URL_NAME}.example.com

## Create a unique name for this instance of ${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}:
##`make config` will set this to `default` if you do not specify it.
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_INSTANCE=

# Filter access by IP address source range (CIDR):
# See: https://doc.traefik.io/traefik/middlewares/http/ipwhitelist/
## Disallow all access:
#${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_IP_SOURCERANGE="0.0.0.0/32"
## Allow all access:
#${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_IP_SOURCERANGE="0.0.0.0/0"
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_IP_SOURCERANGE="0.0.0.0/0"

# HTTP Basic Authentication
# Use `make config` to generate and configure this setting interactively.
# Set multiple htpasswd encoded username/passwords comma separated; blank to disable
# See: https://doc.traefik.io/traefik/middlewares/http/basicauth/
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_HTTP_AUTH=

## You may customize the UID and GID that the container runs as, this
## is passed into the Dockerfile as a build ARG.
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_UID=54321
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_GID=54321

# Development mode
## By default, this flag does nothing. But you can use it in docker-compose.instance.yaml however you want.
## For example you may wish to detect development mode and optionally turn on a live-reload mode of your service.
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_DEVELOPMENT_MODE=false

# PostgreSQL
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_POSTGRES_DATABASE=${CREATE_TEMPLATE_PROJECT_NAME}
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_POSTGRES_USER=${CREATE_TEMPLATE_PROJECT_NAME}
${CREATE_TEMPLATE_PROJECT_NAME_UPPERCASE}_POSTGRES_PASSWORD=
