# The name of this instance. If there is only one instance, use 'default'.
WIREGUARD_GATEWAY_INSTANCE=

# Set your host LAN interface name (check `ip link` for real interface name.)
WIREGUARD_GATEWAY_LAN_INTERFACE=eth0
# Set the VPN interface name (make sure its unique):
WIREGUARD_GATEWAY_VPN_INTERFACE=wg0

# MAC address assigned to the virtual NIC bridged to your LAN.
# (This is the MAC address that you need to reserve via your DHCP server.)
WIREGUARD_GATEWAY_MAC_ADDRESS=

WIREGUARD_GATEWAY_PRIVATE_KEY=
WIREGUARD_GATEWAY_PEER_ENDPOINT=
WIREGUARD_GATEWAY_PEER_PUBLIC_KEY=
WIREGUARD_GATEWAY_PEER_ALLOWED_IPS=
WIREGUARD_GATEWAY_VPN_IPV4=

# META:
# PREFIX=WIREGUARD_GATEWAY
