# The name of this instance. If there is only one instance, use 'default'.
WIREGUARD_GATEWAY_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
WIREGUARD_GATEWAY_INSTANCE_PROTECTION=false

# Set your host LAN interface name (check `ip link` for real interface name.)
WIREGUARD_GATEWAY_LAN_INTERFACE=eth0
# Set the VPN interface name (make sure its unique):
WIREGUARD_GATEWAY_VPN_INTERFACE=wg0

# MAC address assigned to the virtual NIC bridged to your LAN.
# (This is the MAC address that you need to reserve via your DHCP server.)
WIREGUARD_GATEWAY_MAC_ADDRESS=

WIREGUARD_GATEWAY_PRIVATE_KEY=
WIREGUARD_GATEWAY_PEER_ENDPOINT=
WIREGUARD_GATEWAY_PEER_PUBLIC_KEY=
WIREGUARD_GATEWAY_PEER_ALLOWED_IPS=
WIREGUARD_GATEWAY_VPN_IPV4=

# Set the comma separated list of client networks allowed to create routes through this gateway.
# 0.0.0.0/0 allows any client to make a route.
WIREGUARD_GATEWAY_CLIENT_ALLOWED_IPS=0.0.0.0/0

# META:
# PREFIX=WIREGUARD_GATEWAY
