## Filestash does not offer any usable tags other than latest :/
FILESTASH_VERSION=latest
FILESTASH_TRAEFIK_HOST=filestash.example.com
FILESTASH_INSTANCE=

FILESTASH_IP_SOURCERANGE=0.0.0.0/0

## htpasswd encoded username/passwords:
## Run `make config` to reconfigure this:
FILESTASH_AUTH=

