MOSQUITTO_IMAGE=eclipse-mosquitto:2
MOSQUITTO_TRAEFIK_HOST=mqtt.example.com

## Configure your Step-CA ACME server:
MOSQUITTO_CERTBOT_SERVER=https://ca.example.com/acme/acme-directory
MOSQUITTO_CERTBOT_EMAIL=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
MOSQUITTO_IP_SOURCERANGE=0.0.0.0/0
