MOSQUITTO_VERSION=2
MOSQUITTO_TRAEFIK_HOST=mqtt.example.com

## Mosquitto TLS must declare the Traefik certificate resolver
## (Only TCP services need this because Traefik doesn't support setting this on the entrypoint)
MOSQUITTO_ACME_CERT_RESOLVER=production

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
MOSQUITTO_IP_SOURCERANGE=0.0.0.0/0
