MOSQUITTO_VERSION=2
MOSQUITTO_TRAEFIK_HOST=mqtt.example.com

## Mosquitto TLS must declare the Traefik certificate resolver
## (Only TCP services need this because Traefik doesn't support setting this on the entrypoint)
MOSQUITTO_ACME_CERT_RESOLVER=production
