## Enter your email address for Let's Encrypt:
ACME_CA_EMAIL=you@example.com

## Enter htpasswd encoded username/password for accessing the dashboard
## Run `make config` to automatically fill this in
TRAEFIK_DASHBOARD_AUTH=

## Traefik docker image:
TRAEFIK_IMAGE=traefik:v2.6
## Log levels: error, warn, info, debug
TRAEFIK_LOG_LEVEL=info

## Enable access logs or not:
TRAEFIK_ACCESS_LOGS_ENABLED=false
TRAEFIK_ACCESS_LOGS_PATH=/data/access.log

## The subnet of the proxy peer network:
TRAEFIK_PROXY_SUBNET=
## The IP address of traefik on the traefik-proxy network:
TRAEFIK_PROXY_SUBNET_IP=

## The subnet of the traefik-wireguard network:
TRAEFIK_WIREGUARD_SUBNET=
## The IP address of traefik on the traefik-wireguard network:
TRAEFIK_WIREGUARD_SUBNET_IP=

## The subnet of the traefik-mail network:
TRAEFIK_MAIL_SUBNET=
## The IP address of traefik on the traefik-wireguard network:
TRAEFIK_MAIL_SUBNET_IP=

