## Traefik docker image:
TRAEFIK_IMAGE=traefik:v2.9

## Log levels: error, warn, info, debug
TRAEFIK_LOG_LEVEL=info

## ACME Challenge (Let's Encrypt)
## Enter your email address for Let's Encrypt:
TRAEFIK_ACME_CA_EMAIL=you@example.com
## Choose to use TLS (TLS-ALPN-01) or DNS (DNS-01) challenge types. (Pick only one!)
TRAEFIK_ACME_DNS_CHALLENGE=true
TRAEFIK_ACME_TLS_CHALLENGE=false
## Enter the root domain for the default TLS certificate:
TRAEFIK_CERT_ROOT_DOMAIN=example.com
## Enter all of the secondary (SANS) domains:
## (comma separated, can include wildcards if you also use TRAEFIK_ACME_DNS_CHALLENGE=true):
TRAEFIK_CERT_SANS_DOMAIN=

## DNS-01 ACME Challenge (this is ignored if TRAEFIK_ACME_DNS_CHALLENGE=false)
TRAEFIK_ACME_DNS_PROVIDER=digitalocean
## List the variable *names* needed for your DNS provider (up to 5 variable names):
##   https://doc.traefik.io/traefik/https/acme/#providers
## Example of DO_AUTH_TOKEN is appropriate for DigitalOcean DNS only:
TRAEFIK_ACME_DNS_VARNAME_1=DO_AUTH_TOKEN
TRAEFIK_ACME_DNS_VARNAME_2=
TRAEFIK_ACME_DNS_VARNAME_3=
TRAEFIK_ACME_DNS_VARNAME_4=
TRAEFIK_ACME_DNS_VARNAME_5=
## Set the provider specific *values* for the same variable names set above:
DO_AUTH_TOKEN=your-actual-digitalocean-token-here


## Enter htpasswd encoded username/password for accessing the dashboard
## Run `make config` to automatically fill this in
TRAEFIK_DASHBOARD_AUTH=

## Enable access logs or not:
TRAEFIK_ACCESS_LOGS_ENABLED=false
TRAEFIK_ACCESS_LOGS_PATH=/data/access.log

## The subnet of the traefik-wireguard network:
TRAEFIK_WIREGUARD_SUBNET=
## The IP address of traefik on the traefik-wireguard network:
TRAEFIK_WIREGUARD_SUBNET_IP=

## The subnet of the traefik-mail network:
TRAEFIK_MAIL_SUBNET=
## The IP address of traefik on the traefik-wireguard network:
TRAEFIK_MAIL_SUBNET_IP=

## Send anonymous usage stats to Traefik Labs (opt-in by setting this true)
## https://doc.traefik.io/traefik/contributing/data-collection
TRAEFIK_SEND_ANONYMOUS_USAGE=false
