## Enter your email address for Let's Encrypt:
ACME_CA_EMAIL=you@example.com

## Enter htpasswd encoded username/password for accessing the dashboard
## Run `make config` to automatically fill this in
TRAEFIK_DASHBOARD_AUTH=

## Traefik docker image:
TRAEFIK_IMAGE=traefik:v2.6
## Log levels: error, warn, info, debug
TRAEFIK_LOG_LEVEL=info

## The IP address of traefik on the traefik-proxy network:
TRAEFIK_PROXY_SUBNET_IP=
## The IP address of traefik on the traefik-wireguard network:
TRAEFIK_WIREGUARD_SUBNET_IP=
## The subnet of the wireguard peer network:
TRAEFIK_WIREGUARD_SUBNET=
