# The domain name for the mumble service:
MUMBLE_TRAEFIK_HOST=mumble.example.com
MUMBLE_VERSION=v1.4.230-6

# The name of this instance. If there is only one instance, use 'default'.
MUMBLE_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
MUMBLE_IP_SOURCERANGE=0.0.0.0/0

MUMBLE_SUPERUSER_PASSWORD=

MUMBLE_VERBOSE=false

## Mumble config
## All vars start with MUMBLE_CONFIG_ prefix
## See all config vars @ https://wiki.mumble.info/wiki/Murmur.ini
MUMBLE_CONFIG_WELCOME_TEXT="Yo welcome to mumble powered by d.rymcg.tech"

## All users are required to use client certificates:
MUMBLE_CONFIG_CERT_REQUIRED=true
## All users are placed in the Root channel (id=0) by default:
MUMBLE_CONFIG_DEFAULT_CHANNEL=0
