# The domain name for the podfetch service:
PODFETCH_TRAEFIK_HOST=podfetch.example.com

# the version of the docker image to use
PODFETCH_VERSION=v4.4.0-postgres-b2febd8

# The name of this instance. If there is only one instance, use 'default'.
PODFETCH_INSTANCE=

PODFETCH_POSTGRES_PW=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
PODFETCH_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
PODFETCH_HTTP_AUTH=

## You can run the podfetch service as any user/group:
PODFETCH_UID=54321
PODFETCH_GID=54321

# Configure Podfetch via these environment variables
PODFETCH_BASIC_AUTH=true
PODFETCH_USERNAME=username
PODFETCH_PASSWORD=password
