# The name of this instance. If there is only one instance, use 'default'.
TOR_INSTANCE=

# JSON list of hidden services: [["name", "traefik-docker-service"], ...]
# Each entry creates a Tor hidden service that routes to a Traefik service.
# The traefik-docker-service follows the pattern: {project}-{instance}-{service}
# Example: whoami instance "default" -> whoami-default-whoami
#TOR_HIDDEN_SERVICES=[["whoami", "whoami-default-whoami"]]
TOR_HIDDEN_SERVICES=[]

# JSON map of .onion addresses: {"name": "abcdef...onion", ...}
# Leave as {} on first install. After install, run `make onion-addresses`
# to get the generated .onion addresses, then set them here and reinstall.
TOR_ONION_HOSTS={}

# META:
# PREFIX=TOR
