# The docker image to use:
INSPIRCD_IMAGE=inspircd/inspircd-docker:4
INSPIRCD_ANOPE_IMAGE=anope/anope:2

# The fully qualified domain name of the server:
INSPIRCD_TRAEFIK_HOST=irc.example.com

# The Traefik entrypoint to use:
INSPIRCD_TRAEFIK_ENTRYPOINT=irc

# Enable TLS termination on the Traefik entrypoint:
# Set false for Tor hidden services (Tor provides its own encryption).
INSPIRCD_TRAEFIK_TLS=true

# The ad-hoc "Network Name" advertised to clients:
INSPIRCD_NET_NAME=ExampleNet

## The Makefile will derive these from INSPIRCD_TRAEFIK_HOST:
# Just the hostname part of INSPIRCD_TRAEFIK_HOST:
INSPIRCD_SERVER_HOSTNAME=irc
# Just the domain part of INSPIRCD_TRAEFIK_HOST (include leading dot):
INSPIRCD_NET_SUFFIX=.example.com

# The name of this instance. If there is only one instance, use 'default'.
INSPIRCD_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
INSPIRCD_INSTANCE_PROTECTION=false

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
INSPIRCD_IP_SOURCERANGE=0.0.0.0/0

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
INSPIRCD_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
INSPIRCD_MTLS_AUTHORIZED_CERTS=*.clients.inspircd.example.com


# Admin information:
INSPIRCD_ADMIN_NAME=
INSPIRCD_ADMIN_DESC=
INSPIRCD_ADMIN_EMAIL=

# IP blocklist - https://www.dnsbl.info/
INSPIRCD_ENABLE_DNSBL=yes

# bcrypt hashed passwword:
# (If set, this becomes a required global pre-shared password, not a user authentication method)
INSPIRCD_CONNECT_PASSWORD=

# Connect to the postfix-relay network (for email notifications):
INSPIRCD_POSTFIX_RELAY_ENABLE=false

# IRC Services, NickServ etc.
INSPIRCD_SERVICES_ANOPE_ENABLE=true
INSPIRCD_SERVICES_ANOPE_PASSWORD=

## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
INSPIRCD_HOMEPAGE_LABELS_ENABLE=true
INSPIRCD_HOMEPAGE_GROUP_INSPIRCD=Network
INSPIRCD_HOMEPAGE_NAME_INSPIRCD=Inspircd
# Choose a service icon from any of these services:
## https://dashboardicons.com/                 :: no prefix needed
## https://pictogrammers.com/library/mdi/      :: prefix with mdi-*
## https://simpleicons.org/                    :: prefix with si-*
## https://selfh.st/icons/                     :: prefix with sh-*
INSPIRCD_HOMEPAGE_ICON_INSPIRCD=sh-golang
## If description is blank, it will default to the the traefik_host:
INSPIRCD_HOMEPAGE_DESCRIPTION_INSPIRCD=
## Display container stats widget:
INSPIRCD_HOMEPAGE_SHOW_STATS_INSPIRCD=true
## Homepage doesn't have a widget for inspircd, but this is an example for other apps to follow:
INSPIRCD_HOMEPAGE_WIDGET_ENABLE=false

# META:
# PREFIX=INSPIRCD
