services:
  inspircd:
    image: ${INSPIRCD_IMAGE}
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=1024
    hostname: ${INSPIRCD_SERVER_HOSTNAME}
    environment:
      - INSP_NET_NAME=${INSPIRCD_NET_NAME}
      - INSP_NET_SUFFIX=${INSPIRCD_NET_SUFFIX}
      - INSP_SERVER_HOSTNAME=${INSPIRCD_SERVER_HOSTNAME}
      - INSP_ADMIN_NAME=${INSPIRCD_ADMIN_NAME}
      - INSP_ADMIN_DESC=${INSPIRCD_ADMIN_DESC}
      - INSP_ADMIN_EMAIL=${INSPIRCD_ADMIN_EMAIL}
      - INSP_ENABLE_DNSBL=${INSPIRCD_ENABLE_DNSBL}
      - INSP_CONNECT_PASSWORD=${INSPIRCD_CONNECT_PASSWORD}
      - INSP_CONNECT_HASH=bcrypt
    #command: --debug
    restart: unless-stopped
    labels: []
