NEXTCLOUD_TRAEFIK_HOST=nc.example.com
NEXTCLOUD_INSTANCE=

## Make secure passphrases: openssl rand -base64 45
DATABASE_PASSWORD=change_me_insecure_password
BACKUP_ENCRYPTION_PASSWORD=change_me_insecure_password

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
NEXTCLOUD_IP_SOURCERANGE=0.0.0.0/0

## Schedule to backup app data (not Primary Storage)
APP_BACKUP_SCHEDULE=@daily

## Database backup schedule:
## See https://pkg.go.dev/github.com/robfig/cron?utm_source=godoc#hdr-Predefined_schedules
DATABASE_BACKUP_SCHEDULE=@daily
## Delete old backup files older than this value:
DATABASE_BACKUP_DELETE_OLDER_THAN=3 months ago

## By default, Primary Storage is stored in the `nextcloud_data` docker volume.
## Optionally, you can store this data externally in an S3 Bucket instead.
## 
# OBJECTSTORE_S3_BUCKET=your_nextcloud_bucket
# OBJECTSTORE_S3_KEY=your_s3_access_id
# OBJECTSTORE_S3_SECRET=your_s3_secret_key
# OBJECTSTORE_S3_HOST=s3.example.com

## S3 Bucket for Backups:
BACKUP_S3_BUCKET=your_db_backup_bucket
BACKUP_S3_KEY=your_s3_access_id
BACKUP_S3_SECRET=your_s3_secret_key
BACKUP_S3_HOST=s3.example.com

## Backup container source code to build images from:
BACKUP_APP_GIT_SRC=https://github.com/lobaro/restic-backup-docker.git#1.3.1-0.9.6
BACKUP_POSTGRES_GIT_SRC=https://github.com/enigmacurry/postgresql-backup-s3.git#master
