MYSQL_PASSWORD=change_me_insecure_password
MYSQL_RANDOM_ROOT_PASSWORD=yes
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
NEXTCLOUD_TRAEFIK_HOST=nc.example.com
OBJECTSTORE_S3_BUCKET=your_bucket_name
OBJECTSTORE_S3_SSL=true
OBJECTSTORE_S3_USEPATH_STYLE=false
OBJECTSTORE_S3_AUTOCREATE=true
OBJECTSTORE_S3_KEY=your_s3_key
OBJECTSTORE_S3_SECRET=your_s3_secret
OBJECTSTORE_S3_REGION=your_s3_region
OBJECTSTORE_S3_HOST=your_s3_host
OBJECTSTORE_S3_PORT=443
# Choose Let's Encrypt 'staging' or 'production' environment:
ACME_CERT_RESOLVER=production
