
services:
  postgres:
    image: ${NEXTCLOUD_POSTGRES_IMAGE}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD=${NEXTCLOUD_DATABASE_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
    labels:
      - "backup-volume.stop-during-backup=true"

  postgres_backup:
    build:
      context: ${NEXTCLOUD_BACKUP_POSTGRES_GIT_SRC}
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_DATABASE=all
      - POSTGRES_USER=nextcloud
      - POSTGRES_PASSWORD=${NEXTCLOUD_DATABASE_PASSWORD}
      - S3_ACCESS_KEY_ID=${NEXTCLOUD_BACKUP_S3_KEY}
      - S3_SECRET_ACCESS_KEY=${NEXTCLOUD_BACKUP_S3_SECRET}
      - S3_BUCKET=${NEXTCLOUD_BACKUP_S3_BUCKET}
      - S3_PREFIX=${NEXTCLOUD_TRAEFIK_HOST}/postgres
      - S3_ENDPOINT=https://${NEXTCLOUD_BACKUP_S3_HOST}
      - S3_S3V4=yes
      - SCHEDULE=${NEXTCLOUD_DATABASE_BACKUP_SCHEDULE}
      - ENCRYPTION_PASSWORD=${NEXTCLOUD_BACKUP_ENCRYPTION_PASSWORD}

  redis:
    image: ${NEXTCLOUD_REDIS_IMAGE}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    labels:
      - "backup-volume.stop-during-backup=true"

  app:
    build:
      context: nextcloud
      args:
        NEXTCLOUD_IMAGE: ${NEXTCLOUD_IMAGE}
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - data:/var/www/html
      #- photos:/var/www/html/data
    environment:
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - POSTGRES_HOST=postgres
      - POSTGRES_PASSWORD=${NEXTCLOUD_DATABASE_PASSWORD}
      - REDIS_HOST=redis
      - PHP_MEMORY_LIMIT=${NEXTCLOUD_PHP_MEMORY_LIMIT}
      - PHP_UPLOAD_LIMIT=${NEXTCLOUD_PHP_UPLOAD_LIMIT}
    depends_on:
      - postgres
      - redis
    labels: []
      # the following were intended to allow dav discovery in nextcloud, but didn't work
      #- "traefik.frontend.redirect.permanent='true'"
      #- "traefik.frontend.redirect.regex='https://(.*)/.well-known/(card|cal)dav'"
      #- "traefik.frontend.redirect.replacement='https://$$1/remote.php/dav/'"

  data_backup:
    hostname: data_backup
    restart: unless-stopped
    build:
      context: data_backup
    volumes:
      - data:/data
    environment:
      ## See https://github.com/lobaro/restic-backup-docker#environment-variables
      - RESTIC_REPOSITORY=s3:https://${NEXTCLOUD_BACKUP_S3_HOST}/${NEXTCLOUD_BACKUP_S3_BUCKET}/${NEXTCLOUD_TRAEFIK_HOST}/data
      - RESTIC_PASSWORD=${NEXTCLOUD_BACKUP_ENCRYPTION_PASSWORD}
      - BACKUP_CRON=${NEXTCLOUD_APP_BACKUP_SCHEDULE}
      - AWS_ACCESS_KEY_ID=${NEXTCLOUD_BACKUP_S3_KEY}
      - AWS_SECRET_ACCESS_KEY=${NEXTCLOUD_BACKUP_S3_SECRET}
      - RESTIC_FORGET_ARGS=--prune --keep-daily 7 --keep-weekly 4 --keep-monthly 6 --keep-yearly 3

  cron:
    image: ${NEXTCLOUD_IMAGE}
    security_opt:
      - no-new-privileges:true
    restart: unless-stopped
    volumes:
      - data:/var/www/html
    entrypoint: /cron.sh
    depends_on:
      - postgres
      - redis
    labels:
      - "backup-volume.stop-during-backup=true"

volumes:
  postgres:
  data:
  #photos:
