# The domain name for the homepage service:
HOMEPAGE_TRAEFIK_HOST=homepage.example.com

# The tag for the Docker image
HOMEPAGE_VERSION=v0.6.27

# The name of this instance. If there is only one instance, use 'default'.
HOMEPAGE_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
HOMEPAGE_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
HOMEPAGE_HTTP_AUTH=

## To support automatic Docker service discovery, you need to mount the docker socket.
## Since this is a security concern, it should be disabled by default, unless you want it.
HOMEPAGE_ENABLE_DOCKER=false

## The Homepage reloader is an HTTP endpoint that can trigger a
## restart of the container when an authenticated webhook makes a
## request to do so.
HOMEPAGE_RELOADER_PATH_PREFIX=/reloader

## This is the secret value used by the reloader as an access credential:
## You must retrieve/share this secret with your external webhook
## client (eg. in GitHub repository settings):
HOMEPAGE_RELOADER_HMAC_SECRET=

## Template git repository used to make the initial config:
## All environment variables will be substituted in the templates via envsubst
## Cloning from private git repositores is supported, but you must create a deploy key first.
## eg. HOMEPAGE_TEMPLATE_REPO=git@github.com:YourUsername/my-private-homepage-template.git
HOMEPAGE_TEMPLATE_REPO=https://github.com/EnigmaCurry/d.rymcg.tech_homepage-template.git

## If you want to reset your config on every startup from the HOMEPAGE_TEMPLATE_REPO,
## set HOMEPAGE_TEMPLATE_REPO_SYNC_ON_START=true
## Warning: ALL of your existing homepage config would be deleted every time the container restarts:
HOMEPAGE_TEMPLATE_REPO_SYNC_ON_START=false
