# The domain name for the redbean service:
REDBEAN_TRAEFIK_HOST=redbean.example.com

# The redbean git ref version or tag to build
# https://github.com/jart/cosmopolitan/releases
REDBEAN_VERSION=redbean-2.2

## Redbean alternative build target:
## https://redbean.dev/#altbuilds
## https://github.com/jart/cosmopolitan/blob/master/tool/net/net.mk
## redbean-original.com = no lua, no tls.
## redbean-unsecure.com = lua, no tls.
REDBEAN_TARGET=redbean-original.com

## Choose a template to add to the HTML root of redbean:
## (Add your own templates in ./templates and add to .gitignore)
REDBEAN_HTML_TEMPLATE=useful-demo

## Choose the server mode:
## public - rus as a public service through the Traefik websecure entrypoint.
## service - run as a private Traefik service, not exposed to the public.
REDBEAN_TRAEFIK_MODE=public

# The name of this instance. If there is only one instance, use 'default'.
REDBEAN_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
REDBEAN_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
REDBEAN_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Gitea server can log into your app and
# have full access.
REDBEAN_OAUTH2=
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
REDBEAN_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
REDBEAN_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
REDBEAN_MTLS_AUTHORIZED_CERTS=*.clients.redbean.example.com

## You can run the redbean service as any user/group:
REDBEAN_UID=54321
REDBEAN_GID=54321

