# The domain name for the redbean service:
REDBEAN_TRAEFIK_HOST=redbean.example.com

# The name of this instance. If there is only one instance, use 'default'.
REDBEAN_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
REDBEAN_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
REDBEAN_HTTP_AUTH=

## You can run the redbean service as any user/group:
REDBEAN_UID=54321
REDBEAN_GID=54321

