# The docker images to use:
COTURN_IMAGE=coturn/coturn

# The domain name for the coturn service:
COTURN_TRAEFIK_HOST=turn.example.com
# The coturn authentication realm:
COTURN_REALM=example.com

# Set the public IP address of the Docker host
COTURN_EXTERNAL_IP=

# The name of this instance. If there is only one instance, use 'default'.
COTURN_INSTANCE=

COTURN_STATIC_AUTH_SECRET=

## Public UDP port that coturn listens to:
COTURN_LISTEN_PORT=3478
## Public TCP (non-TLS) port that coturn listens to:
COTURN_PROXY_PORT=3480
## (Note: coturn will also share the TCP port of the Traefik entrypoint `websecure`)

## Public UDP port range coturn may allocate from (min/max):
## The bigger you make this range, the more connections you can support, but also takes longer to start.
COTURN_MIN_PORT=50000
COTURN_MAX_PORT=50511

# META:
# PREFIX=COTURN
