# The docker images to use:
COTURN_IMAGE=coturn/coturn
COTURN_CADDY_IMAGE=caddy:2

# The domain name for the coturn service:
COTURN_TRAEFIK_HOST=turn.example.com
COTURN_CADDY_ACME_CA=acme-v02.api.letsencrypt.org

# The name of this instance. If there is only one instance, use 'default'.
COTURN_INSTANCE=

COTURN_EXTERNAL_IP=
COTURN_STATIC_AUTH_SECRET=

# META:
# PREFIX=COTURN
