# The docker image to use (https://hub.docker.com/r/garethgeorge/backrest/tags):
BACKREST_IMAGE=garethgeorge/backrest:v1.7

# The domain name for the backrest service:
BACKREST_TRAEFIK_HOST=backrest.example.com

# The name of this instance. If there is only one instance, use 'default'.
BACKREST_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
BACKREST_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
BACKREST_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
BACKREST_OAUTH2=
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
BACKREST_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
BACKREST_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
BACKREST_MTLS_AUTHORIZED_CERTS=*.clients.backrest.example.com

BACKREST_TIMEZONE=America/Los_Angeles

# Set to "false" to have Backrest restore files to a named Docker volume,
# or to "true" to have Backrest restore files to a bind mount directory on
# the host.
BACKREST_USE_EXTERNAL_VOLUME=false
# If BACKREST_USE_EXTERNAL_VOLUME=true, set to the path on the host that you
# want Backrest to restore file to (e.g., `/mnt/backrest-restores`).
BACKREST_EXTERNAL_VOLUME=
