# The domain name for this instance of GROCY:
GROCY_TRAEFIK_HOST=grocy.example.com

## Create a unique name for this instance of GROCY:
## `make config` will set this to `default` if you do not specify it.
GROCY_INSTANCE=

# The version of grocy to install:
# https://hub.docker.com/r/linuxserver/grocy/tags
GROCY_VERSION=3.3.2

# Filter access by IP address source range (CIDR):
# See: https://doc.traefik.io/traefik/middlewares/http/ipwhitelist/
## Disallow all access:
#GROCY_IP_SOURCERANGE="0.0.0.0/32"
## Allow all access:
#GROCY_IP_SOURCERANGE="0.0.0.0/0"
GROCY_IP_SOURCERANGE="0.0.0.0/0"

# HTTP Basic Authentication
# Use `make config` to generate and configure this setting interactively.
# Set multiple htpasswd encoded username/passwords comma separated; blank to disable
# See: https://doc.traefik.io/traefik/middlewares/http/basicauth/
GROCY_HTTP_AUTH=

## You may customize the UID and GID that the container runs as, this
## is passed into the Dockerfile as a build ARG.
GROCY_UID=54321
GROCY_GID=54321

# Timezone
GROCY_TZ=US/Eastern


# Grocy Environment Variables

# These environment variables affect PHP and the grocy application
# For a full list of grocy settings, see config-dist.php in the main grocy repo:
#
#       https://github.com/grocy/grocy/blob/master/config-dist.php
#
# Grocy application settings must be prefixed with 'GROCY_'.
#
# For example, if we'd like to configure grocy to use Euros (EUR):
#
#       Setting('CURRENCY', 'USD');
#
# Then we would set GROCY_CURRENCY=EUR 


## User-supplied Variables

# These are environment variables that may be supplied by the user
# No values are supplied for these as part of this distribution

# When you're ready to deploy grocy in production, set GROCY_MODE=production
# to enable user authentication
GROCY_MODE=production


## Distribution-supplied Variables

# These are 'sensible defaults' provided as part of the grocy-docker
# distribution.

# GROCY_CULTURE configures localization of the grocy application
# Supported locales: https://github.com/grocy/grocy/tree/master/localization
GROCY_CULTURE=en


# PHP Environment variables
MAX_UPLOAD=50M
PHP_MAX_FILE_UPLOAD=200
PHP_MAX_POST=100M
PHP_MEMORY_LIMIT=512M