# The docker image to use for Bitmagnet (https://github.com/bitmagnet-io/bitmagnet/tags):
BITMAGNET_IMAGE=v0.9.5
# The docker image to use for Postgres
BITMAGNET_POSTGRES_IMAGE=16-alpine

# The domain name for the bitmagnet service:
BITMAGNET_TRAEFIK_HOST=bitmagnet.thewooskeys.com

# The name of this instance. If there is only one instance, use 'default'.
BITMAGNET_INSTANCE=

BITMAGNET_TIMEZONE=Etc/UTC

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
BITMAGNET_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
BITMAGNET_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Gitea server can log into your app and
# have full access.
BITMAGNET_OAUTH2=
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
BITMAGNET_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
BITMAGNET_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
BITMAGNET_MTLS_AUTHORIZED_CERTS=*.clients.bitmagnet.example.com

BITMAGNET_POSTGRES_PASSWORD=

# If you have a TMDB API key, enter it here for Bitmagnet to integrate with TMDB
BITMAGNET_TMDB_API_KEY=

## Options copied from your VPN provider's wireguard config file:
BITMAGNET_VPN_CLIENT_INTERFACE_IPV4=
BITMAGNET_VPN_CLIENT_INTERFACE_IPV6=
BITMAGNET_VPN_CLIENT_INTERFACE_PRIVATE_KEY=
BITMAGNET_VPN_CLIENT_INTERFACE_LISTEN_PORT=51820
BITMAGNET_VPN_CLIENT_INTERFACE_PEER_DNS=
BITMAGNET_VPN_CLIENT_PEER_PUBLIC_KEY=
BITMAGNET_VPN_CLIENT_PEER_PRESHARED_KEY=
BITMAGNET_VPN_CLIENT_PEER_ENDPOINT=
BITMAGNET_VPN_CLIENT_PEER_ALLOWED_IPS=0.0.0.0/0,::0/0
