# The docker image to use for Bitmagnet
# https://github.com/bitmagnet-io/bitmagnet/tags
BITMAGNET_IMAGE=ghcr.io/bitmagnet-io/bitmagnet:v0.10.0
# The docker image to use for Postgres
BITMAGNET_POSTGRES_IMAGE=postgres:16-alpine

# The domain name for the bitmagnet service:
BITMAGNET_TRAEFIK_HOST=bitmagnet.example.com

# The name of this instance. If there is only one instance, use 'default'.
BITMAGNET_INSTANCE=

BITMAGNET_TIMEZONE=Etc/UTC

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
BITMAGNET_IP_SOURCERANGE=0.0.0.0/0

## Enable WireGuard gateway router for egress:
## To user your normal default network, leave BITMAGNET_WIREGUARD_INSTANCE blank.
## Otherwise, you man deploy an instance of ../wireguard to create a VPN gateway,
## and set the wireguard instance here (e.g., my-vpn, mullvad-deer-goose, etc.):
BITMAGNET_WIREGUARD_INSTANCE=
## Set the static IPv4 address of the wireguard instance:
BITMAGNET_WIREGUARD_ROUTER_IPV4=
## Set the static IPv6 address of the wireguard instance:
BITMAGNET_WIREGUARD_ROUTER_IPV6=
## Set comma separated list of ports that are still allowed from the default docker net:
## bitmagnet WebUI/API port (3333) for Traefik access:
BITMAGNET_DOCKER_GATEWAY_PORTS=3333

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
BITMAGNET_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Gitea server can log into your app and
# have full access.
BITMAGNET_OAUTH2=
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
BITMAGNET_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
BITMAGNET_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
BITMAGNET_MTLS_AUTHORIZED_CERTS=*.clients.bitmagnet.example.com

BITMAGNET_POSTGRES_PASSWORD=

# Bitmagnet can accumulate a lot of data - an estimate is 80GB for
# every 1,000,000 torrents. Set BITMAGNET_USE_EXTERNAL_VOLUME to
# "false" to store the database in a named Docker volume, or to "true"
# to store it in a bind mount directory on the host.
BITMAGNET_USE_EXTERNAL_VOLUME=false
# If BITMAGNET_USE_EXTERNAL_VOLUME=true, set BITMAGNET_EXTERNAL_VOLUME
# to the absolute path on the host that you want to store the database
# in (e.g., `/mnt/bitmagnet` or `~/bitmagnet`).
BITMAGNET_EXTERNAL_VOLUME=

# If you have a TMDB API key, enter it here for Bitmagnet to integrate with TMDB
BITMAGNET_TMDB_API_KEY=

BITMAGNET_LOG_LEVEL=warn

BITMAGNET_UID=1000
BITMAGNET_GID=1000

## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
BITMAGNET_HOMEPAGE_LABELS_ENABLE=true
BITMAGNET_HOMEPAGE_GROUP_BITMAGNET=Network
BITMAGNET_HOMEPAGE_NAME_BITMAGNET=Bitmagnet
# Choose a service icon from any of these services:
## https://dashboardicons.com/                 :: no prefix needed
## https://pictogrammers.com/library/mdi/      :: prefix with mdi-*
## https://simpleicons.org/                    :: prefix with si-*
## https://selfh.st/icons/                     :: prefix with sh-*
BITMAGNET_HOMEPAGE_ICON_BITMAGNET=bitmagnet
## If description is blank, it will default to the the traefik_host:
BITMAGNET_HOMEPAGE_DESCRIPTION_BITMAGNET=
## Display container stats widget:
BITMAGNET_HOMEPAGE_SHOW_STATS_BITMAGNET=true

# META:
# PREFIX=BITMAGNET
