# The docker image to use:
THELOUNGE_IMAGE=ghcr.io/thelounge/thelounge:4

# The domain name for the thelounge service:
THELOUNGE_TRAEFIK_HOST=thelounge.example.com

# The name of this instance. If there is only one instance, use 'default'.
THELOUNGE_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
THELOUNGE_INSTANCE_PROTECTION=false

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
THELOUNGE_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
THELOUNGE_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
THELOUNGE_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
THELOUNGE_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
THELOUNGE_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
THELOUNGE_MTLS_AUTHORIZED_CERTS=*.clients.thelounge.example.com

# Connect to local InspIRCd docker network?
THELOUNGE_INSPIRCD_NETWORK_CONNECT=false
THELOUNGE_INSPIRCD_NETWORK_NAME=inspircd_default

## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
THELOUNGE_HOMEPAGE_LABELS_ENABLE=true
THELOUNGE_HOMEPAGE_GROUP_THELOUNGE=Network
THELOUNGE_HOMEPAGE_NAME_THELOUNGE=Thelounge
# Choose a service icon from any of these services:
## https://dashboardicons.com/                 :: no prefix needed
## https://pictogrammers.com/library/mdi/      :: prefix with mdi-*
## https://simpleicons.org/                    :: prefix with si-*
## https://selfh.st/icons/                     :: prefix with sh-*
THELOUNGE_HOMEPAGE_ICON_THELOUNGE=sh-golang
## If description is blank, it will default to the the traefik_host:
THELOUNGE_HOMEPAGE_DESCRIPTION_THELOUNGE=
## Display container stats widget:
THELOUNGE_HOMEPAGE_SHOW_STATS_THELOUNGE=true
## Homepage doesn't have a widget for thelounge, but this is an example for other apps to follow:
THELOUNGE_HOMEPAGE_WIDGET_ENABLE=false

# META:
# PREFIX=THELOUNGE
