# CryptPad is designed to serve its content over two domains. Account
# passwords and cryptographic content is handled on the 'main' domain,
# while the user interface is loaded on a 'sandbox' domain which can only
# access information which the main domain willingly shares.
CPAD_MAIN_DOMAIN=pad.example.com
CPAD_SANDBOX_DOMAIN=pad.box.example.com
# Choose Let's Encrypt 'staging' or 'production' environment:
ACME_CERT_RESOLVER=production

## You need to start cryptpad one time with the default ADMIN_KEY:
## Go to the site, register a new user.
## Go to account settings, find Public Signing Key, and replace it here in ADMIN_KEY:
## Then restart cryptpad, and your account will now be an administrator.
ADMIN_KEY=[cryptpad-user1@my.awesome.website/YZgXQxKR0Rcb6r6CmxHPdAGLVludrAF2lEnkbx1vVOo=]
# Enter your email if you want it displayed for support purposes:
ADMIN_EMAIL=admin@example.com

