## Check for newer releases (but untested): https://github.com/xwiki-labs/cryptpad/releases
CRYPTPAD_VERSION=v5.1.0-nginx

## Each instance of cryptpad gets its own name. If you only have one, use "default".
CRYPTPAD_INSTANCE=

# CryptPad is designed to serve its content over two domains. Account
# passwords and cryptographic content is handled on the 'main' domain,
# while the user interface is loaded on a 'sandbox' domain which can only
# access information which the main domain willingly shares.
CRYPTPAD_TRAEFIK_HOST=pad.example.com
CRYPTPAD_SANDBOX_DOMAIN=pad-box.example.com

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
CRYPTPAD_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
CRYPTPAD_HTTP_AUTH=

# By default CryptPad allows remote domains to embed CryptPad documents in iframes.
# This behaviour can be blocked by changing CRYPTPAD_ALLOWED_ORIGINS from "*" to the
# sandbox domain, which must be permitted to load content from the main domain
# in order for CryptPad to work as expected.
#CRYPTPAD_ALLOWED_ORIGINS=https://pad-box.example.com
CRYPTPAD_ALLOWED_ORIGINS=*

## You need to start cryptpad one time with the default ADMIN_KEY:
## Go to the site, register a new user.
## Go to account settings, find Public Signing Key, and replace it here in ADMIN_KEY:
## Then restart cryptpad, and your account will now be an administrator.
CRYPTPAD_ADMIN_KEY=[cryptpad-user1@my.awesome.website/YZgXQxKR0Rcb6r6CmxHPdAGLVludrAF2lEnkbx1vVOo=]

# Enter your email if you want it displayed for support purposes:
CRYPTPAD_ADMIN_EMAIL=admin@example.com

# Some Cryptpad configs:
CRYPTPAD_DEFAULT_STORAGE_LIMIT="1000 * 1024 * 1024"
CRYPTPAD_MAX_UPLOAD_SIZE="100 * 1024 * 1024"
CRYPTPAD_BLOCK_DAILY_CHECK=true

CRYPTPAD_LOG_LEVEL=warn
