# CryptPad is designed to serve its content over two domains. Account
# passwords and cryptographic content is handled on the 'main' domain,
# while the user interface is loaded on a 'sandbox' domain which can only
# access information which the main domain willingly shares.
CRYPTPAD_TRAEFIK_HOST=pad.example.com
CRYPTPAD_SANDBOX_DOMAIN=pad.box.example.com

## You need to start cryptpad one time with the default ADMIN_KEY:
## Go to the site, register a new user.
## Go to account settings, find Public Signing Key, and replace it here in ADMIN_KEY:
## Then restart cryptpad, and your account will now be an administrator.
ADMIN_KEY=[cryptpad-user1@my.awesome.website/YZgXQxKR0Rcb6r6CmxHPdAGLVludrAF2lEnkbx1vVOo=]

# Enter your email if you want it displayed for support purposes:
ADMIN_EMAIL=admin@example.com

# Some Cryptpad configs:
DEFAULT_STORAGE_LIMIT="1000 * 1024 * 1024"
MAX_UPLOAD_SIZE="100 * 1024 * 1024"
BLOCK_DAILY_CHECK=true
