# Bridge Matrix rooms to IRC rooms and vice versa
TEMPLATE=matterbridge.irc.matrix.toml

# the config is generated every starup, should it print to the log, passwords and all?
PRINT_CONFIG=false

## Matrix account:
MATRIX_DOMAIN=example.com
MATRIX_HOMESERVER=matrix.example.com
MATRIX_USERNAME=matterbridge
MATRIX_PASSWORD=xxxxxxxxxxxxx

## IRC account:
IRC_HOST=irc.libera.chat
IRC_PORT=6697
IRC_NICK=xxxxxxxxxxxxx
# IRC_PASSWORD is the NickServ password
IRC_PASSWORD=xxxxxxxxxxxx

## Gateways maps matrix rooms to IRC rooms:
## You'll need to edit the template if you need to add more rooms:
MATRIX_ROOM_1=!xxxxxxxx:example.com
IRC_ROOM_1=##matterbridge-test

# META:
# PREFIX=MATTERBRIDGE
# INSTANTIABLE=false
