
volumes:
  config:

services:
  config:
    build:
      context: config
    env_file: ${ENV_FILE}
    volumes:
      - config:/etc/matterbridge
    labels:
      - "backup-volume.stop-during-backup=true"

  matterbridge:
    depends_on: ['config']
    image: ${MATTERBRIDGE_IMAGE}
    volumes:
      - config:/etc/matterbridge:ro
    labels:
      - "backup-volume.stop-during-backup=true"
