# Find explanations of these Photostructure environment variables, and others, here:
# https://github.com/photostructure/photostructure-for-servers/blob/main/defaults.env
# and here:
# https://photostructure.com/faq/environment-variables

PS_REQUIRE_MAKE_MODEL=0
PS_SYNC_INTERVAL_HOURS=2
PS_CPU_LOAD_PERCENT=75
PS_PROCESS_PRIORITY=AboveNormal
PS_SCAN_ALL_DRIVES=0
PS_SCAN_MY_PICTURES=0
# set PS_SCAN_PATHS the same as PS_ORIGINALS_DIR and ASSET_DIR_CONTAINER, below
PS_SCAN_PATHS=/var/ps_assets
# set PS_ORIGINALS_DIR the same as ASSET_DIR_CONTAINER, below, and PS_ORIGINAL_DIR, above
PS_ORIGINALS_DIR=/var/ps_assets
#PS_LIBRARY_PATH=/ps/library
#PS_CACHE_DIR=/mnt/ps_config/.cache/photostructure
#PS_LOG_DIR=ps/logs
PS_FORCE_LOCAL_DB_REPLICA=0
PS_LOG_LEVEL=warn
PS_LOG_COMPRESS=1
PS_FIX_PERMISSIONS=0
UID=1000
GID=1000


# The following environment variables are used to install it, but are not used by Photostructure itself 

# Set Photostructure full qualified domain name
PHOTOSTRUCTURE_TRAEFIK_HOST=photostructure.example.com

# Set path to config dir (Photostructure system settings on the host)
PS_CONFIG_DIR_HOST=/opt/containers/photostructure/.config

# libr
PS_LIBRARY_DIR_HOST=/opt/containers/photostructure/ps_library

#logs
PS_LOG_DIR_HOST=/opt/containers/photostructure/.config

# Set path to Photostructure's temp directory
PS_TMP_DIR_HOST=/opt/containers/photostructure/.cache

# Set path to PS asset dir (photos and videos)
ASSET_DIR_HOST=/mnt/ps_assets
# set ASSET_DIR_CONTAINER the same as PS_SCAN_PATHS and PS_ORIGINALS_DIR, above
ASSET_DIR_CONTAINER=/var/ps_assets

# Copy the result of the following command (replacing USERNAME and PASSWORD with the login and
# password you want to use for Photostructure): `htpasswd -nb USERNAME PASSWORD`
# You can repeat this command for multiple users, separating them in the .env file with a comma, e.g.:
# BASICAUTH_USERS=user1:encrypted-password,user2:encrypted-password2,etc.
BASICAUTH_USERS=user:encrypted-password