# Find explanations of these Photostructure environment variables, and others, here:
# https://github.com/photostructure/photostructure-for-servers/blob/main/defaults.env

PS_SCAN_ALL_DRIVES=0
PS_SCAN_MY_PICTURES=0
PS_SCAN_PATHS=/var/ps_assets
PS_REQUIRE_MAKE_MODEL=0
PS_SYNC_INTERVAL_HOURS=2
PS_CPU_LOAD_PERCENT=75
PS_PROCESS_PRIORITY=AboveNormal
# set PS_ORIGINALS_DIR the same as ASSET_DIR_CONTAINER, below
PS_ORIGINALS_DIR=/var/ps_assets
PS_LIBRARY_PATH=/mnt/ps_library
PS_CACHE_DIR=/mnt/ps_library/.cache/photostructure
PS_FORCE_LOCAL_DB_REPLICA=0
PS_LOG_LEVEL=warn
PS_LOG_COMPRESS=1
PS_LOG_DIR=/mnt/ps_library/.photostructure/logs
PS_FIX_PERMISSIONS=0
UID=1000
GID=1000


# The following environment variables are not part of Photostructure, but are used to install it

# Set Photostructure full qualified domain name
PHOTOSTRUCTURE_TRAEFIK_HOST=photostructure.example.com

# Set path to PS asset dir (photos and videos)
ASSET_DIR_HOST=/mnt/ps_assets
ASSET_DIR_CONTAINER=/var/ps_assets

# Set path to config dir (Photostructure system settings on the host)
CONFIG_DIR=${HOME}/.config/photostructure-docker

# Set path to Photostructure's temp directory
TMP_DIR=/tmp/photostructure-docker

# Copy the result of the following command (replacing USERNAME and PASSWORD with the login and
password you want to use for Photostructure): `htpasswd -nb USERNAME PASSWORD | sed -e s/\\$/\\$\\$/g | grep .`
BASICAUTH_USERS=user:encrypted-password