# The docker image to use:
WOODPECKER_SERVER_IMAGE=woodpeckerci/woodpecker-server:v3.13
WOODPECKER_AGENT_IMAGE=woodpeckerci/woodpecker-agent:v3.13

## Configure the profile to install: server or agent
DOCKER_COMPOSE_PROFILES=server

# The domain name for the woodpecker service:
WOODPECKER_TRAEFIK_HOST=woodpecker.example.com
WOODPECKER_GRPC_HOST=woodpecker-grpc.example.com

# The name of this instance. If there is only one instance, use 'default'.
WOODPECKER_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
WOODPECKER_IP_SOURCERANGE=0.0.0.0/0

## Configure Forgejo:
WOODPECKER_FORGEJO=false
# Configures the Forgejo server address.
WOODPECKER_FORGEJO_URL=https://git.example.com
# Configures the Forgejo OAuth client id. This is used to authorize access.
WOODPECKER_FORGEJO_CLIENT=
# Configures the Forgejo OAuth client secret. This is used to authorize access.
WOODPECKER_FORGEJO_SECRET=

## Allow open registration to any valid OAuth2 user? :
WOODPECKER_OPEN=false
## Allow admin access to the following Forgejo usernames (comma separated) :
WOODPECKER_ADMIN=root

## Configure Agents:
WOODPECKER_AGENT_SECRET=
WOODPECKER_MAX_WORKFLOWS=1
WOODPECKER_FILTER_LABELS=
WOODPECKER_KEEPALIVE_TIME=
WOODPECKER_KEEPALIVE_TIMEOUT=
WOODPECKER_GRPC_SECURE=true
WOODPECKER_BACKEND=docker
WOODPECKER_BACKEND_DOCKER_VOLUMES=
WOODPECKER_BACKEND_DOCKER_LIMIT_MEM=0
WOODPECKER_BACKEND_DOCKER_LIMIT_MEM_SWAP=0
WOODPECKER_BACKEND_DOCKER_LIMIT_SHM_SIZE=0
WOODPECKER_BACKEND_DOCKER_LIMIT_CPU_QUOTA=0
WOODPECKER_BACKEND_DOCKER_LIMIT_CPU_SHARES=0
WOODPECKER_BACKEND_DOCKER_LIMIT_CPU_SET=

WOODPECKER_LOG_LEVEL=info
WOODPECKER_DEBUG_PRETTY=true

# META:
# PREFIX=WOODPECKER
