# The domain name for the smokeping service:
SMOKEPING_TRAEFIK_HOST=smokeping.example.com

# https://hub.docker.com/r/linuxserver/smokeping/tags
SMOKEPING_VERSION=latest

# The name of this instance. If there is only one instance, use 'default'.
SMOKEPING_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
SMOKEPING_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
SMOKEPING_HTTP_AUTH=

## You can run the smokeping service as any user/group:
SMOKEPING_UID=54321
SMOKEPING_GID=54321

