NTFY_TRAEFIK_HOST=ntfy.example.com
NTFY_IP_SOURCERANGE=0.0.0.0/0

NTFY_AUTH_DEFAULT_ACCESS=write-only
NTFY_ATTACHMENT_TOTAL_SIZE_LIMIT=5G
NTFY_ATTACHMENT_FILE_SIZE_LIMIT=15M
NTFY_ATTACHMENT_EXPIRY_DURATION=3h
NTFY_KEEPALIVE_INTERVAL=45s

NTFY_SMTP_SENDER_ADDR=
NTFY_SMTP_SENDER_USER=
NTFY_SMTP_SENDER_PASS=
NTFY_SMTP_SENDER_FROM=
NTFY_SMTP_SERVER_LISTEN=
NTFY_SMTP_SERVER_DOMAIN=
NTFY_SMTP_SERVER_ADDR_PREFIX=ntfy-

NTFY_IMAGE=binwiederhier/ntfy
## https://github.com/vmware-tanzu/carvel-ytt/releases
NTFY_CONFIG_YTT_VERSION=v0.43.0
