# The name of this instance. If there is only one instance, use 'default'.
POSTFIX_RELAY_INSTANCE=

## Configure a domain, e.g., smtp.example.com
POSTFIX_RELAY_TRAEFIK_HOST=

POSTFIX_RELAY_GIT_REPO=https://github.com/bokysan/docker-postfix.git
POSTFIX_RELAY_GIT_REF=master

## Configuration reference: https://github.com/bokysan/docker-postfix?tab=readme-ov-file

## This is a space delimited list of allowed sender domain names:
## e.g., POSTFIX_RELAY_ALLOWED_SENDER_DOMAINS=example.com example.org
POSTFIX_RELAY_ALLOWED_SENDER_DOMAINS=

## If POSTFIX_RELAY_ALLOW_EMPTY_SENDER_DOMAINS=yes, then
## POSTFIX_RELAY_ALLOWED_SENDER_DOMAINS is ignored and any address
## may used as the FROM field.
POSTFIX_RELAY_ALLOW_EMPTY_SENDER_DOMAINS=no

## Outgoing SMTP credentials:
### Upstream SMTP server
POSTFIX_RELAY_RELAYHOST=smtp.example.com:587
### Upstream SMTP username
POSTFIX_RELAY_RELAYHOST_USERNAME=
### Upstream SMTP password
POSTFIX_RELAY_RELAYHOST_PASSWORD=

## Customize the IP address ranges that are allowed to send mail:
## POSTFIX_RELAY_POSTFIX_mynetworks=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
POSTFIX_RELAY_POSTFIX_mynetworks=

## The maximum message size (in bytes) should match whatever your
## outgoing smtp server supports:
POSTFIX_RELAY_POSTFIX_message_size_limit=10485760

POSTFIX_RELAY_MASQUERADED_DOMAINS=
POSTFIX_RELAY_ANONYMIZE_EMAILS=smart

# META:
# PREFIX=POSTFIX_RELAY