# The name of this instance. If there is only one instance, use 'default'.
ARCH_XPRA_INSTANCE=

# The hostname to set for the container:
ARCH_XPRA_HOSTNAME=

# The username to automatically create:
ARCH_XPRA_USERNAME=user

# The SSH key to authenticate the user:
# (ie. your own SSH public key, eg. from ~/.ssh/id_rsa.pub)
ARCH_XPRA_AUTHORIZED_KEY=

# Specify the base packages to install:
# base packages are installed in the base layer, and are expected to change rarely:
ARCH_XPRA_BASE_PACKAGES=bash xpra openssl git docker docker-compose docker-buildx base-devel cmake apache xdg-utils jq sshfs wireguard-tools curl wget xorg-xauth python python-pip inetutils keychain man-db emacs

# Specify the extra packages to install:
# extra packages are installed near the end build,
# so you can put your temporary packages here:
ARCH_XPRA_EXTRA_PACKAGES=

# Specify your preferred Arch Linux mirror URL:
## Find more mirrors here: https://archlinux.org/mirrorlist/all/
## Don't include the suffix /$repo/os/$arch , just the part before it:
ARCH_XPRA_ARCH_MIRROR=http://mirrors.xmission.com/archlinux

# Specify the external SSH port mapped on the host network
ARCH_XPRA_SSH_PORT=2222
