# The docker image to use (https://github.com/eduardolat/kokoro-web/tags):
# Note: Kokoro Web tags include a "v" (e.g., "v0.1.3") but their images
# actually don't, so do not include the "v"
# e.g., `KOKORO_IMAGE=ghcr.io/eduardolat/kokoro-web:0.1.3`
KOKORO_IMAGE=ghcr.io/eduardolat/kokoro-web:0.1.3

# The domain name for the kokoro service:
KOKORO_TRAEFIK_HOST=kokoro.example.com

# The name of this instance. If there is only one instance, use 'default'.
KOKORO_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
KOKORO_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
KOKORO_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
KOKORO_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
KOKORO_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
KOKORO_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
KOKORO_MTLS_AUTHORIZED_CERTS=*.clients.kokoro.example.com

# Create an API key for authentication. If left blank, authentication will not be activated
KOKORO_SECRET_API_KEY=

KOKORO_PUBLIC_NO_TRACK=true

# META:
# PREFIX=KOKORO
