## Oauth secret: CHANGE THIS:
## use `openssl rand -base64 45`
SECRET=change_me

LOG_LEVEL=debug

## Set central auth specific domain that will handle auth for all other domains:
AUTH_HOST=auth.example.com
## Set cookie domain as the root domain for all subdomains:
COOKIE_DOMAIN=example.com

### Uncomment the single provider configuration you want to use: 

## Gitea:
## Create new Oauth2 app here: https://git.example.com/user/settings/applications
DEFAULT_PROVIDER=generic-oauth
## Change the domain to your own gitea instance URL (keep the paths unchanged):
PROVIDERS_GENERIC_OAUTH_AUTH_URL=https://git.example.com/login/oauth/authorize
PROVIDERS_GENERIC_OAUTH_TOKEN_URL=https://git.example.com/login/oauth/access_token
PROVIDERS_GENERIC_OAUTH_USER_URL=https://git.example.com/api/v1/user
PROVIDERS_GENERIC_OAUTH_CLIENT_ID=change_me
PROVIDERS_GENERIC_OAUTH_CLIENT_SECRET=change_me

## Github:
## Create new Oauth app here: https://github.com/settings/applications/new
# DEFAULT_PROVIDER=generic-oauth
# PROVIDERS_GENERIC_OAUTH_AUTH_URL=https://github.com/login/oauth/authorize
# PROVIDERS_GENERIC_OAUTH_TOKEN_URL=https://github.com/login/oauth/access_token
# PROVIDERS_GENERIC_OAUTH_USER_URL=https://api.github.com/user
# PROVIDERS_GENERIC_OAUTH_CLIENT_ID=xxxxxx
# PROVIDERS_GENERIC_OAUTH_CLIENT_SECRET=xxxxxxxx
