GITEA_TRAEFIK_HOST=git.example.com
GITEA_OAUTH_CLIENT_ID=change_me
GITEA_OAUTH_CLIENT_SECRET=change_me
TRAEFIK_FORWARD_AUTH_SECRET=change_me
TRAEFIK_FORWARD_AUTH_COOKIE_DOMAIN=example.com
TRAEFIK_FORWARD_AUTH_HOST=auth.example.com
