## Oauth secret: CHANGE THIS:
## use `openssl rand -base64 45`
TRAEFIK_FORWARD_AUTH_SECRET=

TRAEFIK_FORWARD_AUTH_LOG_LEVEL=debug

## Set central auth specific domain that will handle auth for all other domains:
TRAEFIK_FORWARD_AUTH_HOST=auth.example.com
## Set cookie domain as the root domain for all subdomains:
TRAEFIK_FORWARD_AUTH_COOKIE_DOMAIN=example.com

TRAEFIK_FORWARD_AUTH_COOKIE_LIFETIME=43200
TRAEFIK_FORWARD_AUTH_LOGOUT_REDIRECT=

### Uncomment the single provider configuration you want to use:

## Gitea:
## Create new Oauth2 app here: https://git.example.com/user/settings/applications
TRAEFIK_FORWARD_AUTH_DEFAULT_PROVIDER=generic-oauth
## Change the domain to your own gitea instance URL (keep the paths unchanged):
TRAEFIK_FORWARD_AUTH_PROVIDERS_GENERIC_OAUTH_AUTH_URL=https://git.example.com/login/oauth/authorize
TRAEFIK_FORWARD_AUTH_PROVIDERS_GENERIC_OAUTH_TOKEN_URL=https://git.example.com/login/oauth/access_token
TRAEFIK_FORWARD_AUTH_PROVIDERS_GENERIC_OAUTH_USER_URL=https://git.example.com/api/v1/user
TRAEFIK_FORWARD_AUTH_PROVIDERS_GENERIC_OAUTH_CLIENT_ID=
TRAEFIK_FORWARD_AUTH_PROVIDERS_GENERIC_OAUTH_CLIENT_SECRET=

## Github:
## Create new Oauth app here: https://github.com/settings/applications/new
# TRAEFIK_FORWARD_AUTH_DEFAULT_PROVIDER=generic-oauth
# TRAEFIK_FORWARD_AUTH_PROVIDERS_GENERIC_OAUTH_AUTH_URL=https://github.com/login/oauth/authorize
# TRAEFIK_FORWARD_AUTH_PROVIDERS_GENERIC_OAUTH_TOKEN_URL=https://github.com/login/oauth/access_token
# TRAEFIK_FORWARD_AUTH_PROVIDERS_GENERIC_OAUTH_USER_URL=https://api.github.com/user
# TRAEFIK_FORWARD_AUTH_PROVIDERS_GENERIC_OAUTH_CLIENT_ID=
# TRAEFIK_FORWARD_AUTH_PROVIDERS_GENERIC_OAUTH_CLIENT_SECRET=
