SFTP_PORT=2223

# SFTP_USERS format: ssh-username:github-username:UID:GID:dir1,dir2,... [ssh-username2:github-username:UID:GID:dir1,dir2 ...]
# ssh-import-id will be used to pull SSH pubkeys directly from GitHub.
# Here is an example for two users separated by a space: ryan and gary, both
# using the same keys from the enigmacurry github account.
SFTP_USERS=ryan:enigmacurry:1001:1001:photos,logs,junk gary:enigmacurry:1002:1002:stuff,more_stuff
