LARYNX_TRAEFIK_HOST=larynx.example.com
## Create an HTTP Basic Auth username/password:
## Run: docker run --rm -it httpd htpasswd -nB USERNAME
LARYNX_HTTP_AUTH=larynx:$2y$05$R6uPZ8RkVD4l494xEEt8Xug7kbQdTxWv0iNzwL660FAPJmdjznwEm
# Choose Let's Encrypt 'staging' or 'production' environment:
ACME_CERT_RESOLVER=production
