# https://hub.docker.com/r/rhasspy/larynx/tags
LARYNX_VERSION=1.1.0
LARYNX_TRAEFIK_HOST=larynx.example.com
LARYNX_HTTP_AUTH=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
LARYNX_IP_SOURCERANGE=0.0.0.0/0
