WORDPRESS_TRAEFIK_HOST=wp.d.example.com
# The tag of the Wordpress image to use (https://hub.docker.com/_/wordpress)
WORDPRESS_VERSION=6.7.1
# The tag of the MariaDB image to use (https://hub.docker.com/_/mariadb)
# We recommend a mariadb image which supports both amd64 & arm64 architecture
WORDPRESS_MARIADB_VERSION=11.6.2-noble
WORDPRESS_INSTANCE=

WORDPRESS_DB_NAME=wp
WORDPRESS_DB_ROOT_PASSWORD=
WORDPRESS_DB_USER=wpuser
WORDPRESS_DB_PASSWORD=

TIMEZONE=America/New_York

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
WORDPRESS_IP_SOURCERANGE=0.0.0.0/0
WORDPRESS_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
WORDPRESS_OAUTH2=
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
WORDPRESS_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
WORDPRESS_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
WORDPRESS_MTLS_AUTHORIZED_CERTS=*.clients.wordpress.example.com

## Enable anti-hotlinking of images (or not):
WORDPRESS_ANTI_HOTLINK=true

## Extra URLs besides WORDPRESS_TRAEFIK_HOST to allow hotlinking from:
## Specify multiple domains separated by commas.
## (Wildcard domains allowed. Must include port number if not 80/443)
WORDPRESS_ANTI_HOTLINK_REFERERS_EXTRA=

## Should clients that *don't* specify the referer be allowed to hotlink?
## (eg. RSS readers, curl, or copy and pasting into the browser URL bar.)
WORDPRESS_ANTI_HOTLINK_ALLOW_EMPTY_REFERER=true

## https://github.com/WP2Static/wp2static/releases
WORDPRESS_WP2STATIC=false
WORDPRESS_WP2STATIC_VERSION=7.2
WORDPRESS_TRAEFIK_HOST_STATIC=static.d.example.com
WORDPRESS_IP_SOURCERANGE_STATIC=0.0.0.0/0


# META:
# PREFIX=WORDPRESS
