WP_TRAEFIK_HOST=wp.d.example.com
WP_VERSION=6.1.1
WP_MARIADB_VERSION=10.9
WP_INSTANCE=

WP_DB_DATABASE=wp
WP_DB_ROOT_PASSWORD=
WP_DB_USER=wpuser
WP_DB_PASSWORD=

TIMEZONE=America/New_York

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
WP_IP_SOURCERANGE=0.0.0.0/0
WP_HTTP_AUTH=

## Enable anti-hotlinking of images (or not):
WP_ANTI_HOTLINK=true

## Extra URLs besides WP_TRAEFIK_HOST to allow hotlinking from:
## Specify multiple domains separated by commas.
## (Wildcard domains allowed. Must include port number if not 80/443)
WP_ANTI_HOTLINK_REFERERS_EXTRA=

## Should clients that *don't* specify the referer be allowed to hotlink?
## (eg. RSS readers, curl, or copy and pasting into the browser URL bar.)
WP_ANTI_HOTLINK_ALLOW_EMPTY_REFERER=true
