# The name of this instance. If there is only one instance, use 'default'.
DOCKER_WORKSTATION_INSTANCE=

# The hostname to set for the container:
DOCKER_WORKSTATION_HOSTNAME=

# The username to automatically create:
DOCKER_WORKSTATION_USERNAME=user

# The SSH key to authenticate the user:
# (ie. your own SSH public key, eg. from ~/.ssh/id_rsa.pub)
DOCKER_WORKSTATION_AUTHORIZED_KEY=

# Specify the base packages to install:
# base packages are installed in the base layer, and are expected to change rarely:
DOCKER_WORKSTATION_BASE_PACKAGES=bash xpra openssl git docker docker-compose docker-buildx base-devel cmake apache xdg-utils jq sshfs wireguard-tools curl wget xorg-xauth python python-pip inetutils keychain man-db emacs firefox

# Specify the extra packages to install:
# extra packages are installed near the end build,
# so you can put your temporary packages here:
DOCKER_WORKSTATION_EXTRA_PACKAGES=

# Specify your preferred Arch Linux mirror URL:
## Find more mirrors here: https://archlinux.org/mirrorlist/all/
## Don't include the suffix /$repo/os/$arch , just the part before it:
DOCKER_WORKSTATION_ARCH_MIRROR=http://mirrors.xmission.com/archlinux

# Specify the external SSH port mapped on the host network
DOCKER_WORKSTATION_SSH_PORT=2222

# Emacs config bootstrap (Disable this if you don't want to use Emacs
# or if you want to configure it yourself by some other means)
DOCKER_WORKSTATION_EMACS_BOOTSTRAP=true
# Configure the Emacs configuration git repository and branch:
DOCKER_WORKSTATION_EMACS_CONFIG_REPO=https://github.com/EnigmaCurry/emacs.git
# The default emacs config lives in the 'straight' git branch:
DOCKER_WORKSTATION_EMACS_CONFIG_BRANCH=straight
