TTRSS_TRAEFIK_HOST=ttrss.example.com

## If using the default HTTPS port (443) this should be left blank:
TTRSS_TRAEFIK_PORT=

## Set a secure passphrase for the database
## Use: openssl rand -base64 45
TTRSS_DB_PASS=change_me

TTRSS_IP_SOURCERANGE=0.0.0.0/0
