# The Git repo from which to build Soju:
SOJU_GIT_REPO=https://codeberg.org/emersion/soju.git
# The Git reference to the source you want to build:
# E.g, use `master` to build the bleeding edge.
# Or use tagged versions like `v0.10.1`
SOJU_GIT_REF=v0.10.1

# The domain name for the soju service:
SOJU_TRAEFIK_HOST=soju.example.com

# The Traefik entrypoint to use:
SOJU_TRAEFIK_ENTRYPOINT=irc_bouncer

# Enable TLS termination on the Traefik entrypoint:
# Set false for Tor hidden services (Tor provides its own encryption).
SOJU_TRAEFIK_TLS=true

# Title for your IRC service:
SOJU_TITLE=My IRC Server

# The name of this instance. If there is only one instance, use 'default'.
SOJU_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
SOJU_INSTANCE_PROTECTION=false

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
SOJU_IP_SOURCERANGE=0.0.0.0/0

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
SOJU_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
SOJU_MTLS_AUTHORIZED_CERTS=*.clients.soju.example.com

# Connect to local InspIRCd docker network?
SOJU_INSPIRCD_NETWORK_CONNECT=false
SOJU_INSPIRCD_NETWORK_NAME=inspircd_default

## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
SOJU_HOMEPAGE_LABELS_ENABLE=true
SOJU_HOMEPAGE_GROUP_SOJU=Network
SOJU_HOMEPAGE_NAME_SOJU=Soju
# Choose a service icon from any of these services:
## https://dashboardicons.com/                 :: no prefix needed
## https://pictogrammers.com/library/mdi/      :: prefix with mdi-*
## https://simpleicons.org/                    :: prefix with si-*
## https://selfh.st/icons/                     :: prefix with sh-*
SOJU_HOMEPAGE_ICON_SOJU=sh-golang
## If description is blank, it will default to the the traefik_host:
SOJU_HOMEPAGE_DESCRIPTION_SOJU=
## Display container stats widget:
SOJU_HOMEPAGE_SHOW_STATS_SOJU=true

# META:
# PREFIX=SOJU
