RESTIC_PASSWORD=
BACKUP_CRON="* * * * *"
RESTIC_FORGET_ARGS="--keep-last 10"
DIR_TO_BACKUP=/path/to/dir/you/want/to/backup
BACKUP_REPO=name-of-repo
# Info about Restic repo tags here: https://restic.readthedocs.io/en/latest/manual_rest.html#manage-tags
RESTIC_TAG=
RESTORE_DIR=/path/to/dir/to/restore/backups/to