# The domain name for the whoami service:
LEMMY_TRAEFIK_HOST=lemmy.example.com
# The tag for the Lemmy (backend) Docker image
LEMMY_VERSION=0.18.3
# The tag for the Lemmy (UI) Docker image
LEMMY_UI_VERSION=0.18.3
# The tag for the Asonix/Pictrs Docker image
LEMMY_ASONIX_PICTRS_VERSION=0.4.1

# The name of this instance. If there is only one instance, use 'default'.
LEMMY_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
LEMMY_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
LEMMY_HTTP_AUTH=

# You can run the whoami service as any user/group:
LEMMY_UID=54321
LEMMY_GID=54321

# The password for the postgres database. This will be filled in automatically
# when you run `make config` or `make install`.
LEMMY_POSTGRES_PW=

# If true, will display the contents of config.hjson in the log when copied
# to the config volume
LEMMY_PRINT_CONFIG=true

# If true, add Traefik middleware to block the paths starting with /feeds,
# this way it will prevent the private data from the communities from
# leaking through the RSS feeds, which happens due to
# a bug: https://github.com/LemmyNet/lemmy/issues/3785
LEMMY_PRIVATE=false
