# The domain name for the whoami service:
LEMMY_TRAEFIK_HOST=lemmy.example.com
LEMMY_VERSION=0.18.3
LEMMY_UI_VERSION=0.18.3
ASONIX_PICTRS_VERSION=0.4.1

# The name of this instance. If there is only one instance, use 'default'.
LEMMY_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
LEMMY_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
LEMMY_HTTP_AUTH=

## You can run the whoami service as any user/group:
LEMMY_UID=54321
LEMMY_GID=54321

LEMMY_POSTGRES_PW=

