# Enter your GitHub API token
# See https://github.com/settings/tokens
GITHUB_TOKEN=
# Enter your GitHub username
GITHUB_USERNAME=
# Enter your Forgejo instance URL
FORGEJO_URL=https://forgejo.example.com
# Enter your Forgejo API token
FORGEJO_TOKEN=
# Enter your Forgejo username
FORGEJO_USERNAME=
# Enter the mirror update interval (e.g. 8h0m0s)
MIRROR_INTERVAL=8h0m0s
