# Domain name for maubot:
MAUBOT_TRAEFIK_HOST=maubot.example.com

# Maubot admin user:
MAUBOT_ADMIN_USER=admin
MAUBOT_ADMIN_PASSWORD=a_secret_password

# Matrix homeserver:
MATRIX_HOMESERVER=matrix.example.com

# Build docker image from git repository source:
MAUBOT_GIT_REPO=https://github.com/maubot/maubot.git

# WARNING:You log the generated config by setting PRINT_CONFIG=true,
# but it contains all of the secrets in clear text!
PRINT_CONFIG=false

