GITHUB_ACTIONS_RUNNER_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
GITHUB_ACTIONS_RUNNER_INSTANCE_PROTECTION=false

GITHUB_ACTIONS_RUNNER_REPOSITORY=https://github.com/YOUR_ORG/YOUR_REPO
GITHUB_ACTIONS_RUNNER_TOKEN=ASDFASDFASDFASDFASDFASDFASDF

# META:
# PREFIX=GITHUB_ACTIONS_RUNNER

