JACKAL_TRAEFIK_HOST=xmpp.example.com
# Create a new key at least 24 characters long:
JACKAL_KEY=abcdefghijklmnopqrstuvwxyz123456
# Create a database username/password:
POSTGRES_USER=jackal
POSTGRES_PASSWORD=asecretpassword
# Choose Let's Encrypt 'staging' or 'production' environment:
ACME_CERT_RESOLVER=staging
