JACKAL_HOST=xmpp.example.com

# Create initial database username/password:
POSTGRES_USER=jackal
POSTGRES_PASSWORD=a_secret_password

# Print the config on startup?
# WARNING: If set to true, this will print cleartext passwords and keys.
PRINT_CONFIG=false

## If SELF_SIGNED_TLS=true, generate a self signed TLS certificate and store in the volume:
##    /config/{cert,key}.pem
## If SELF_SIGNED_TLS=false, you must place your certificate and key in this volume manually.
SELF_SIGNED_TLS=true

