JACKAL_TRAEFIK_HOST=xmpp.example.com
# Create a new key at least 24 characters long:
JACKAL_KEY=abcdefghijklmnopqrstuvwxyz123456
# Create a database username/password:
POSTGRES_USER=jackal
POSTGRES_PASSWORD=a_secret_password

# Force creating the config file, even if one already exists?
# If FORCE_CREATE_CONFIG=false, the config file will be created only the first time run.
# Subsequent runs will load the config file from the volume: /config/config.yaml
# This means your config may desynchronize from this env file, if changed later.
# If FORCE_CREATE_CONFIG=true, the config file will be overwritten each startup,
# even if it already exists! This would keep the config synchronized with this env file.
FORCE_CREATE_CONFIG=false

# Print the config on startup?
# WARNING: If set to true, this will print cleartext passwords and keys.
PRINT_CONFIG=false

