# The docker image to use:
FIREFOX_IMAGE=lscr.io/linuxserver/firefox:latest

# The domain name for the firefox service:
FIREFOX_TRAEFIK_HOST=firefox.example.com

# The Traefik entrypoint to use:
FIREFOX_TRAEFIK_ENTRYPOINT=websecure

# The name of this instance. If there is only one instance, use 'default'.
FIREFOX_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
FIREFOX_INSTANCE_PROTECTION=false

## Enable WireGuard gateway router for egress:
## To user your normal default network, leave FIREFOX_WIREGUARD_INSTANCE blank.
## Otherwise, you man deploy an instance of ../wireguard to create a VPN gateway,
## and set the wireguard instance here (e.g., my-vpn, mullvad-deer-goose, etc.):
FIREFOX_WIREGUARD_INSTANCE=
## Set the static IPv4 address of the wireguard instance:
FIREFOX_WIREGUARD_ROUTER_IPV4=
## Set the static IPv6 address of the wireguard instance:
FIREFOX_WIREGUARD_ROUTER_IPV6=
## Set comma separated list of ports that are still allowed from the default docker net:
## Firefox listens on port 3001, and Traefik needs access to it:
FIREFOX_DOCKER_GATEWAY_PORTS=3001

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
FIREFOX_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
FIREFOX_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
FIREFOX_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
FIREFOX_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
FIREFOX_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
FIREFOX_MTLS_AUTHORIZED_CERTS=*.clients.firefox.example.com

## Change the UID and GID to match the permissions on the volumes that you want to use for downloads
FIREFOX_UID=10123
FIREFOX_GID=10123

## Set volume to attach to ~/Downloads
FIREFOX_DOWNLOAD_VOLUME=

## Selkie GUI container vars:
## See https://github.com/linuxserver/docker-firefox?tab=readme-ov-file#options-in-all-selkies-based-gui-containers
FIREFOX_DRI_NODE=
FIREFOX_DRINODE=
FIREFOX_SUBFOLDER=
FIREFOX_TITLE=Firefox
FIREFOX_DASHBOARD=
FIREFOX_FILE_MANAGER_PATH=/config/Downloads
FIREFOX_START_DOCKER=false
FIREFOX_DISABLE_IPV6=false
FIREFOX_LC_ALL=en_US.UTF-8
FIREFOX_NO_DECOR=false
FIREFOX_NO_FULL=false
FIREFOX_NO_GAMEPAD=false
FIREFOX_DISABLE_ZINK=false
FIREFOX_DISABLE_DRI3=false
FIREFOX_MAX_RES=
FIREFOX_WATERMARK_PNG=
FIREFOX_WATERMARK_LOCATION=

## Hardening vars:
## See https://github.com/linuxserver/docker-firefox?tab=readme-ov-file#hardening
FIREFOX_HARDEN_DESKTOP=
FIREFOX_HARDEN_OPENBOX=
FIREFOX_DISABLE_OPEN_TOOLS=
FIREFOX_DISABLE_SUDO=
FIREFOX_DISABLE_TERMINALS=
FIREFOX_DISABLE_CLOSE_BUTTON=
FIREFOX_DISABLE_MOUSE_BUTTONS=
FIREFOX_HARDEN_KEYBINDS=
FIREFOX_RESTART_APP=

## Selkie app vars:
## See https://github.com/linuxserver/docker-firefox?tab=readme-ov-file#selkies-application-settings
FIREFOX_SELKIES_USE_CPU=
FIREFOX_SELKIES_ENCODER=
FIREFOX_SELKIES_FRAMERATE=
FIREFOX_SELKIES_UI_TITLE=
FIREFOX_SELKIES_UI_SHOW_LOGO=
FIREFOX_SELKIES_UI_SHOW_SIDEBAR=
FIREFOX_SELKIES_UI_SHOW_CORE_BUTTONS=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_VIDEO_SETTINGS=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_SCREEN_SETTINGS=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_AUDIO_SETTINGS=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_STATS=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_CLIPBOARD=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_FILES=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_APPS=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_SHARING=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_GAMEPADS=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_FULLSCREEN=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_GAMING_MODE=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_TRACKPAD=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_KEYBOARD_BUTTON=
FIREFOX_SELKIES_UI_SIDEBAR_SHOW_SOFT_BUTTONS=
FIREFOX_SELKIES_AUDIO_ENABLED=
FIREFOX_SELKIES_MICROPHONE_ENABLED=
FIREFOX_SELKIES_GAMEPAD_ENABLED=
FIREFOX_SELKIES_CLIPBOARD_ENABLED=
FIREFOX_SELKIES_COMMAND_ENABLED=
FIREFOX_SELKIES_FILE_TRANSFERS=
FIREFOX_SELKIES_ENCODER=
FIREFOX_SELKIES_FRAMERATE=
FIREFOX_SELKIES_H264_CRF=
FIREFOX_SELKIES_JPEG_QUALITY=
FIREFOX_SELKIES_H264_FULLCOLOR=
FIREFOX_SELKIES_H264_STREAMING_MODE=
FIREFOX_SELKIES_USE_CPU=
FIREFOX_SELKIES_USE_PAINT_OVER_QUALITY=
FIREFOX_SELKIES_PAINT_OVER_JPEG_QUALITY=
FIREFOX_SELKIES_H264_PAINTOVER_CRF=
FIREFOX_SELKIES_H264_PAINTOVER_BURST_FRAMES=
FIREFOX_SELKIES_SECOND_SCREEN=
FIREFOX_SELKIES_AUDIO_BITRATE=
FIREFOX_SELKIES_IS_MANUAL_RESOLUTION_MODE=
FIREFOX_SELKIES_MANUAL_WIDTH=
FIREFOX_SELKIES_MANUAL_HEIGHT=
FIREFOX_SELKIES_SCALING_DPI=
FIREFOX_SELKIES_ENABLE_BINARY_CLIPBOARD=
FIREFOX_SELKIES_USE_BROWSER_CURSORS=
FIREFOX_SELKIES_USE_CSS_SCALING=
FIREFOX_SELKIES_PORT=
FIREFOX_SELKIES_DRI_NODE=
FIREFOX_SELKIES_AUDIO_DEVICE_NAME=
FIREFOX_SELKIES_WATERMARK_PATH=
FIREFOX_SELKIES_WATERMARK_LOCATION=
FIREFOX_SELKIES_DEBUG=
FIREFOX_SELKIES_ENABLE_SHARING=
FIREFOX_SELKIES_ENABLE_COLLA=
FIREFOX_SELKIES_ENABLE_SHARED=
FIREFOX_SELKIES_ENABLE_PLAYER2=
FIREFOX_SELKIES_ENABLE_PLAYER3=
FIREFOX_SELKIES_ENABLE_PLAYER4=


## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
FIREFOX_HOMEPAGE_LABELS_ENABLE=true
FIREFOX_HOMEPAGE_GROUP_FIREFOX=Network
FIREFOX_HOMEPAGE_NAME_FIREFOX=Firefox
# Choose a service icon from any of these services:
## https://dashboardicons.com/                 :: no prefix needed
## https://pictogrammers.com/library/mdi/      :: prefix with mdi-*
## https://simpleicons.org/                    :: prefix with si-*
## https://selfh.st/icons/                     :: prefix with sh-*
FIREFOX_HOMEPAGE_ICON_FIREFOX=firefox
## If description is blank, it will default to the the traefik_host:
FIREFOX_HOMEPAGE_DESCRIPTION_FIREFOX=
## Display container stats widget:
FIREFOX_HOMEPAGE_SHOW_STATS_FIREFOX=true

# META:
# PREFIX=FIREFOX
