volumes:
  config:

services:
  firefox:
    build:
      context: firefox
      args:
        IMAGE: ${FIREFOX_IMAGE}
    cap_add:
      - NET_ADMIN
    security_opt:
      - no-new-privileges:true
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=1024
    restart: unless-stopped
    environment:
      - PUID=${FIREFOX_UID}
      - PGID=${FIREFOX_GID}
      - ROUTER_IPV4=${FIREFOX_ROUTER_IPV4}
      - ROUTER_IPV6=${FIREFOX_ROUTER_IPV6}
      - DRI_NODE=${FIREFOX_DRI_NODE}
      - DRINODE=${FIREFOX_DRINODE}
      - SUBFOLDER=/${FIREFOX_SUBFOLDER}
      - TITLE=Firefox${FIREFOX_TITLE}
      - DASHBOARD=selkies-dashboard${FIREFOX_DASHBOARD}
      - FILE_MANAGER_PATH=/config/Downloads${FIREFOX_FILE_MANAGER_PATH}
      - START_DOCKER=false${FIREFOX_START_DOCKER}
      - DISABLE_IPV6=false${FIREFOX_DISABLE_IPV6}
      - LC_ALL=en_US.UTF-8${FIREFOX_LC_ALL}
      - NO_DECOR=false${FIREFOX_NO_DECOR}
      - NO_FULL=false${FIREFOX_NO_FULL}
      - NO_GAMEPAD=false${FIREFOX_NO_GAMEPAD}
      - DISABLE_ZINK=false${FIREFOX_DISABLE_ZINK}
      - DISABLE_DRI3=false${FIREFOX_DISABLE_DRI3}
      - MAX_RES=${FIREFOX_MAX_RES}
      - WATERMARK_PNG=${FIREFOX_WATERMARK_PNG}
      - WATERMARK_LOCATION=${FIREFOX_WATERMARK_LOCATION}
      - HARDEN_DESKTOP=${FIREFOX_HARDEN_DESKTOP}
      - HARDEN_OPENBOX=${FIREFOX_HARDEN_OPENBOX}
      - DISABLE_OPEN_TOOLS=${FIREFOX_DISABLE_OPEN_TOOLS}
      - DISABLE_SUDO=${FIREFOX_DISABLE_SUDO}
      - DISABLE_TERMINALS=${FIREFOX_DISABLE_TERMINALS}
      - DISABLE_CLOSE_BUTTON=${FIREFOX_DISABLE_CLOSE_BUTTON}
      - DISABLE_MOUSE_BUTTONS=${FIREFOX_DISABLE_MOUSE_BUTTONS}
      - HARDEN_KEYBINDS=${FIREFOX_HARDEN_KEYBINDS}
      - RESTART_APP=${FIREFOX_RESTART_APP}
      - SELKIES_USE_CPU=${FIREFOX_SELKIES_USE_CPU}
      - SELKIES_ENCODER=${FIREFOX_SELKIES_ENCODER}
      - SELKIES_FRAMERATE=${FIREFOX_SELKIES_FRAMERATE}
      - SELKIES_UI_TITLE=${FIREFOX_SELKIES_UI_TITLE}
      - SELKIES_UI_SHOW_LOGO=${FIREFOX_SELKIES_UI_SHOW_LOGO}
      - SELKIES_UI_SHOW_SIDEBAR=${FIREFOX_SELKIES_UI_SHOW_SIDEBAR}
      - SELKIES_UI_SHOW_CORE_BUTTONS=${FIREFOX_SELKIES_UI_SHOW_CORE_BUTTONS}
      - SELKIES_UI_SIDEBAR_SHOW_VIDEO_SETTINGS=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_VIDEO_SETTINGS}
      - SELKIES_UI_SIDEBAR_SHOW_SCREEN_SETTINGS=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_SCREEN_SETTINGS}
      - SELKIES_UI_SIDEBAR_SHOW_AUDIO_SETTINGS=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_AUDIO_SETTINGS}
      - SELKIES_UI_SIDEBAR_SHOW_STATS=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_STATS}
      - SELKIES_UI_SIDEBAR_SHOW_CLIPBOARD=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_CLIPBOARD}
      - SELKIES_UI_SIDEBAR_SHOW_FILES=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_FILES}
      - SELKIES_UI_SIDEBAR_SHOW_APPS=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_APPS}
      - SELKIES_UI_SIDEBAR_SHOW_SHARING=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_SHARING}
      - SELKIES_UI_SIDEBAR_SHOW_GAMEPADS=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_GAMEPADS}
      - SELKIES_UI_SIDEBAR_SHOW_FULLSCREEN=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_FULLSCREEN}
      - SELKIES_UI_SIDEBAR_SHOW_GAMING_MODE=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_GAMING_MODE}
      - SELKIES_UI_SIDEBAR_SHOW_TRACKPAD=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_TRACKPAD}
      - SELKIES_UI_SIDEBAR_SHOW_KEYBOARD_BUTTON=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_KEYBOARD_BUTTON}
      - SELKIES_UI_SIDEBAR_SHOW_SOFT_BUTTONS=${FIREFOX_SELKIES_UI_SIDEBAR_SHOW_SOFT_BUTTONS}
      - SELKIES_AUDIO_ENABLED=${FIREFOX_SELKIES_AUDIO_ENABLED}
      - SELKIES_MICROPHONE_ENABLED=${FIREFOX_SELKIES_MICROPHONE_ENABLED}
      - SELKIES_GAMEPAD_ENABLED=${FIREFOX_SELKIES_GAMEPAD_ENABLED}
      - SELKIES_CLIPBOARD_ENABLED=${FIREFOX_SELKIES_CLIPBOARD_ENABLED}
      - SELKIES_COMMAND_ENABLED=${FIREFOX_SELKIES_COMMAND_ENABLED}
      - SELKIES_FILE_TRANSFERS=${FIREFOX_SELKIES_FILE_TRANSFERS}
      - SELKIES_ENCODER=${FIREFOX_SELKIES_ENCODER}
      - SELKIES_FRAMERATE=${FIREFOX_SELKIES_FRAMERATE}
      - SELKIES_H264_CRF=${FIREFOX_SELKIES_H264_CRF}
      - SELKIES_JPEG_QUALITY=${FIREFOX_SELKIES_JPEG_QUALITY}
      - SELKIES_H264_FULLCOLOR=${FIREFOX_SELKIES_H264_FULLCOLOR}
      - SELKIES_H264_STREAMING_MODE=${FIREFOX_SELKIES_H264_STREAMING_MODE}
      - SELKIES_USE_CPU=${FIREFOX_SELKIES_USE_CPU}
      - SELKIES_USE_PAINT_OVER_QUALITY=${FIREFOX_SELKIES_USE_PAINT_OVER_QUALITY}
      - SELKIES_PAINT_OVER_JPEG_QUALITY=${FIREFOX_SELKIES_PAINT_OVER_JPEG_QUALITY}
      - SELKIES_H264_PAINTOVER_CRF=${FIREFOX_SELKIES_H264_PAINTOVER_CRF}
      - SELKIES_H264_PAINTOVER_BURST_FRAMES=${FIREFOX_SELKIES_H264_PAINTOVER_BURST_FRAMES}
      - SELKIES_SECOND_SCREEN=${FIREFOX_SELKIES_SECOND_SCREEN}
      - SELKIES_AUDIO_BITRATE=${FIREFOX_SELKIES_AUDIO_BITRATE}
      - SELKIES_IS_MANUAL_RESOLUTION_MODE=${FIREFOX_SELKIES_IS_MANUAL_RESOLUTION_MODE}
      - SELKIES_MANUAL_WIDTH=${FIREFOX_SELKIES_MANUAL_WIDTH}
      - SELKIES_MANUAL_HEIGHT=${FIREFOX_SELKIES_MANUAL_HEIGHT}
      - SELKIES_SCALING_DPI=${FIREFOX_SELKIES_SCALING_DPI}
      - SELKIES_ENABLE_BINARY_CLIPBOARD=${FIREFOX_SELKIES_ENABLE_BINARY_CLIPBOARD}
      - SELKIES_USE_BROWSER_CURSORS=${FIREFOX_SELKIES_USE_BROWSER_CURSORS}
      - SELKIES_USE_CSS_SCALING=${FIREFOX_SELKIES_USE_CSS_SCALING}
      - SELKIES_PORT=${FIREFOX_SELKIES_PORT}
      - SELKIES_DRI_NODE=${FIREFOX_SELKIES_DRI_NODE}
      - SELKIES_AUDIO_DEVICE_NAME=${FIREFOX_SELKIES_AUDIO_DEVICE_NAME}
      - SELKIES_WATERMARK_PATH=${FIREFOX_SELKIES_WATERMARK_PATH}
      - SELKIES_WATERMARK_LOCATION=${FIREFOX_SELKIES_WATERMARK_LOCATION}
      - SELKIES_DEBUG=${FIREFOX_SELKIES_DEBUG}
      - SELKIES_ENABLE_SHARING=${FIREFOX_SELKIES_ENABLE_SHARING}
      - SELKIES_ENABLE_COLLA=${FIREFOX_SELKIES_ENABLE_COLLA}
      - SELKIES_ENABLE_SHARED=${FIREFOX_SELKIES_ENABLE_SHARED}
      - SELKIES_ENABLE_PLAYER2=${FIREFOX_SELKIES_ENABLE_PLAYER2}
      - SELKIES_ENABLE_PLAYER3=${FIREFOX_SELKIES_ENABLE_PLAYER3}
      - SELKIES_ENABLE_PLAYER4=${FIREFOX_SELKIES_ENABLE_PLAYER4}
    volumes:
      - config:/config
    labels: []
