THTTPD_TRAEFIK_HOST=thttpd.example.com
THTTPD_UID=54321
THTTPD_GID=54321
# Instance name is needed for dynamic router name (default is `default` if blank):
THTTPD_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
THTTPD_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
THTTPD_HTTP_AUTH=
