# The docker image to use for Ollama
# https://hub.docker.com/r/ollama/ollama/tags
#
# Don't add "-rocm" to the tag - the installer will do that
# automatically if you're installing for a ROCm environment
# (e.g., use "ollama/ollama:0.11.10", not "ollama/ollama:0.11.10-rocm").
#
# Also, one possible tag is just "rocm", which is the latest tag for
# ROCm environments; don't use the "rocm" tag, as this installer will
# add "-rocm" to it, which will not work. The goal here is to force
# pinning a version.
OLLAMA_IMAGE=ollama/ollama:0.14.2

# The domain name for the ollama service:
OLLAMA_TRAEFIK_HOST=ollama.example.com

# The name of this instance. If there is only one instance, use 'default'.
OLLAMA_INSTANCE=

# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
OLLAMA_INSTANCE_PROTECTION=false


## Enter the profile for the processing engine: cuda (for nvidia
## GPUs), rocm (for AMD GPUs), or cpu (to use only the CPU).
DOCKER_COMPOSE_PROFILES=cpu

# For AMD GPUs that ROCm doesn’t officially support, you can try
# setting OLLAMA_HSA_OVERRIDE_GFX_VERSION to a value that matches
# your GPU’s architecture (e.g., if you run `rocminfo` on the host
# with the AMD GPU and the "Name" of your GPU is
# "amdgcn-amd-amdhsa--gfx1030", you'd enter the value `10.3.0`). If
# your GPU is supported by ROCm or if you're using a non-AMD GPU,
# leave OLLAMA_HSA_OVERRIDE_GFX_VERSION unset.
OLLAMA_HSA_OVERRIDE_GFX_VERSION=10.3.0

## Configure an API token required to access the API:
## Leave blank to disable the token requirement.
OLLAMA_API_TOKEN=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
OLLAMA_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
OLLAMA_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
OLLAMA_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
OLLAMA_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
OLLAMA_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
OLLAMA_MTLS_AUTHORIZED_CERTS=*.clients.ollama.example.com

## Leave OLLAMA_MODELS_HOST_PATH blank to save models in the named
## Docker volume for the Ollama container, or enter a path on the host
## to save them there.
OLLAMA_MODELS_HOST_PATH=

# META:
# PREFIX=OLLAMA
