FRESHRSS_TRAEFIK_HOST=freshrss.example.com
FRESHRSS_INSTANCE=

## Time zone for cron:
TIME_ZONE=Europe/Paris

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
FRESHRSS_IP_SOURCERANGE=0.0.0.0/0
