# The Docker image to use for Uptime Kuma.
# https://hub.docker.com/r/louislam/uptime-kuma/tags
UPTIME_KUMA_IMAGE=louislam/uptime-kuma:2
# The image for Docker Socket Proxy
# https://hub.docker.com/r/tecnativa/docker-socket-proxy/tags
UPTIME_KUMA_DOCKER_SOCKET_PROXY_IMAGE=tecnativa/docker-socket-proxy:v0.4.2

# The domain name for the uptime_kuma service:
UPTIME_KUMA_TRAEFIK_HOST=uptime.example.com

# The name of this instance. If there is only one instance, use 'default'.
UPTIME_KUMA_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
UPTIME_KUMA_INSTANCE_PROTECTION=false

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
UPTIME_KUMA_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
UPTIME_KUMA_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
UPTIME_KUMA_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
UPTIME_KUMA_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
UPTIME_KUMA_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
UPTIME_KUMA_MTLS_AUTHORIZED_CERTS=*.clients.uptime.example.com

## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
UPTIME_KUMA_HOMEPAGE_LABELS_ENABLE=true
UPTIME_KUMA_HOMEPAGE_GROUP_UPTIME_KUMA=Network
UPTIME_KUMA_HOMEPAGE_NAME_UPTIME_KUMA=Uptime-Kuma
# Choose a service icon from any of these services:
## https://dashboardicons.com/                 :: no prefix needed
## https://pictogrammers.com/library/mdi/      :: prefix with mdi-*
## https://simpleicons.org/                    :: prefix with si-*
## https://selfh.st/icons/                     :: prefix with sh-*
UPTIME_KUMA_HOMEPAGE_ICON_UPTIME_KUMA=uptime-kuma
## If description is blank, it will default to the the traefik_host:
UPTIME_KUMA_HOMEPAGE_DESCRIPTION_UPTIME_KUMA=
## Display container stats widget:
UPTIME_KUMA_HOMEPAGE_SHOW_STATS_UPTIME_KUMA=false

# Set the logging level of Docker Socket Proxy. Valid values are
# debug, info, notice, warning, err, crit, alert, emerg.
UPTIME_KUMA_DOCKER_SOCKET_PROXY_LOG_LEVEL=info

# To mount extra paths on the host into volumes in the Uptime Kuma
# container, add a comma-separated list of volume mappings. For
# example:
# UPTIME_KUMA_EXTRA_VOLUMES=/path/to/dir1:/mnt/dir1,/path/to/dir2:/mnt/dir2
UPTIME_KUMA_EXTRA_VOLUMES=


# META:
# PREFIX=UPTIME_KUMA
