NGINX_WEBDAV_TRAEFIK_HOST=dav.example.com
NGINX_WEBDAV_INSTANCE=

# Name of the required external Docker volume to mount to /www :
NGINX_WEBDAV_EXTERNAL_VOLUME=
# NGINX will run as the same UID/GID as the external volume file owner/group:
NGINX_WEBDAV_UID=1000
NGINX_WEBDAV_GID=1000

# HTTP Basic Auth required (comma separated htpasswd encoded usernames/passwords)
NGINX_WEBDAV_HTTP_AUTH=

# WebDAV HTTP methods (these defaults are good for TiddlyWiki):
NGINX_WEBDAV_ACCESS=rw
NGINX_WEBDAV_METHODS=PUT DELETE MKCOL COPY MOVE
NGINX_WEBDAV_EXT_METHODS=PROPFIND OPTIONS
