# The docker image to use:
COMMENTARIO_IMAGE=registry.gitlab.com/comentario/comentario

# The domain name for the commentario service:
COMMENTARIO_TRAEFIK_HOST=commentario.example.com

# The name of this instance. If there is only one instance, use 'default'.
COMMENTARIO_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
COMMENTARIO_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
COMMENTARIO_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
COMMENTARIO_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
COMMENTARIO_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
COMMENTARIO_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
COMMENTARIO_MTLS_AUTHORIZED_CERTS=*.clients.commentario.example.com

COMMENTARIO_POSTGRES_VERSION=16
COMMENTARIO_POSTGRES_PASSWORD=
COMMENTARIO_POSTGRES_DB=commentario

COMMENTARIO_EMAIL_FROM=you@example.com
COMMENTARIO_SMTP_HOST=smtp.example.com
COMMENTARIO_SMTP_PORT=465
COMMENTARIO_SMTP_USERNAME=you@example.com
COMMENTARIO_SMTP_PASSWORD=

# META:
# PREFIX=COMMENTARIO

