MINIO_IMAGE=quay.io/minio/minio

# The name of this instance. If there is only one instance, use 'default'.
MINIO_INSTANCE=

## The admin console domain name:
MINIO_CONSOLE_TRAEFIK_HOST=console.s3.example.com
## The public S3 domain name:
MINIO_TRAEFIK_HOST=s3.example.com
## Set a secure username/password:
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=
MINIO_SITE_REGION=default

## IP address filtering - use CIDR notation, can specify multiple separated by commas
## Default (0.0.0.0/0) allows all IPs.
## Example to limit to single IP address 192.168.1.1:  S3_SOURCERANGE="192.168.1.1/32"
## https://doc.traefik.io/traefik/middlewares/tcp/ipallowlist/
S3_SOURCERANGE="0.0.0.0/0"
CONSOLE_SOURCERANGE="0.0.0.0/0"

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
MINIO_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
MINIO_MTLS_AUTHORIZED_CERTS=*.clients.minio.example.com
