## The admin console domain name:
MINIO_CONSOLE_TRAEFIK_HOST=console.s3.example.com
## The public S3 domain name:
MINIO_TRAEFIK_HOST=s3.example.com
## Set a secure username/password:
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=

## IP address filtering - use CIDR notation, can specify multiple separated by commas
## Default (0.0.0.0/0) allows all IPs.
## Example to limit to single IP address 192.168.1.1:  S3_SOURCERANGE="192.168.1.1/32"
## https://doc.traefik.io/traefik/middlewares/tcp/ipwhitelist/
S3_SOURCERANGE="0.0.0.0/0"
CONSOLE_SOURCERANGE="0.0.0.0/0"
