## The Minio container tag to use:
## (https://quay.io/repository/minio/minio?tab=tags)
## This would install the latest version:
# MINIO_IMAGE=quay.io/minio/minio
## This would install a specific tag:
# MINIO_IMAGE=quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z-cpuv1
MINIO_IMAGE=quay.io/minio/minio
## The console image to use:
## (https://github.com/astrateam-net/containers/pkgs/container/minio-browser)
MINIO_CONSOLE_IMAGE=ghcr.io/astrateam-net/minio-browser:1.7.6

## The name of this instance. If there is only one instance, use 'default'.
MINIO_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
MINIO_INSTANCE_PROTECTION=false

## The console domain name:
MINIO_CONSOLE_TRAEFIK_HOST=console.s3.example.com
## The public S3 domain name:
MINIO_TRAEFIK_HOST=s3.example.com

# The Traefik entrypoint to use:
MINIO_TRAEFIK_ENTRYPOINT=websecure
## Set a secure username/password:
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=
MINIO_SITE_REGION=default

## You can limit traffic based on source IP address for MinIO's S3 API and/or the console, by expressing an IP range filter.
## https://doc.traefik.io/traefik/middlewares/tcp/ipallowlist/
##   Example: 0.0.0.0/0 allows all IPs.
##   Example: 0.0.0.0/32 disables all access.
##   Example: 192.168.1.1/32 limits access to the single IP address 192.168.1.1.
## Use CIDR notation. You can specify multiple, separated by commas, enclose entire value in double-quotes.
##   Example: CONSOLE_SOURCERANGE="192.168.1.0/24,10.15..0.2/32"
S3_SOURCERANGE="0.0.0.0/0"
CONSOLE_SOURCERANGE="0.0.0.0/32"

## Mutual TLS (mTLS):
## Set true or false. If true, all clients must present a certificate signed by Step-CA:
MINIO_MTLS_AUTH=false
## Enter a comma separated list of client domains allowed to connect via mTLS.
## Wildcards are allowed and encouraged on a per-app basis:
MINIO_MTLS_AUTHORIZED_CERTS=*.clients.minio.example.com

## If you have a Step-CA certificate for your minio instance, tell the mc client to trust it:
MINIO_STEP_CA_ENABLED=false
MINIO_STEP_CA_ENDPOINT=https://ca.example.com
MINIO_STEP_CA_FINGERPRINT=

## Required to encrypt JWT payload
MINIO_CONSOLE_PASSPHRASE=
## Salt to encrypt JWT payload
MINIO_CONSOLE_SALT=
MINIO_CONSOLE_ACCESS_KEY=
MINIO_CONSOLE_SECRET_KEY=

# META:
# PREFIX=MINIO
