# The image to use for Archivebox - https://hub.docker.com/r/archivebox/archivebox/tags
ARCHIVEBOX_IMAGE=archivebox/archivebox:0.7

ARCHIVEBOX_TRAEFIK_HOST=archivebox.example.com
ARCHIVEBOX_INSTANCE=

## htpasswd encoded username/passwords:
ARCHIVEBOX_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Gitea server can log into your app and
# have full access.
ARCHIVEBOX_OAUTH2=
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
ARCHIVEBOX_OAUTH2_AUTHORIZED_GROUP=

## Create a secure secret passphrase used for hashing URLs:
SECRET_KEY=this_is_insecure_change_me_right_now

## Backend (ArchiveBox) administrator username / password : 
ARCHIVEBOX_USERNAME=archivebox
ARCHIVEBOX_PASSWORD=change_me
ARCHIVEBOX_EMAIL=admin@localhost

## Python log levels for the API gateway: DEBUG, INFO, WARN, ERROR
API_LOG_LEVEL=WARN

## Build the API gateway from an arbitrary (git) source or directory:
ARCHIVEBOX_API_GATEWAY_CONTEXT=https://github.com/EnigmaCurry/archivebox-api-gateway.git

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
ARCHIVEBOX_IP_SOURCERANGE=0.0.0.0/0

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
ARCHIVEBOX_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
ARCHIVEBOX_MTLS_AUTHORIZED_CERTS=*.clients.archivebox.example.com

