ARCHIVEBOX_TRAEFIK_HOST=archivebox.example.com
ARCHIVEBOX_INSTANCE=
## htpasswd encoded username/passwords:
ARCHIVEBOX_HTTP_AUTH=

## Create a secure secret passphrase used for hashing URLs:
SECRET_KEY=this_is_insecure_change_me_right_now

## Backend (ArchiveBox) administrator username / password : 
ARCHIVEBOX_USERNAME=archivebox
ARCHIVEBOX_PASSWORD=change_me
ARCHIVEBOX_EMAIL=admin@localhost

## Python log levels for the API gateway: DEBUG, INFO, WARN, ERROR
API_LOG_LEVEL=WARN

## Build the API gateway from an arbitrary (git) source or directory:
## ARCHIVEBOX_API_GATEWAY_CONTEXT=https://github.com/EnigmaCurry/archivebox-api-gateway.git


# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
ARCHIVEBOX_IP_SOURCERANGE=0.0.0.0/0
