# The docker image to use:
SYNCTHING_IMAGE=syncthing/syncthing:2

# The domain name for the syncthing service:
SYNCTHING_TRAEFIK_HOST=syncthing.example.com

# The name of this instance. If there is only one instance, use 'default'.
SYNCTHING_INSTANCE=

SYNCTHING_UID=1000
SYNCTHING_GID=1000

SYNCTHING_LISTEN_PORT=22000

SYNCTHING_ADMIN_ENABLE=false
SYNCTHING_ADMIN_IP_SOURCERANGE=127.0.0.1/32
# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
SYNCTHING_ADMIN_HTTP_AUTH=
# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
SYNCTHING_ADMIN_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
SYNCTHING_ADMIN_OAUTH2_AUTHORIZED_GROUP=
# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
SYNCTHING_ADMIN_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
SYNCTHING_ADMIN_MTLS_AUTHORIZED_CERTS=*.clients.syncthing.example.com

## Set external volumes to mount
## SYNCTHING_VOL_EXTERNAL is a comma separated string of mount_name:host_path tuples
## Example: SYNCTHING_VOL_EXTERNAL=ryan-music:/storage/music,bob-pics:/var/media/bob/pics
## Each volume will be mounted under /mnt/{mount_name} inside the container.
SYNCTHING_VOL_EXTERNAL=

## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
SYNCTHING_HOMEPAGE_LABELS_ENABLE=true
SYNCTHING_HOMEPAGE_GROUP_SYNCTHING=Network
SYNCTHING_HOMEPAGE_NAME_SYNCTHING=Syncthing
# Choose a service icon from any of these services:
## https://dashboardicons.com/                 :: no prefix needed
## https://pictogrammers.com/library/mdi/      :: prefix with mdi-*
## https://simpleicons.org/                    :: prefix with si-*
## https://selfh.st/icons/                     :: prefix with sh-*
SYNCTHING_HOMEPAGE_ICON_SYNCTHING=syncthing
## If description is blank, it will default to the the traefik_host:
SYNCTHING_HOMEPAGE_DESCRIPTION_SYNCTHING=
## Display container stats widget:
SYNCTHING_HOMEPAGE_SHOW_STATS_SYNCTHING=false
## Homepage doesn't have a widget for syncthing, but this is an example for other apps to follow:
SYNCTHING_HOMEPAGE_WIDGET_ENABLE=false
SYNCTHING_HOMEPAGE_WIDGET_API_KEY=

# META:
# PREFIX=SYNCTHING
