# https://hub.docker.com/r/joohoi/acme-dns/tags
ACME_DNS_IMAGE=joohoi/acme-dns:v1.0

# Name of the instance to create. Leave blank to use the `default` instance.
ACME_DNS_INSTANCE=

## Create a dedicated sub-domain for acme-dns and TXT record updates. e.g., acme-dns.example.com
ACME_DNS_SUBDOMAIN=

## Choose the host port that acme-dns API listens to
ACME_DNS_API_PORT=2890

## Set the public IP address of your acme-dns host - e.g., 10.0.0.42
## (public at least from the perspective of your CA server)
ACME_DNS_PUBLIC_IP_ADDRESS=

## Set the hostname for the acme-dns server:
ACME_DNS_HOSTNAME=auth

## Set your SOA RNAME ("Responsible Party") email address.
## Don't use the @ symbol; the first . is interpretted as the @ symbol
## e.g., hostmaster@example.com = hostmaster.example.com
ACME_DNS_HOSTMASTER=

## Set a comma separated list of additional DNS records to create:
## e.g., ACME_DNS_RECORDS=foo.acme-dns.example.com. A 203.0.113.10,bar.acme-dns.example.com. CNAME foo.acme-dns.example.com.
ACME_DNS_RECORDS=

## You may wish to disable registration after you have registered all of your clients:
ACME_DNS_DISABLE_REGISTRATION=false

