ACME_DNS_TRAEFIK_HOST=acme-dns.example.com

## acme dns doesn't really support instances, because it requires
## exclusive use of port 53 to function. But nonetheless it will work
## as long as you also set a unique ACME_DNS_TRAEFIK_ENTRYPOINT
ACME_DNS_INSTANCE=

ACME_DNS_TRAEFIK_DNS_ENTRYPOINT=dns

# https://hub.docker.com/r/joohoi/acme-dns/tags
ACME_DNS_IMAGE=joohoi/acme-dns
ACME_DNS_VERSION=v1.0

## Important: Must replace the @ symbol with a .
## eg. admin@example.com should be set as admin.example.com
ACME_DNS_ADMIN_EMAIL=admin.example.com

## optional email address for your lets encrypt account:
ACME_DNS_ACME_CA_EMAIL=

## Important: you must set this as the public IP of your docker server
ACME_DNS_PUBLIC_IP=

## Registration is enabled by default, set this to true to disable it:
ACME_DNS_DISABLE_REGISTRATION=false

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
ACME_DNS_IP_SOURCERANGE=0.0.0.0/0

