# https://hub.docker.com/r/copyparty/ac/tags
# https://github.com/9001/copyparty/tree/hovudstraum/scripts/docker#editions
COPYPARTY_IMAGE=copyparty/ac:1.19.10

# The domain name for the copyparty service:
COPYPARTY_TRAEFIK_HOST=copyparty.example.com

# The name of this instance. If there is only one instance, use 'default'.
COPYPARTY_INSTANCE=

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
COPYPARTY_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
COPYPARTY_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
COPYPARTY_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`. 
COPYPARTY_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
COPYPARTY_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
COPYPARTY_MTLS_AUTHORIZED_CERTS=*.clients.copyparty.example.com

## Set the Copyparty Edition you want to build an image for:
##    min (57 MiB, 20 gz) is just copyparty itself
##    im (70 MiB, 25 gz) can thumbnail images with pillow, parse media files with mutagen
##    ac (163 MiB, 56 gz) is im plus ffmpeg for video/audio thumbs + audio transcoding + better tags
##    iv (211 MiB, 73 gz) is ac plus vips for faster heif / avic / jxl thumbnails
##    dj (309 MiB, 104 gz) is iv plus beatroot/keyfinder to detect musical keys and bpm
## ac is recommended since the additional features available in iv and dj are rarely useful
COPYPARTY_EDITION=ac

COPYPARTY_ADMIN_USER=admin
COPYPARTY_ADMIN_PASSWORD=
COPYPARTY_ENABLE_STATS=true
COPYPARTY_DISABLE_DUPE=true
COPYPARTY_NO_ROBOTS=true
COPYPARTY_FORCE_JS=true

## Set additional user accounts
## COPYPARTY_USERS is a comma separated string of user:pass tuples
## Example: COPYPARTY_USERS="mike:supersecret,ryan:hunter2"
COPYPARTY_USERS=

## Set list of data sub-directories of the default volume (under /data):
## e.g., COPYPARTY_VOL_INTERNAL=mike,photos/upload
COPYPARTY_VOL_INTERNAL=

## Set external volumes to mount
## COPYPARTY_VOL_EXTERNAL is a comma separated string of mount_name:host_path tuples
## Example: COPYPARTY_VOL_EXTERNAL=ryan-music:/storage/music,bob-pics:/var/media/bob/pics
## Each volume will be mounted under /mnt/{mount_name} inside the container.
COPYPARTY_VOL_EXTERNAL=

## Set directory permissions
## COPYPARTY_PERMISSIONS=/path:perm:user1/user2,...
##   - example: "/ryan:rwmda:ryan,/music:rw:ryan/bob"
##   - "path" is the **virtual path** (section header), e.g., /mike or /photos
##   - users are slash-delimited to avoid commas
COPYPARTY_PERMISSIONS=

## Allow unauthenticated public access to read only from /public volume?
COPYPARTY_ENABLE_PUBLIC_ACCESS=true

## Allow unauthenticated guest access to upload only to /guests volume?
COPYPARTY_ENABLE_GUEST_ACCESS=false

# META:
# PREFIX=COPYPARTY
