# The Docker image to use.
# Excalidraw appears to not use tags and only updated "latest" tag:
# https://hub.docker.com/r/excalidraw/excalidraw/tags
EXCALIDRAW_IMAGE=excalidraw/excalidraw:latest

# The domain name for the excalidraw service:
EXCALIDRAW_TRAEFIK_HOST=excalidraw.example.com

# The name of this instance. If there is only one instance, use 'default'.
EXCALIDRAW_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
EXCALIDRAW_INSTANCE_PROTECTION=false

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
EXCALIDRAW_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
EXCALIDRAW_HTTP_AUTH=

# OAUTH2
# Set to `true` to use OpenID/OAuth2 authentication via the
# traefik-forward-auth service in d.rymcg.tech.
# Using OpenID/OAuth2 will require login to access your app,
# but it will not affect what a successfully logged-in person can do in your
# app. If your app has built-in authentication and can check the user
# header that traefik-forward-auth sends, then your app can limit what the
# logged-in person can do in the app. But if your app can't check the user
# header, or if your app doesn't have built-in authentication at all, then
# any person with an account on your Forgejo server can log into your app and
# have full access.
EXCALIDRAW_OAUTH2=false
# In addition to Oauth2 authentication, you can configure basic authorization
# by entering which authorization group can log into your app. You create
# groups of email addresses in the `traefik` folder by running `make groups`.
EXCALIDRAW_OAUTH2_AUTHORIZED_GROUP=

# Mutual TLS (mTLS):
# Set true or false. If true, all clients must present a certificate signed by Step-CA:
EXCALIDRAW_MTLS_AUTH=false
# Enter a comma separated list of client domains allowed to connect via mTLS.
# Wildcards are allowed and encouraged on a per-app basis:
EXCALIDRAW_MTLS_AUTHORIZED_CERTS=*.clients.excalidraw.example.com

## Labels to configure Homepage
## See https://github.com/EnigmaCurry/d.rymcg.tech/tree/master/homepage#homepage
EXCALIDRAW_HOMEPAGE_LABELS_ENABLE=true
EXCALIDRAW_HOMEPAGE_GROUP_EXCALIDRAW=Network
EXCALIDRAW_HOMEPAGE_NAME_EXCALIDRAW=Excalidraw
# Choose a service icon from any of these services:
## https://dashboardicons.com/                 :: no prefix needed
## https://pictogrammers.com/library/mdi/      :: prefix with mdi-*
## https://simpleicons.org/                    :: prefix with si-*
## https://selfh.st/icons/                     :: prefix with sh-*
EXCALIDRAW_HOMEPAGE_ICON_EXCALIDRAW=sh-excalidraw
## If description is blank, it will default to the the traefik_host:
EXCALIDRAW_HOMEPAGE_DESCRIPTION_EXCALIDRAW=
## Display container stats widget:
EXCALIDRAW_HOMEPAGE_SHOW_STATS_EXCALIDRAW=true
## Homepage doesn't have a widget for excalidraw, but this is an example for other apps to follow:
EXCALIDRAW_HOMEPAGE_WIDGET_ENABLE=false
EXCALIDRAW_HOMEPAGE_WIDGET_API_KEY=

# META:
# PREFIX=EXCALIDRAW
