# The docker context to build from:
ACME_SH_GIT_REPO=https://github.com/acmesh-official/acme.sh
ACME_SH_GIT_TAG=3.1.1

# The name of this instance. If there is only one instance, use 'default'.
ACME_SH_INSTANCE=

## The hostname of the ACME server:
ACME_SH_ACME_CA=ca.example.com
## The API path of the ACME directory:
ACME_SH_ACME_DIRECTORY=/acme/acme/directory

## The base URL of acme-dns server:
ACME_SH_ACME_DNS_BASE_URL=https://auth.acme-dns.example.com

# META:
# PREFIX=ACME_SH
