# The docker context to build from:
ACME_SH_GIT_REPO=https://github.com/acmesh-official/acme.sh
ACME_SH_GIT_TAG=3.1.1

## Acme.sh has a built-in upgrade feature, but we will disable it by default,
## so that the code does not deviate from the GIT version specified above.
ACME_SH_AUTO_UPGRADE=0

# The name of this instance. If there is only one instance, use 'default'.
ACME_SH_INSTANCE=

## The hostname of the ACME server:
ACME_SH_ACME_CA=ca.example.com
## The API path of the ACME directory:
ACME_SH_ACME_DIRECTORY=/acme/acme/directory

## The base URL of acme-dns server:
ACME_SH_ACME_DNS_BASE_URL=https://auth.acme-dns.example.com

## Set the validity period (hours) of the certs to generated (1440 hours = 60 days)
ACME_SH_CERT_PERIOD_HOURS=1440

## Set the cron schedule for renewals:
## Cron should be run at least hourly, since the cert validity is expressed in hours.
ACME_SH_CRON_SCHEDULE="0 * * * *"

# META:
# PREFIX=ACME_SH
