# domain:
WEBSOCKETD_TRAEFIK_HOST=socket.example.com

WEBSOCKETD_INSTANCE=
WEBSOCKETD_HTTP_AUTH=
WEBSOCKETD_IP_SOURCERANGE=0.0.0.0/0

# URL path:
WEBSOCKETD_APP_PATH=/app
# Turn on dev console:
WEBSOCKETD_DEV_CONSOLE=false
