# domain:
SOCKET_TRAEFIK_HOST=socket.example.com
# URL path:
APP_PATH=/app
# Turn on dev console:
DEV_CONSOLE=false
# Choose Let's Encrypt 'staging' or 'production' environment:
ACME_CERT_RESOLVER=production
