WIREGUARD_IMAGE=linuxserver/wireguard:latest
WIREGUARD_INSTANCE=

TIMEZONE=Etc/UTC

## Options copied from your VPN provider's wireguard config file:
WIREGUARD_VPN_CLIENT_INTERFACE_IPV4=
WIREGUARD_VPN_CLIENT_INTERFACE_IPV6=
WIREGUARD_VPN_CLIENT_INTERFACE_PRIVATE_KEY=
WIREGUARD_VPN_CLIENT_INTERFACE_LISTEN_PORT=51820
WIREGUARD_VPN_CLIENT_INTERFACE_PEER_DNS=
WIREGUARD_VPN_CLIENT_PEER_PUBLIC_KEY=
WIREGUARD_VPN_CLIENT_PEER_PRESHARED_KEY=
WIREGUARD_VPN_CLIENT_PEER_ENDPOINT=
WIREGUARD_VPN_CLIENT_PEER_ALLOWED_IPS=0.0.0.0/0,::0/0

## Set a unique subnet CIDR to dedicate to the wireguard network:
## Pick unique IP address for the gateway and wireguard containers:
WIREGUARD_DOCKER_SUBNET_IPV4=
WIREGUARD_DOCKER_SUBNET_IPV6=
WIREGUARD_DOCKER_GATEWAY_ADDRESS_IPV4=
WIREGUARD_DOCKER_GATEWAY_ADDRESS_IPV6=
WIREGUARD_DOCKER_WIREGUARD_ADDRESS_IPV4=
WIREGUARD_DOCKER_WIREGUARD_ADDRESS_IPV6=

# META:
# PREFIX=WIREGUARD
