# time zone https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TIMEZONE=America/Los_Angeles

## The domain name of the wireguard server (even if you don't connect it to traefik):
WIREGUARD_TRAEFIK_HOST=wireguard.example.com
## The wireguard port exposed to the host (same port inside the container):
WIREGUARD_HOST_PORT=51820
## The number or the names of the clients to create (see the client QR codes in the log)
WIREGUARD_PEERS=client1,client2
## The private subnet assigned to the wireguard server and clients:
WIREGUARD_SUBNET=10.13.16.0/24
## If peer dns is set to auto, use the hosts DNS resolver:
WIREGUARD_PEERDNS=auto

## List of docker networks for wireguard to join (comma separated)
WIREGUARD_NETWORKS=traefik-wireguard

### Allowed IPs will limit which traffic goes through the VPN:
## To make all traffic go through the vpn:
WIREGUARD_ALLOWEDIPS=0.0.0.0/0, ::0/0
## To make only the private subnet go through the vpn:
#WIREGUARD_ALLOWEDIPS=10.13.16.0/24

WIREGUARD_CLIENT_NAME=test