# Wireguard image / version:
WIREGUARD_IMAGE=lscr.io/linuxserver/wireguard:latest

# The name of this instance. If there is only one instance, use 'default'.
WIREGUARD_INSTANCE=

# Specify the hostname of this wireguard server:
WIREGUARD_HOST=wireguard.example.com

# UDP port for wireguard service to listen on:
WIREGUARD_PORT=51820

# Specify the timezone of the server:
WIREGUARD_TIMEZONE=Etc/UTC

# Specify the comma separated list of peer names to create configs for.
# Peer names must be alphanumeric only (no spaces, no dashes, no underscores)
# (Alternatively, you may specify a number here, instead of a list)
WIREGUARD_PEERS=client1,client2

# Specify the DNS server to be used by all the peers:
# (eg. '1.1.1.1', or 'auto' to use the host server's own DNS setting)
WIREGUARD_PEERDNS=auto

# Specify the subnet to be used for the peers:
WIREGUARD_SUBNET=10.13.17.0

# Specify the allowed IP ranges (comma separated) that peers can access through the VPN:
# (eg. 0.0.0.0/0,::0/0 to use the VPN for all ipv4 and ipv6 traffic.)
WIREGUARD_ALLOWEDIPS=0.0.0.0/0,::0/0

# Specify whether or not to log the peer configs (including private keys!)
WIREGUARD_LOG_CONFS=false

# Specify the list of peers to send a keep alive packets to:
# (eg 'all', or a comma separated list of peer names. Set blank to turn it off.)
# This is a required setting only if you wish to run a private SERVER behind a NAT firewall.
WIREGUARD_PERSISTENTKEEPALIVE_PEERS=

# Specify the PEER ports you wish to expose to the PUBLIC internet:
# Format is a comma separated list of 4-tuples: PEER_IP_ADDRESS:PEER_PORT:PUBLIC_PORT:PORT_TYPE,...
# For example, to open two public ports (443/tcp and 53/udp), to two different clients (.2 and .3):
### WIREGUARD_PUBLIC_PEER_PORTS=10.13.17.2:443:443:tcp,10.13.17.3:53:53:udp
# Note that PEER_PORT and PUBLIC_PORT do not need to be the same. Leave blank to disable this feature.
WIREGUARD_PUBLIC_PEER_PORTS=
