#! This is a ytt template file for docker-compose.override.yaml
#! References:
#!   https://carvel.dev/ytt
#!   https://docs.docker.com/compose/extends/#adding-and-overriding-configuration
#!   https://github.com/enigmacurry/d.rymcg.tech#overriding-docker-composeyaml-per-instance

#! ### Standard project vars:
#@ load("@ytt:data", "data")
#@ project = data.values.project
#@ instance = data.values.instance
#@ context = data.values.context
#@ docker_subnet = data.values.docker_subnet
#@ docker_gateway_address = data.values.docker_gateway_address
#@ docker_wireguard_address = data.values.docker_wireguard_address

#@yaml/text-templated-strings
services:
  wireguard:
    networks:
      wgnet:
        ipv4_address: (@= docker_wireguard_address @)

#@yaml/text-templated-strings
networks:
  wgnet:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        - subnet: (@= docker_subnet @)
          gateway: (@= docker_gateway_address @)
