## https://github.com/willfarrell/docker-autoheal/tags
AUTOHEAL_VERSION=1.2.0

# The label to enable certain containers to be autohealed.
# Use `all` to monitor all containers regardless of any labels.
AUTOHEAL_CONTAINER_LABEL=autoheal

# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
AUTOHEAL_INSTANCE_PROTECTION=false

# check every X seconds
AUTOHEAL_INTERVAL=60

# wait 0 seconds before first health check
AUTOHEAL_START_PERIOD=0

# Docker waits max 10 seconds (the Docker default) for a container to stop before killing during restarts
## override by setting a container label: `autoheal.stop.timeout=20`
AUTOHEAL_DEFAULT_STOP_TIMEOUT=10

# --max-time seconds for curl requests to Docker API
AUTOHEAL_CURL_TIMEOUT=30

# post message to the webhook if a container was restarted (or restart failed)
AUTOHEAL_WEBHOOK_URL=

# META:
# PREFIX=AUTOHEAL

