DOH_IMAGE=jedisct1/dnscrypt-server:latest
DOH_TRAEFIK_HOST=dns.example.com
DOH_INSTANCE=
DOH_IP_SOURCERANGE=0.0.0.0/0
DOH_PUBLIC_IP_ADDRESS=
DOH_UPSTREAM_DNS=9.9.9.9
DOH_UPSTREAM_DNS_PORT=53

# META:
# PREFIX=DOH

