DOH_IMAGE=jedisct1/dnscrypt-server:latest
DOH_TRAEFIK_HOST=dns.example.com

# The Traefik entrypoint to use:
DOH_TRAEFIK_ENTRYPOINT=websecure
DOH_INSTANCE=
# You can protect this instance from uninstallation by setting this true:
## If true, make this instance immune to: `make uninstall`, `make destroy`
## Still allowed regardless: `make install`, `make stop`, `make start`, `make restart`
DOH_INSTANCE_PROTECTION=false

DOH_IP_SOURCERANGE=0.0.0.0/0
DOH_PUBLIC_IP_ADDRESS=
DOH_UPSTREAM_DNS=9.9.9.9
DOH_UPSTREAM_DNS_PORT=53

# META:
# PREFIX=DOH

