SYSBOX_SYSTEMD_TRAEFIK_HOST=my-service.example.com

# The name of this instance. If there is only one instance, use 'default'.
SYSBOX_SYSTEMD_INSTANCE=

## List of all the apt packages to install during the image build process:
SYSBOX_SYSTEMD_INSTALL_PACKAGES=procps systemd systemd-sysv libsystemd0 ca-certificates iptables iproute2 kmod locales sudo udev less wget curl

# Filter access by IP address source range (CIDR):
##Disallow all access: 0.0.0.0/32
##Allow all access: 0.0.0.0/0
SYSBOX_SYSTEMD_IP_SOURCERANGE=0.0.0.0/0

# HTTP Basic Authentication:
# Use `make config` to fill this in properly, or set this to blank to disable.
SYSBOX_SYSTEMD_HTTP_AUTH=

