# The name of this instance. If there is only one instance, use 'default'.
SYSBOX_SYSTEMD_INSTANCE=

## List of all the apt packages to install during the image build process:
SYSBOX_SYSTEMD_INSTALL_PACKAGES=procps systemd systemd-sysv libsystemd0 ca-certificates iptables iproute2 kmod locales sudo udev less
