TIDLYWIKI_TRAEFIK_HOST=wiki.example.com
TIDLYWIKI_INSTANCE=

TIDLYWIKI_PUBLIC_IP_SOURCERANGE=0.0.0.0/32
TIDLYWIKI_ADMIN_IP_SOURCERANGE=0.0.0.0/0
TIDLYWIKI_HTTP_AUTH=

TIDLYWIKI_NGINX_SERVER_NAME=tidlywiki
TIDLYWIKI_NGINX_UID=54321
TIDLYWIKI_NGINX_GID=54321
