TIDDLYWIKI_TRAEFIK_HOST=wiki.example.com
TIDDLYWIKI_INSTANCE=

TIDDLYWIKI_IMPORT_URL=https://tiddlywiki.com/empty.html

TIDDLYWIKI_ADMIN_HTTP_AUTH=
TIDDLYWIKI_PUBLIC_HTTP_AUTH=

TIDDLYWIKI_PUBLIC_IP_SOURCERANGE=0.0.0.0/32
TIDDLYWIKI_ADMIN_IP_SOURCERANGE=0.0.0.0/0

TIDDLYWIKI_NGINX_SERVER_NAME=tidlywiki
TIDDLYWIKI_NGINX_UID=54321
TIDDLYWIKI_NGINX_GID=54321
