TIDDLYWIKI_TRAEFIK_HOST=wiki.example.com
TIDDLYWIKI_INSTANCE=

# https://tiddlywiki.com/#Editions
TIDDLYWIKI_IMPORT_URL=https://tiddlywiki.com/empty.html

TIDDLYWIKI_ADMIN_HTTP_AUTH=
TIDDLYWIKI_PUBLIC_HTTP_AUTH=

TIDDLYWIKI_PUBLIC_IP_SOURCERANGE=0.0.0.0/32
TIDDLYWIKI_ADMIN_IP_SOURCERANGE=0.0.0.0/0

TIDDLYWIKI_NGINX_SERVER_NAME=tidlywiki
TIDDLYWIKI_NGINX_UID=54321
TIDDLYWIKI_NGINX_GID=54321

TIDDLYWIKI_GIT_BACKUP_REPO=
TIDDLYWIKI_GIT_BACKUP_NAME=index.html
TIDDLYWIKI_GIT_BACKUP_AUTHOR=TiddlyWiki Autocommit Bot
TIDDLYWIKI_GIT_BACKUP_EMAIL=bot@example.com

## Enable optional docker-compose profiles: default,git-autocommit
DOCKER_COMPOSE_PROFILES=default

